/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 17-feb-2020, 16:56:56
    Author     : enadal
*/
:root {
    --primary-color: #414145;
    --secondary-color: #9E9E9E;
}


.nav_tr{
    background-color: #9E9E9E;
    color: black;
}
