*{
    padding: 0;
    margin: 0;
}

  .d-inline-flex{
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }


.d-flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.justify-content-space-between{
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.justify-content-space-around{
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
.justify-content-flex-end{
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

.d-block{
    display: block;
}
.flex-wrap{
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.align-self-center{
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}
.text-input__loading--line {
    height: 100%;
    -webkit-animation: pulse 1s infinite ease-in-out;
            animation: pulse 1s infinite ease-in-out;
    width: 100%;
    position: absolute;
}

.flex-direction-column{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}


.rigth-0{
    right: 0;
}



.background-extra-two{
    background: #D2E2F2;
}

.extra-color-one{
    color:#707070;
}

.color-page{
    background: #EAEAEE;
}

.flex-display{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.flex-inline{
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.justify-content-center{
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.align-items-center{
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center
}
.flex-column{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column
}

.justify-content-end{
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}
.align-items-end{
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}

.ul-format{
    list-style: none;
    padding: 0;
    margin: 0;
}

.mb-0{
    margin-bottom: 0;
}

.fs-12{
    font-size: 12px;
}


.mb-5{
    margin-bottom: 5rem;
}

.mb-4{
    margin-bottom: 4rem;
}
.mb-5{
    margin-bottom: 5rem;
}
.mb-3{
    margin-bottom: 3rem;
}
.mb-2{
    margin-bottom: 2rem;
}
.mb-1{
    margin-bottom: 1rem;
}
.cornflowerblue-background{
    background: cornflowerblue;
}

.d-block{
    display: block;
}

.mt-15{
    margin-top: 15px;
}

.fixed{
    position: fixed;
}

.w-100{
width: 100%;
}

.top-0{
    top: 0;
}
.left-0{
    left: 0;
}
.right-0{
    right: 0;
}

.dark-red-background{
    background: darkred;
}

.white-background{
    background: white;
}

.br-100{
    border-radius: 100px;
}
.position-relative{
    position: relative;
}

.position-absolute{
    position: absolute;
}

