@media (max-width: 1200px) {

	.menu-principal{
		background: var(--btn-primary-background);
	}

	.menu-principal-content li, .menu-principal-content li a{
		color: var(--btn-secondary-text);
	}
}

@media (width < 1200px) {
	.menu-header {
		align-items: center;
	}
}

@media (width < 768px) {
	.logo-header a {
		flex-direction: column;
		text-align: center;
	}

	header.fixed .logo-header p {
		display: none;
	}
}

@media (width < 576px) {

	.logo-company {
		max-width: 100px;
	}

	.logo-header p {
		font-size: 15px;
	}
}

@media (width < 368px) {
	.logo-header p {
		font-size: 13px;
	}
}
