:root {
    --primary-color: #414145;
    --secondary-color: #004b7a;
    --complement-color: #414145;
    --extra-color: #004b7a;
    --primary-color-text: #707070;
	--secondary-color-text: #46494f;

	--btn-primary-background: #004b7a;
	--btn-primary-background-hover: #38423B;
	--btn-primary-text: #fff;
	--btn-primary-text-hover: #ffffffde;

	--btn-secondary-background: #585858;
	--btn-secondary-background-hover: #2f2f2f;
	--btn-secondary-text: #ffffffde;
	--btn-secondary-text-hover: #ffffffde;

	--header-links-color-hover: #65686E;

	--newsletter-background: #585858;
	--newsletter-text: #ffffffde;
	--newsletter-placeholder: #ffffffde;
	--newsletter-input-border: #004b7a;
	--newsletter-input-text: #ffffffde;

	--footer-background: white;
	--footer-titles-color: #004b7a;
	--footer-links-color: #707070;
	--footer-links-color-hover: #585858;

	--footer-sociallinks-background: white;
	--footer-sociallinks-textcolor: #707070;

	--filter-background: #414145;
}

header, nav {
	height: auto;
}

.menu-header {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.logo-header a {
	display: flex;
	align-items: center;
	text-decoration: none;
	gap: 1rem;
}

.logo-header p {
	margin: 0;
    line-height: 1.1;
    font-family: serif;
    font-weight: 600;
	font-size: 22px;
}

header.fixed .logo-header p {
	font-size: 19px;
}

.logo-company {
	width: 100%;
    max-width: 120px;
	height: auto;
}

.user-account .logo-company{
	height: initial;
}

.account-user-menu .filters-auction-content {
	background-color: var(--filter-background);
}

header.fixed nav .logo-company{
	height: 55px;
    width: auto;
	max-width: none;
}

.menu-header .menu-principal-content{
	justify-content: end;
}

.create-account-link a{
	background: var(--btn-secondary-background);
}

.create-account-link a:hover{
	background: var(--btn-secondary-background-hover);
	color: var(--btn-secondary-text-hover);
}

/* Campos de Lotes Ficha O */
.ficha-content .pre .title-font {
	margin-bottom: 0;
    font-size: 20px;
    font-weight: 100;
    text-transform: none;
}

.ficha-content .pre .pre-price {
    font-size: 25px;
    font-weight: normal;
	text-shadow: #ABABA7 1px 1px 1px;
}

/* Campos de descripción de ficha */
.desc-margin {
	margin-bottom: 2rem;
}

.bread-after, .follow {
	margin-top: 2rem;
}

.bread, .follow .next {
	margin: 0;
}

.bread-content {
	min-height: auto;
	padding-top: 0;
	line-height: initial;
}

.ficha-content {
	margin-bottom: 1rem;
}

.btns_fav {
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: 30px;
	color: var(--btn-primary-background);
	transition: all 0.5s ease-in;
}

.btns_fav:hover, .btns_fav:focus {
	color: var(--btn-primary-background-hover);
}

.ficha-tipo-v .desc-lot-title {
	margin-top: 0;
}

.desc-lot-profile-content {
	font-size: 15px;
}

.other, .mine {
	color: var(--primary-color-text) !important;
}

.banner-link {
	text-align: center;
}

.info-type-auction {
	margin-left: 0;
}
