@font-face {
	font-family: MartelSans;
	src: url(./../assets/fonts/MartelSans-ExtraLight.ttf);
	font-weight: 100;
}

@font-face {
	font-family: MartelSans;
	src: url(./../assets/fonts/MartelSans-Light.ttf);
	font-weight: 300;
}

@font-face {
	font-family: MartelSans;
	src: url(./../assets/fonts/MartelSans-Regular.ttf);
	font-weight: 400;
}

@font-face {
	font-family: MartelSans;
	src: url(./../assets/fonts/MartelSans-SemiBold.ttf);
	font-weight: 600;
}

@font-face {
	font-family: MartelSans;
	src: url(./../assets/fonts/MartelSans-Bold.ttf);
	font-weight: 700;
}

@font-face {
	font-family: MartelSans;
	src: url(./../assets/fonts/MartelSans-ExtraBold.ttf);
	font-weight: 800;
}

@font-face {
	font-family: MartelSans;
	src: url(./../assets/fonts/MartelSans-Black.ttf);
	font-weight: 900;
}

:root {
	--lb-color-primary: #0D5257;
	--lb-color-primary-light: #E7EEEE;
	--lb-color-primary-dark: #0a3f43;
	--lb-color-primary-contrast: #ffffffea;

	--lb-color-secondary: #B9B20E;
	--lb-color-secondary-lighter: rgb(185, 178, 14, 0.2);
	--lb-color-secondary-light: #999314;
	--lb-color-secondary-dark: #EDECC2;
	--lb-color-secondary-contrast: #0D5257;

	--lb-color-gray: #666;

	--lb-color-primary-background: var(--lb-color-primary);
	--lb-color-backgorund: #cd212212;
	--lb-color-backgorund-dark: rgb(10, 63, 67, 0.2);
	--lb-color-backgorund-light: rgb(10, 63, 67, 0.05);

	--lb-text-color-rgb: 13, 82, 87;
	--lb-text-color-primary: rgba(var(--lb-text-color-rgb), 0.75);
	--lb-text-color-secondary: rgba(var(--lb-text-color-rgb), 0.54);
	--lb-text-color-disabled: rgba(var(--lb-text-color-rgb), 0.38);
	--lb-text-color-winner: #00870d;
	--lb-text-color-loser: #ff4040;

	--lb-box-shadow-color-rgb: 0, 0, 0;
	--lb-box-shadow: 0 1px 2px 0 rgba(var(--lb-box-shadow-color-rgb), 0.1);
	--lb-box-shadow-lot: rgba(50, 50, 105, 0.15) 0 2px 5px 0, rgba(0, 0, 0, 0.05) 0 1px 1px 0;

	--lb-border-radius: 0.125rem;
	--lb-color-border-light: rgb(10, 63, 67, 0.05);

	--font-extra-light: 100;
	--font-light: 300;
	--font-normal: 400;
	--font-semi-bold: 600;
	--font-bold: 700;
	--font-extra-bold: 800;
	--font-black: 900;
	/*
	|--------------------------------------------------------------------------
	| Overwritte Boostrap
	|--------------------------------------------------------------------------
	*/
	--bs-font-sans-serif: 'MartelSans', 'Rubik', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--bs-border-radius: var(--lb-border-radius, 0.375rem);
	--bs-accordion-transition: color 1s ease-in-out, background-color 1s ease-in-out, border-color 1s ease-in-out, box-shadow 1s ease-in-out, border-radius 1s ease;
	--bs-body-font-size: 16pt;

	--bs-link-color: var(--lb-color-gray);
	--bs-link-hover-color: #222;
}

/*
|--------------------------------------------------------------------------
| General
|--------------------------------------------------------------------------
*/

h1,
.h1 {
	font-family: var(--bs-font-sans-serif);
	font-weight: var(--font-extra-light);
	position: relative;
	padding-bottom: 0.5rem;
}

h1::before {
	content: ' ';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 64px;
	height: 4px;
	background-color: var(--lb-color-secondary);
}

h1.no-decoration::before {
	content: none;
}

h2,
.h2 {
	color: var(--lb-color-secondary);
	font-weight: var(--font-normal);
}

h3,
.h3 {
	font-weight: var(--font-light);
}

@media (min-width: 1200px) {

	h1,
	.h1 {
		font-size: 22pt;
	}

	h2,
	.h2 {
		font-size: 26pt;
	}

	h3,
	.h3 {
		font-size: 26pt;
	}

	.fs-40pt {
		font-size: 40pt;
	}
}

.text-lb-secondary {
	color: var(--lb-color-secondary);
}

.text-lb-gray {
	color: var(--lb-color-gray);
}

.crop-img {
	overflow: hidden;
	position: relative;
}

.crop-img img {
	position: absolute;
	left: -100%;
	right: -100%;
	top: -100%;
	bottom: -100%;
	margin: auto;
	min-height: 100%;
	min-width: 100%;
}

.btn {
	--bs-btn-font-size: 18pt;
	padding-top: 0.5rem;
	font-weight: var(--font-extra-light);

}

.btn-lb-primary {
	--bs-btn-active-border-color: var(--lb-color-secondary);
	--bs-btn-active-bg: var(--lb-color-secondary);
	--bs-btn-hover-border-color: var(--lb-color-secondary);
	--bs-btn-hover-bg: var(--lb-color-secondary);
}

.btn-outline-lb-primary {
	--bs-btn-active-border-color: var(--lb-color-secondary);
	--bs-btn-active-bg: var(--lb-color-secondary);
	--bs-btn-hover-border-color: var(--lb-color-secondary);
	--bs-btn-hover-bg: var(--lb-color-secondary);
}

.btn-lb-secondary {
	--lb-color-primary-light: #8ea8a8;
	--bs-btn-color: var(--lb-color-primary-contrast);
	--bs-btn-border-color: var(--lb-color-primary-light);
	--bs-btn-bg: var(--lb-color-primary-light);
	--bs-btn-active-color: var(--lb-color-secondary-contrast);
	--bs-btn-active-border-color: #fff;
	--bs-btn-active-bg: #fff;
	--bs-btn-hover-color: var(--lb-color-secondary-contrast);
	--bs-btn-hover-border-color: #fff;
	--bs-btn-hover-bg: #fff;
	min-width: 240px;
}

.rowBanner {
	--bs-gutter-y: 1rem;
}

main.subastas,
main.grid {
	padding-top: 3rem;
	padding-bottom: 3rem;
}
/*
|--------------------------------------------------------------------------
| Header
|--------------------------------------------------------------------------
*/
body > header {
	border-bottom: 1px solid var(--lb-color-secondary);
	text-transform: uppercase;
}

.first-header-wrapper {
	background-color: var(--lb-color-primary);
	color: #fff;
	font-size: 14pt;
}

header .first-header-wrapper a,
header .first-header-wrapper a.selected {
	color: inherit;
}

header .navbar-brand {
	width: 170px;
	height: 80px;
}

header .nav-item {
	flex: 1;
	flex-direction: column;
}

header .nav-link:hover,
header .nav-link:active,
header .nav-link:focus {
	text-decoration: none;
	font-weight: var(--font-extra-bold);
	color: var(--lb-color-primary);
}

header .dropdown-menu {
	--bs-dropdown-border-color: none;
	--bs-dropdown-link-color: var(--lb-color-primary);
	/* text-align: center; */
}

@media (min-width: 1400px) {
	header .dropdown-menu {
		--bs-dropdown-padding-x: 0.5rem;
		--bs-dropdown-color: var(--lb-color-primary-contrast);
		--bs-dropdown-bg: var(--lb-color-primary);
		--bs-dropdown-border-color: var(--bs-border-color-translucent);
		--bs-dropdown-border-radius: 0;
		--bs-dropdown-border-width: 0;
		--bs-dropdown-link-color: var(--lb-color-primary-contrast);
		--bs-dropdown-link-hover-color: #fff;
		--bs-dropdown-link-hover-bg: transparent;
		--bs-dropdown-link-active-color: transparent;
		--bs-dropdown-link-active-bg: transparent;
		--bs-dropdown-item-padding-x: 1rem;
		--bs-dropdown-item-padding-y: 0.25rem;
		min-width: 150%;
		/* text-align: left; */
	}

	header .nav-item.dropdown {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	header .nav-item {
		text-align: center;
	}
}


.dropdown-item:focus,
.dropdown-item:hover {
	color: var(--bs-dropdown-link-hover-color);
	background-color: var(--bs-dropdown-link-hover-bg);
	text-decoration: none;
	font-weight: var(--font-extra-bold);
}

/*
|--------------------------------------------------------------------------
| Footer
|--------------------------------------------------------------------------
*/
.contact-banner {
	background-image: url('/themes/jesusvico/assets/img/contacta.webp');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 560px;
	color: var(--lb-color-primary-contrast);
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2rem;
}

footer {
	background-color: var(--lb-color-primary);
	color: var(--lb-color-primary-contrast);
}

footer a,
footer a:hover,
footer a:focus {
	color: var(--lb-color-primary-contrast);
	text-decoration: none;
}

footer .nav-item {
	--bs-nav-link-font-size: 14pt;
	font-size: 14pt;
}

footer .nav-link {
	--bs-nav-link-color: var(--lb-color-primary-contrast);
	--bs-nav-link-hover-color: var(--lb-color-primary-contrast);
	--bs-nav-link-padding-x: 0;
	--bs-nav-link-padding-y: 0.125rem;
}

footer h5 {
	font-weight: var(--font-bold);
}

.newsletter {
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 0;
	background-color: transparent;
}

.newsletter .form-control {
	background: transparent;
	border-radius: 0;
	padding: 0.5rem 0.75rem;
	color: var(--lb-color-primary-contrast);
}

.newsletter .form-control::placeholder {
	color: var(--lb-color-primary-contrast);
}

.newsletter .form-check-input:checked {
	background-color: var(--lb-color-primary);
	border-color: var(--lb-color-primary-contrast);
}

/*
|--------------------------------------------------------------------------
| Estaticas
|--------------------------------------------------------------------------
*/
.static-page p {
	font-size: 18pt;
}

ul.style-diamond {
	list-style: '◆';
	padding-left: 1rem;
}

ul.style-diamond li {
	padding-left: 1rem;
	margin-bottom: 1rem;
}

ul.style-diamond li::marker {
	color: var(--lb-color-secondary);
}

.bg-lb-color-primary-light {
	background-color: var(--lb-color-primary-light);
}

.bg-lb-color-primary {
	background-color: var(--lb-color-primary-background);
}

.bg-lb-color-backgorund-dark {
	background-color: var(--lb-color-backgorund-dark);
}

.bg-lb-color-backgorund-light {
	background-color: var(--lb-color-backgorund-light);
}

.bg-secondary-color {
	background-color: var(--lb-color-secondary);
}

.bg-secondary-color-lighter {
	background-color: var(--lb-color-secondary-lighter);
}

.lb-border-light {
	border: var(--lb-color-border-light) solid 2px;
}

.static-link:hover,
.static-link:focus,
.static-link {
	color: inherit;
	text-decoration: none;
}

.static-link-gray:hover,
.static-link-gray:focus,
.static-link-gray {
	color: var(--lb-color-gray);
	text-decoration: none;
}

.decoration {
	position: relative;
	z-index: 1;
}

.decoration::after,
.decoration::before {
	content: ' ';
	position: absolute;
	width: 50%;
	height: 80%;
	background-color: var(--lb-color-primary-light);
}

/* .decoration::before {
	left: 0;
	top: calc(var(--bs-gutter-x) * -.5);
}

.decoration::after {
	right: 0;
	bottom: calc(var(--bs-gutter-x) * -.5);
} */
.decoration::before {
	left: -12px;
	top: -22px;
}

.decoration::after {
	right: -12px;
	bottom: -22px;
}

.decoration>* {
	z-index: 2;
	position: relative;
}

.flex-align-center-row {
	display: flex;
	align-items: center;
	flex-direction: row;
}

.input-text-style {
	border: none;
	background-color: var(--lb-color-backgorund-light);
	border-radius: 0%;
}

.input-text-style:focus {
	color: #212529;
	background-color: var(--lb-color-backgorund-light);
	border: var(--lb-color-primary) 0.5px solid;
	outline: 0;
	box-shadow: 0 0 0 1px var(--lb-color-primary-dark);
}

.tasacion-height-arrow-container {
	height: 380px;
}

@media (min-width: 768px) {
	.tasacion-height-arrow-container {
		height: 350px;
	}
}

@media (min-width: 992px) {
	.tasacion-height-arrow-container {
		height: 450px;
	}

	.margin-video {
		margin: 2rem;
	}
}

@media (min-width: 1200px) {
	.tasacion-height-arrow-container {
		height: 550px;
	}
}

/*
|--------------------------------------------------------------------------
| HOME
|--------------------------------------------------------------------------
*/
.newsletter-banner {
	background-image: url('/themes/jesusvico/assets/img/newsletter_bg.webp');
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
	height: 700px;
	color: var(--lb-color-primary-contrast);
	text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 2rem;
}

.newsletter-banner a,
.newsletter-banner a:focus,
.newsletter-banner a:hover {
	color: var(--lb-color-primary-contrast);
}

/*
|--------------------------------------------------------------------------
| SUBASTAS
|--------------------------------------------------------------------------
*/
.auctions-wrapper .year-border {
	margin-top: 2rem;
	margin-bottom: 1rem;
}

.auctions-wrapper .year-border * {
	margin: 0;
}

.auction-card .card-body {
	padding-left: 0;
	padding-right: 0;
}

.auction-card .auction-card-title {
	min-height: calc(1.2 * 2 * 1rem);
}
