@import url('global.css');

:root {
	--pading-pages: 1rem;
}

@media(min-width: 992px) {
	:root {
		--pading-pages: 3rem;
	}
}

.rowBanner {
	--bs-gutter-y: 1rem;
}

.user-panel-page,
.home-static-page,
.create-account,
main {
	padding-top: var(--pading-pages);
	padding-bottom: var(--pading-pages);
}

.badge-custom-primary {
	background-color: var(--lb-color-gray);
}

.badge-custom-primary span {
	padding-top: 0.1rem;
}

.form-check-input:checked[type=radio] {
	background-color: #fff;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -3.8 8 8'%3e%3ccircle r='3' fill='%230d5257'/%3e%3c/svg%3e");
}

.fs-45 {
	font-size: calc(1.375rem + 1.5vw);
}

@media(min-width: 1200px) {
	.fs-45 {
		font-size: 45px;
	}
}

/*
|--------------------------------------------------------------------------
| Header
|--------------------------------------------------------------------------
*/
body>header {
	border-bottom: 1px solid var(--lb-color-secondary);
	text-transform: uppercase;
}

.first-header-wrapper {
	background-color: var(--lb-color-primary);
	color: #fff;
	font-size: 16px;
}

header .first-header-wrapper a,
header .first-header-wrapper a.selected {
	color: inherit;
}

header .navbar-brand {
	width: 170px;
	height: 80px;
}

header .nav-item {
	flex: 1;
	flex-direction: column;
}

header .nav-link:hover,
header .nav-link:active,
header .nav-link:focus {
	text-decoration: none;
	font-weight: var(--font-extra-bold);
	color: var(--lb-color-primary);
}

header .dropdown-menu {
	--bs-dropdown-border-color: none;
	--bs-dropdown-link-color: var(--lb-color-primary);
	/* text-align: center; */
}

@media (min-width: 1400px) {
	header .dropdown-menu {
		--bs-dropdown-padding-x: 0.5rem;
		--bs-dropdown-color: var(--lb-color-primary-contrast);
		--bs-dropdown-bg: var(--lb-color-primary);
		--bs-dropdown-border-color: var(--bs-border-color-translucent);
		--bs-dropdown-border-radius: 0;
		--bs-dropdown-border-width: 0;
		--bs-dropdown-link-color: var(--lb-color-primary-contrast);
		--bs-dropdown-link-hover-color: #fff;
		--bs-dropdown-link-hover-bg: transparent;
		--bs-dropdown-link-active-color: transparent;
		--bs-dropdown-link-active-bg: transparent;
		--bs-dropdown-item-padding-x: 1rem;
		--bs-dropdown-item-padding-y: 0.5rem;
		min-width: 150%;
		/* text-align: left; */
	}

	header .nav-item.dropdown {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	header .nav-item {
		text-align: center;
	}
}


.dropdown-item:focus,
.dropdown-item:hover {
	color: var(--bs-dropdown-link-hover-color);
	background-color: var(--bs-dropdown-link-hover-bg);
	text-decoration: none;
	font-weight: var(--font-extra-bold);
}

.login_desktop .input-group:not(.has-validation)>:not(:last-child) {
	background-color: #fff;
	border-right: 0;
}

.login_desktop .input-group>:not(:first-child) {
	border-left: 0;
	background-color: #fff;
}

/*
|--------------------------------------------------------------------------
| Footer
|--------------------------------------------------------------------------
*/
.contact-banner {
	height: 560px;
	color: var(--lb-color-primary-contrast);
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2rem;
	position: relative;
}

.contact-banner img {
    position: absolute;
	left: 0;
	top: 0;
    width: 100%;
    height: 100%;
	object-fit: cover;
    filter: brightness(0.8);
}

.contact-banner > :not(img) {
	z-index: 1;
}

footer {
	background-color: var(--lb-color-primary);
	color: var(--lb-color-primary-contrast);
}

footer a,
footer a:hover,
footer a:focus {
	color: var(--lb-color-primary-contrast);
	text-decoration: none;
}

footer .nav-item {
	--bs-nav-link-font-size: 16px;
}

footer .nav-link {
	--bs-nav-link-color: var(--lb-color-primary-contrast);
	--bs-nav-link-hover-color: var(--lb-color-primary-contrast);
	--bs-nav-link-padding-x: 0;
	--bs-nav-link-padding-y: 0.125rem;
}

footer h5 {
	font-weight: var(--font-bold);
}

.newsletter {
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 0;
	background-color: transparent;
}

.newsletter .form-control {
	background: rgb(0, 0, 0, 0.5);
	border-radius: 0;
	padding: 0.5rem 0.75rem;
	color: var(--lb-color-primary-contrast);
}

.newsletter .form-control::placeholder {
	color: var(--lb-color-primary-contrast);
}

.newsletter .form-check-input:checked {
	background-color: var(--lb-color-primary);
	border-color: var(--lb-color-primary-contrast);
}

/*
|--------------------------------------------------------------------------
| Estaticas
|--------------------------------------------------------------------------
*/
:root {
	--decoration-size: 10px;
}

@media (min-width: 768px) {
	:root {
		--decoration-size: 20px;
	}
}

@keyframes lb-fade {
	0% {
		opacity: 0;
		-webkit-transform: var(--translate);
		transform: var(--translate);
	}

	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

.carousel-item {
	transition: transform .6s ease-in-out;
}

.lb-fadeIn {
	opacity: 0;
	animation-delay: var(--delay, .2s);
	-webkit-animation-duration: .6s;
	animation-duration: .6s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;

	--translate: var(--translate, translate3d(0, 100px, 0));
	animation-name: lb-fade;
}

.lb-fadeInRight {
	--translate: translate3d(100px, 0, 0);
}

.lb-fadeInLeft {
	--translate: translate3d(-100px, 0, 0);
}

.lb-fadeInBottom {
	--translate: translate3d(0, 100px, 0);
}

.separator {
	opacity: 0;
	padding-top: var(--separator, 1rem);
	padding-bottom: var(--separator, 1rem);
	margin-top: var(--separator, 1rem);
	margin-bottom: var(--separator, 1rem);
}

@media(min-width: 992px) {
	.separator {
		--separator: 3rem;
	}
}


.static-page, .static-page p {
	font-size: calc(1.275rem + .3vw);
}

.static-page :is(span, b) {
	font-size: inherit !important;
}

section.static-page.home-static-page {
	text-align: justify;
}

@media(min-width: 1200px) {
	.static-page, .static-page p {
		font-size: 20px;
	}
}

ul.style-diamond {
	list-style: '◆';
	padding-left: 1rem;
}

ul.style-diamond li {
	padding-left: 1rem;
	margin-bottom: 1rem;
}

ul.style-diamond li::marker {
	color: var(--lb-color-secondary);
}

ul.style-diamond li p {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
}

.bg-lb-color-primary-light {
	background-color: var(--lb-color-primary-light);
}

.bg-lb-color-primary {
	background-color: var(--lb-color-primary-background);
}

.bg-lb-color-backgorund-dark {
	background-color: var(--lb-color-backgorund-dark);
}

.bg-lb-color-backgorund-light {
	background-color: var(--lb-color-backgorund-light);
}

.bg-secondary-color {
	background-color: var(--lb-color-secondary);
}

.bg-secondary-color-lighter {
	background-color: var(--lb-color-secondary-lighter);
}

.lb-border-light {
	border: var(--lb-color-border-light) solid 2px;
}

.static-link:hover,
.static-link:focus,
.static-link {
	color: inherit;
	text-decoration: none;
}

.static-link-gray:hover,
.static-link-gray:focus,
.static-link-gray {
	color: var(--lb-color-gray);
	text-decoration: none;
}

.decoration {
	position: relative;
	z-index: 1;
	margin: var(--decoration-size);

}

.decoration::after,
.decoration::before {
	--size-decoration: calc(var(--decoration-size) * -1);
	content: ' ';
	position: absolute;
	width: 50%;
	height: 80%;
	background-color: var(--lb-color-primary-light);
}

.decoration::before {
	left: var(--size-decoration);
	top: var(--size-decoration);
}

.decoration::after {
	right: var(--size-decoration);
	bottom: var(--size-decoration);
}

.decoration>* {
	z-index: 2;
	position: relative;
}

.input-text-style {
	border: none;
	background-color: var(--lb-color-backgorund-light);
	border-radius: 0%;
}

.input-text-style:focus {
	color: #212529;
	background-color: var(--lb-color-backgorund-light);
	border: var(--lb-color-primary) 0.5px solid;
	outline: 0;
	box-shadow: 0 0 0 1px var(--lb-color-primary-dark);
}

.tasacion-height-arrow-container {
	height: 380px;
}

@media (min-width: 768px) {
	.tasacion-height-arrow-container {
		height: 350px;
	}
}

@media (min-width: 992px) {
	.tasacion-height-arrow-container {
		height: 450px;
	}
}

@media (min-width: 1200px) {
	.tasacion-height-arrow-container {
		height: 550px;
	}
}

/*
|--------------------------------------------------------------------------
| HOME
|--------------------------------------------------------------------------
*/
.newsletter-banner {
	height: 500px;
	color: var(--lb-color-primary-contrast);
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
	gap: 2rem;
	position: relative;
}

.newsletter-banner img {
    position: absolute;
	left: 0;
	top: 0;
    width: 100%;
    height: 100%;
	object-fit: cover;
    filter: brightness(0.7);
}

.newsletter-banner > div {
	z-index: 1;
}

.newsletter-banner a,
.newsletter-banner a:focus,
.newsletter-banner a:hover {
	color: var(--lb-color-primary-contrast);
}

.static-page-banner {
	height: auto;
	overflow: hidden;
}

.static-page-banner img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: center;
}

.home-static-page p {
	margin-bottom: 0.5rem;
}

.home-static-page .lb-blockquote {
	max-width: 100%;
}

.home-static-page a {
	color: currentcolor;
}

@media(min-width: 992px) {
	.static-page-banner {
		height: 400px;
	}

	.static-page-banner img {
		object-fit: cover;
	}

	.home-static-page .lb-blockquote {
		max-width: 50%;
	}
}

.column_banner .triple {
	border: 1px solid rgb(var(--lb-color-primary-rgb), 0.2);
	background-color: var(--lb-color-primary-extra-light);
}

.column_banner .triple:hover {
	background-color: var(--lb-color-primary-light);
}

.section-destacados .slick-dots li {
	margin: 0;
}

.section-destacados .lot-card {
	margin: 10px 5px;
}

/*
|--------------------------------------------------------------------------
| SUBASTAS
|--------------------------------------------------------------------------
*/
.auctions-wrapper .year-border {
	margin-top: 2rem;
	margin-bottom: 1rem;
}

.auctions-wrapper .year-border * {
	margin: 0;
}

.auction-card .card-body {
	padding-left: 0;
	padding-right: 0;
}

.auction-card .card-img-top {
	border-radius: var(--bs-card-border-radius);
	height: auto;
	object-fit: cover;
	object-position: center;
}

.auction-card .auction-card-title {
	min-height: calc(1.2 * 2 * 1rem);
}

.auction-card .card-buttons {
	width: 100%;
	display: flex;
	justify-content: stretch;
	flex-wrap: wrap;
}

.auction-card .card-buttons .btn-lb-primary {
	flex: 1;
}

.auction-card .card-buttons .btn-lb-primary.bg-danger {
	flex: none;
	width: 100%;
}

@media(min-width: 768px) {
	.auction-card .card-img-top {
		min-height: 309px;
	}
}
@media(min-width: 992px) {
	.auction-card .card-img-top {
		min-height: 240px;
	}
}
@media(min-width: 1200px) {
	.auction-card .card-img-top {
		min-height: 238px;
		height: clamp(14.875rem, -1.0625rem + 21.25vw, 20.1875rem);
	}
}

.btn.live-btn {
	font-size: 14pt;
  	padding: 6px 40px 4px 40px;
}

/*
|--------------------------------------------------------------------------
| GRID
|--------------------------------------------------------------------------
*/
.banner-lotes-container .container-fluid {
	padding: 0;
}

.filters-types {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.filters-types> :is(div, section) {
	padding: 0;
	border-bottom: 0;
}

.filter-title {
	padding-top: 0.8rem;
	padding-bottom: 0.8rem;
}

.filter-child-collapse {
	padding: 1rem;
}

.section-badges {
	display: none;
}

.section-badges:has(span) {
	display: block;
}

.input-category {
	padding: 1rem;
	margin-bottom: 0.5rem;
	color: var(--lb-color-gray);
}
.input-category.input-subcategory {
	margin-bottom: 0;
	padding: 0.5rem;
	text-transform: uppercase;
}

.auction__filters-type-list {
	color: var(--lb-color-gray);
	font-weight: var(--font-normal);
}

.section-grid-lots {
	grid-template-columns: repeat(auto-fill, minmax(357px, 1fr));
}

.bottom-pagination .pagination {
	margin-bottom: 0;
	justify-content: flex-end;
}

.nav-link.p-nav-items-auc {
	padding: 8px 10px 0px 10px;
}

.year-border.m-nav-items-auc {
	margin: 9px 11px 8px 11px;
}

.mobile-subastas .btn.live-btn {
	font-size: 14pt;
	padding: 5px 0px;
	width: 100%;
}

.mobile-subastas a.grid-lot-link:hover,
.mobile-subastas a.grid-lot-link:active,
.mobile-subastas a.grid-lot-link:focus,
.mobile-subastas a.grid-lot-link:visited,
.mobile-subastas a.grid-lot-link {
	color: inherit;
	text-decoration: none;
}

.mobile-subastas .auction-grid-border {
	border-bottom: var(--bs-card-border-width) solid var(--bs-card-border-color);
}

.card-custom-large {
	min-height: 195px !important;
}
/*
|--------------------------------------------------------------------------
| GRID - LOT
|--------------------------------------------------------------------------
*/
.lot-card {
	transition: all 0.3s linear;
}

.lot-card:hover {
	box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.lot-card:hover .btn {
    color: var(--bs-btn-hover-color);
    background-color: var(--bs-btn-hover-bg);
    border-color: var(--bs-btn-hover-border-color);
}

.lot-card .card-img-top {
	margin-top: 0.5rem;
}

.lot-card .card-footer {
	display: flex;
	gap: 0.5rem;
	padding: 0;
	border: 0;
	background: none;
}

.lot-card .lot-btn {
	flex: 1;
}

.lot-actual-bid span:nth-child(2) {
	color: var(--lb-color-secondary);
}

.lot-actual-bid span:nth-child(2).no_winner {
	color: var(--lb-text-color-loser);
}

.lot-actual-bid span:nth-child(2).winner {
	color: var(--lb-color-primary);
}


.lot-card .bidds-counter {
	min-height: 50px;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.lot-card .bidds-counter img {
	margin-bottom: 2px;
}

.lot-card .bidds-counter svg {
	margin-bottom: 4px;
	margin-left: 0.5rem;
}

/**
simbolos:: %3e == /> | %3c == < | %23 == #
**/
.with-caret {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%230D5257' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-position: right 0.75rem center;
	background-size: 20px 18px;
}

.nav-grid-pages {
	float: none;
	display: flex;
	justify-content: center;
}

@media (min-width: 992px) {
	.nav-grid-pages {
		display: block;
		float: right;
		justify-content: start;
	}
}

/*
|--------------------------------------------------------------------------
| FICHA
|--------------------------------------------------------------------------
*/

main.page-ficha p.h1.lot-ficha-title {
	font-size: calc(0.8rem + 1.5vw);
}

@media (min-width: 992px) {
	main.page-ficha p.h1.lot-ficha-title {
		font-size: calc(0.5em + 1.5vw);
	}
}

@media (min-width: 1200px) {
	main.page-ficha p.h1.lot-ficha-title {
		font-size: calc(0.8rem + 1vw);
	}
}

a.back-link {
	text-transform: none;
}

#img_main {
	height: 420px;
}

.ficha-grid :is(.description, .categories, .ficha-info, .ficha-info-content) {
	padding: 1rem;
	border: 1px solid #e8eeee;
}

.ficha-grid .ficha-image {
	border: 1px solid #e8eeee;
}

section.ficha-history {
	display: none;
}

section.ficha-description,
section.ficha-pujas {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.minis-content button {
	padding: 0;
}

.ficha-pujas .price {
	font-weight: var(--font-extra-light);
}

.ficha-pujas .bid-price {
	color: var(--lb-text-color-primary);
}

.ficha-pujas #actual_max_bid:not(.lose, .other, .no-winner) {
	color: var(--lb-color-secondary);
}

.ficha-pujas .next-price {
	display: none !important;
}

.ficha-pujas .price .value {
	font-size: 28px;
	font-weight: var(--font-light);
}

.ficha-pujas.ficha-pujas-o,
.ficha-pujas.ficha-cerrada {
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.ficha-pujas.ficha-pujas-o> :is(p, h4, h5):not(.hidden) {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin: 0;
}

.ficha-pujas.ficha-pujas-o .price .value {
	font-size: 24px;
	font-weight: var(--font-light);
}

.ficha-pujas-o .insert-bid-input>p {
	color: var(--lb-color-primary);
	font-size: 20px;
	font-weight: var(--font-extra-light);
}

.ficha-pujas-o input {
	font-size: 20px;
	padding: 0.5rem 1rem;
	border-right: 0;
}

.ficha-pujas-o .currency-input {
	font-size: 20px;
	border-left: 0;
	background: none;
}

.price.sold-price {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.ficha-description h1 {
	text-transform: none;
}

.ficha-description .badge-custom-primary {
	background-color: transparent;
	color: var(--lb-color-gray);
	border: 1px solid #E8EEEE;
	font-weight: var(--font-extra-light);
}

.ficha-description .provenance {
	color: var(--lb-color-gray);
	font-weight: var(--font-extra-light);
	font-style: italic;
}

.description .long-description {
	--max-lines: 6;
}

.ficha-cerrada .price.sold-price,
.ficha-cerrada .ficha-is-awarded {
	margin-left: -1rem;
	margin-right: -1rem;
	padding: 1rem;
	background-color: var(--lb-color-primary-light);
	color: var(--lb-color-primary)
}

.ficha-cerrada .price.salida-price {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.escalados-container button {
	font-size: 18px;
	flex: 1;
}

.carrousel-lot-card img {
	border-radius: 0;
	height: 250px;
    width: 100%;
    object-fit: contain;
}

.section-destacados {
	min-height: 521px;
}

.section-destacados .h1 {
	font-size: 2rem;
	font-weight: var(--font-normal);
}

.section-destacados .lot-card .card-img-top {
	padding: 0.5rem;
}

.section-destacados .lot-card .card-body {
	min-height: 165px;
}

.lotes_destacados .slick-list {
	margin: 0 -15px 10px -15px;
}

.ficha-info .ficha-info-justify-content {
	justify-content: center;
}

.ficha-info {
	font-size: 16px;
}

.ficha-info .auc-timer {
	text-align: center;
}

.search-lot-container {
	width: 190px;
	justify-content: center;
}

.ficha-previous-next .btn:not(.btn-sm, .btn-link) {
	font-size: 14pt;
}

.grid-previous-and-next {
	display: grid;
	gap: 0.5rem;
	grid-template-columns: 1fr 1fr 1fr;
	height: 41px;
}

.grid-previous-and-next input.search-lot-bar-input {
	-moz-appearance: textfield;
	padding-top: 9px;
}

.grid-previous-and-next .search-lot-bar-button {
	padding: 3px 10px;
}

.grid-previous-and-next section.previous-button {
	grid-column: 1 / 1;
}

.grid-previous-and-next section.search-lot-bar {
	grid-column: 2 / 2;
}

.grid-previous-and-next section.next-button {
	grid-column: 3 / 3;
}

.header-ficha-grid {
	display: grid;
	grid-template-columns: 1fr;
	gap: 0.5rem;
}

.ficha-previous-next .btn:not(.btn-sm, .btn-link) {
	font-size: 12pt;
	padding-top: 6px;
	font-weight: bolder;
}

.ficha-previous-next .search-lot-bar-input  {
	height: 38px;
	margin-top: 1px;
}

.ficha-previous-next .search-lot-bar-button {
	height: 38px;
	padding: 6px 11px 6px 13px;
	margin-top: 1px;
}

.grid-previous-and-next section.previous-button,
.grid-previous-and-next section.next-button,
.grid-previous-and-next section.search-lot-bar {
	height: 36px;
}

.grid-previous-and-next div.search-bar,
.grid-previous-and-next input.search-lot-bar-input,
.grid-previous-and-next button.search-lot-bar-button {
	height: 36px;
}

.grid-previous-and-next input.search-lot-bar-input {
	width: 90px;
}

main.page-ficha p.h1 {
	font-size: calc(1rem + 1.5vw);
}

.ficha-previous-next .btn.arrow-button {
	padding: 10px 12px;
}

@media (min-width: 295px) {
	.ficha-info .ficha-info-justify-content {
		justify-content: space-between;
	}
}


@media (min-width: 382px) {
	.ficha-info .auc-timer {
		text-align: right;
	}
}

@media (min-width: 992px) {

	main.page-ficha p.h1 {
		font-size: calc(0.8rem + 1.5vw);
	}

	section.ficha-title {
		grid-column: 1 / 1;
	}

	section.ficha-image {
		grid-row: 2 / 4;
	}

	section.ficha-pujas {
		grid-row: 2 / 4;
	}

	section.ficha-pujas .ficha-info-content {
		flex: 1;
	}

	section.ficha-share {
		grid-row: auto;
		grid-row-start: 7;
	}

	section.ficha-previous-next {
		grid-column: 3 / 4;
		grid-row: 1 / 1;
	}

	.grid-previous-and-next {
		height: 36px;
	}

	.header-ficha-grid {
		grid-template-columns: 1fr 2fr 2fr;
	}

	.grid-previous-and-next {
		height: 24px;
	}

}

@media (min-width: 1200px) {
	main.page-ficha p.h1 {
		font-size: calc(0.7rem + 1.5vw);
	}

	.ficha-grid {
		grid-template-columns: 3fr 5fr 3fr;
	}

	section.ficha-image {
		grid-row: 2 / 4;
	}

	section.ficha-description {
		grid-row: 2 / 4;
	}

	.description .long-description {
		--max-lines: 12;
	}

	section.ficha-description .categories {
		margin-top: auto;
	}

	section.ficha-pujas {
		grid-row: 2 / 4;
	}

	section.ficha-previous-next {
		grid-column: 3 / 4;
		grid-row: 1 / 1;
	}

	section.ficha-share {
		grid-column: 3 / 4;
		grid-row: 5 / 6;
		padding-top: 0.75rem;
		padding-bottom: 0.75rem;
	}

	.ficha-info .ficha-info-justify-content {
		justify-content: space-between;
	}

	.header-ficha-grid {
		grid-template-columns: 3fr 5fr 3fr;
	}
}

/*
|--------------------------------------------------------------------------
| MUSEUM, EVENTS & PRESS
|--------------------------------------------------------------------------
*/
.museum-card img {
	height: 300px;
	object-fit: contain;
	padding: 0.5rem;
}

.event-card .img-card-wrapper {
	height: 300px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	transition: all 0.5s;
}

/* .event-card:hover .img-card-wrapper {
	background-size: 110% auto;
	transition: all 0.5s;
} */

.event-page .event-images-wrapper {
	height: 300px;
}

.event-page .event-images-wrapper img {
	object-fit: cover;
	height: 100%;
	width: 100%;
}

#eventModal .modal-header {
	position: absolute;
	width: 100%;
	top: 0;
	z-index: 1;
}

.press-card img {
	height: auto;
	object-fit: contain;
}

.press-row {
	margin-bottom: 3rem;
	padding-bottom: 3rem;
}

@media (min-width: 992px) {
	.event-card .img-card-wrapper {
		height: 600px;
	}

	.press-card img {
		height: 350px;
		object-fit: cover;
	}

	.press-row.with-border {
		border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
	}
}


/*
|--------------------------------------------------------------------------
| Tienda Online
|--------------------------------------------------------------------------
*/
.content-page-banner > .container > .row {
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tienda-banner {
	box-shadow: 0 4px 8px 0 rgb(0 0 0 / 50%);
}

.tienda-banner img {
    transition: all 0.5s linear;
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.tienda-banner:hover img{
    filter: brightness(50%);
    -webkit-filter: brightness(50%);
    transition:all 0.5s linear;
}

.content-page-banner .col-md-3{
	width: 80%;
	margin-top: 2rem;
	flex: initial;
}

@media (min-width: 768px) {
	.content-page-banner .col-md-3 {
		width: 45%;
		margin-top: 2rem;
	}
}


.btn-to-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: var(--lb-color-secondary);
	color: #fff;
	border: none;
	outline: none;
	cursor: pointer;
	transition: opacity 0.3s;
	opacity: 0;
	z-index: 9999;
  }

  .btn-to-top.show {
	opacity: 1;
  }


/*
|--------------------------------------------------------------------------
| Registro - Datos de perfil
|--------------------------------------------------------------------------
*/
.register-currency {
	display: none;
}
