@font-face {
	font-family: MartelSans;
	src: url(./../assets/fonts/MartelSans-ExtraLight.ttf);
	font-weight: 100;
}

@font-face {
	font-family: MartelSans;
	src: url(./../assets/fonts/MartelSans-Light.ttf);
	font-weight: 300;
}

@font-face {
	font-family: MartelSans;
	src: url(./../assets/fonts/MartelSans-Regular.ttf);
	font-weight: 400;
}

@font-face {
	font-family: MartelSans;
	src: url(./../assets/fonts/MartelSans-SemiBold.ttf);
	font-weight: 600;
}

@font-face {
	font-family: MartelSans;
	src: url(./../assets/fonts/MartelSans-Bold.ttf);
	font-weight: 700;
}

@font-face {
	font-family: MartelSans;
	src: url(./../assets/fonts/MartelSans-ExtraBold.ttf);
	font-weight: 800;
}

@font-face {
	font-family: MartelSans;
	src: url(./../assets/fonts/MartelSans-Black.ttf);
	font-weight: 900;
}

:root {

	--lb-color-primary-rgb: 13, 82, 87;
	--lb-color-primary: #0d5257;
	--lb-color-primary-light: #e7eeee;
	--lb-color-primary-extra-light: rgba(var(--lb-color-primary-rgb), 0.05);
	--lb-color-primary-dark: #0a3f43;
	--lb-color-primary-contrast: #ffffffea;

	--lb-color-secondary: #B9B20E;
	--lb-color-secondary-lighter: rgb(185, 178, 14, 0.2);
	--lb-color-secondary-light: #999314;
	--lb-color-secondary-dark: #EDECC2;
	--lb-color-secondary-contrast: #0D5257;

	--lb-color-gray: #666;

	--lb-color-primary-background: var(--lb-color-primary);
	--lb-color-backgorund: #cd212212;
	--lb-color-backgorund-dark: rgb(10, 63, 67, 0.2);
	--lb-color-backgorund-light: rgb(10, 63, 67, 0.05);

	--lb-text-color-rgb: 13, 82, 87;
	--lb-text-color-primary: rgba(var(--lb-text-color-rgb), 0.75);
	--lb-text-color-secondary: rgba(var(--lb-text-color-rgb), 0.54);
	--lb-text-color-disabled: rgba(var(--lb-text-color-rgb), 0.38);
	--lb-text-color-winner: #00870d;
	--lb-text-color-loser: #D36C13;

	--lb-box-shadow-color-rgb: 0, 0, 0;
	--lb-box-shadow: 0 1px 2px 0 rgba(var(--lb-box-shadow-color-rgb), 0.1);
	--lb-box-shadow-lot: rgba(50, 50, 105, 0.15) 0 2px 5px 0, rgba(0, 0, 0, 0.05) 0 1px 1px 0;

	--lb-border-radius: 0.125rem;
	--lb-color-border-light: rgb(10, 63, 67, 0.05);

	--font-extra-light: 100;
	--font-light: 300;
	--font-normal: 400;
	--font-semi-bold: 600;
	--font-bold: 700;
	--font-extra-bold: 800;
	--font-black: 900;
	/*
	|--------------------------------------------------------------------------
	| Overwritte Boostrap
	|--------------------------------------------------------------------------
	*/
	--bs-font-sans-serif: 'MartelSans', 'Rubik', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--bs-border-radius: var(--lb-border-radius, 0.375rem);
	--bs-accordion-transition: color 1s ease-in-out, background-color 1s ease-in-out, border-color 1s ease-in-out, box-shadow 1s ease-in-out, border-radius 1s ease;
	--bs-body-font-size: 16pt;
	--bs-body-font-weight: var(--font-extra-light);

	--bs-link-color: var(--lb-color-gray);
	--bs-link-hover-color: #222;
}

/*
|--------------------------------------------------------------------------
| General
|--------------------------------------------------------------------------
*/

.btn-close.btn-lb-close {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'%3E%3Ctitle%3Eionicons-v5-m%3C/title%3E%3Cpath d='M448,256c0-106-86-192-192-192S64,150,64,256s86,192,192,192S448,362,448,256Z' style='fill:none;stroke:%230d5257;stroke-miterlimit:10;stroke-width:32px'/%3E%3Cline x1='320' y1='320' x2='192' y2='192' style='fill:none;stroke:%230d5257;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/%3E%3Cline x1='192' y1='320' x2='320' y2='192' style='fill:none;stroke:%230d5257;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/%3E%3C/svg%3E");
	background-size: cover;
}

h1,
.h1 {
	font-family: var(--bs-font-sans-serif);
	font-weight: var(--font-extra-light);
	position: relative;
	padding-bottom: 0.5rem;
}

:is(h1, .h1)::before {
	content: ' ';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 64px;
	height: 4px;
	background-color: var(--lb-color-secondary);
}

:is(h1, .h1).no-decoration::before {
	content: none;
}

:is(h1, .h1) a {
	color: currentColor;
	text-decoration: none;
}

h2,
.h2 {
	color: var(--lb-color-secondary);
	font-weight: var(--font-light);
}

h3,
.h3 {
	font-weight: var(--font-light);
}

.bg-lb-primary {
	background-color: rgba(var(--lb-color-primary-rgb), var(--opacity, 1));
}

.bg-lb-primary-150 {
	--opacity: 0.15;
	background-color: rgba(var(--lb-color-primary-rgb), var(--opacity, 1));
}

.bg-lb-primary-50 {
	--opacity: 0.05;
	background-color: rgba(var(--lb-color-primary-rgb), var(--opacity, 1));
}

@media (min-width: 1200px) {

	h1,
	.h1 {
		font-size: 22pt;
	}

	h2,
	.h2 {
		font-size: 26pt;
	}

	h3,
	.h3 {
		font-size: 26pt;
	}

	.fs-40pt {
		font-size: 40pt;
	}
}

.text-lb-secondary {
	color: var(--lb-color-secondary);
}

.text-lb-gray {
	color: var(--lb-color-gray);
}

.crop-img {
	overflow: hidden;
	position: relative;
}

.crop-img img {
	position: absolute;
	left: -100%;
	right: -100%;
	top: -100%;
	bottom: -100%;
	margin: auto;
	min-height: 100%;
	min-width: 100%;
}

.btn {
	--bs-btn-font-size: 18pt;
	padding-top: 0.5rem;
	font-weight: var(--font-extra-light);
}

.btn:has(svg) {
	padding-top: 4px;
}

.btn-lb-primary {
	--bs-btn-active-border-color: var(--lb-color-secondary);
	--bs-btn-active-bg: var(--lb-color-secondary);
	--bs-btn-hover-border-color: var(--lb-color-secondary);
	--bs-btn-hover-bg: var(--lb-color-secondary);
}

.btn-outline-lb-primary {
	--bs-btn-active-border-color: var(--lb-color-secondary);
	--bs-btn-active-bg: var(--lb-color-secondary);
	--bs-btn-hover-border-color: var(--lb-color-secondary);
	--bs-btn-hover-bg: var(--lb-color-secondary);
}

.btn-lb-secondary {
	--lb-color-primary-light: #8ea8a8;
	--bs-btn-color: var(--lb-color-primary-contrast);
	--bs-btn-border-color: var(--lb-color-primary-light);
	--bs-btn-bg: var(--lb-color-primary-light);
	--bs-btn-active-color: var(--lb-color-secondary-contrast);
	--bs-btn-active-border-color: #fff;
	--bs-btn-active-bg: #fff;
	--bs-btn-hover-color: var(--lb-color-secondary-contrast);
	--bs-btn-hover-border-color: #fff;
	--bs-btn-hover-bg: #fff;
	min-width: 240px;
}

.btn-light {
	--bs-btn-color: var(--lb-color-gray);
	--bs-btn-bg: rgba(13, 82, 87, 0.05);
	--bs-btn-border-color: rgba(13, 82, 87, 0.05);
	--bs-btn-hover-color: var(--lb-color-gray);
	--bs-btn-hover-bg: rgba(13, 82, 87, 0.1);
	--bs-btn-hover-border-color: rgba(13, 82, 87, 0.1);
	--bs-btn-focus-shadow-rgb: 211, 212, 213;
	--bs-btn-active-color: var(--lb-color-gray);
	--bs-btn-active-bg: rgba(13, 82, 87, 0.1);
	--bs-btn-active-border-color: rgba(13, 82, 87, 0.1);
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color: var(--lb-color-gray);
	--bs-btn-disabled-bg: rgba(13, 82, 87, 0.05);
	--bs-btn-disabled-border-color: rgba(13, 82, 87, 0.05);
}

.rowBanner {
	--bs-gutter-y: 1rem;
}

main.subastas,
main.grid,
main.ficha,
main.static-page,
main.valoracion-page,
.user-panel-page,
main.contact-page,
main.museum-page,
main.events-page,
main.event-page {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.badge-custom-primary {
	background-color: var(--lb-color-gray);
}

.badge-custom-primary span {
	padding-top: 0.1rem;
}

/*
|--------------------------------------------------------------------------
| Header
|--------------------------------------------------------------------------
*/
body>header {
	border-bottom: 1px solid var(--lb-color-secondary);
	text-transform: uppercase;
}

.first-header-wrapper {
	background-color: var(--lb-color-primary);
	color: #fff;
	font-size: 14pt;
}

header .first-header-wrapper a,
header .first-header-wrapper a.selected {
	color: inherit;
}

header .navbar-brand {
	width: 170px;
	height: 80px;
}

header .nav-item {
	flex: 1;
	flex-direction: column;
}

header .nav-link:hover,
header .nav-link:active,
header .nav-link:focus {
	text-decoration: none;
	font-weight: var(--font-extra-bold);
	color: var(--lb-color-primary);
}

header .dropdown-menu {
	--bs-dropdown-border-color: none;
	--bs-dropdown-link-color: var(--lb-color-primary);
	/* text-align: center; */
}

@media (min-width: 1400px) {
	header .dropdown-menu {
		--bs-dropdown-padding-x: 0.5rem;
		--bs-dropdown-color: var(--lb-color-primary-contrast);
		--bs-dropdown-bg: var(--lb-color-primary);
		--bs-dropdown-border-color: var(--bs-border-color-translucent);
		--bs-dropdown-border-radius: 0;
		--bs-dropdown-border-width: 0;
		--bs-dropdown-link-color: var(--lb-color-primary-contrast);
		--bs-dropdown-link-hover-color: #fff;
		--bs-dropdown-link-hover-bg: transparent;
		--bs-dropdown-link-active-color: transparent;
		--bs-dropdown-link-active-bg: transparent;
		--bs-dropdown-item-padding-x: 1rem;
		--bs-dropdown-item-padding-y: 0.5rem;
		min-width: 150%;
		/* text-align: left; */
	}

	header .nav-item.dropdown {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	header .nav-item {
		text-align: center;
	}
}


.dropdown-item:focus,
.dropdown-item:hover {
	color: var(--bs-dropdown-link-hover-color);
	background-color: var(--bs-dropdown-link-hover-bg);
	text-decoration: none;
	font-weight: var(--font-extra-bold);
}

/*
|--------------------------------------------------------------------------
| Footer
|--------------------------------------------------------------------------
*/
.contact-banner {
	background-image: url('/themes/jesusvico/assets/img/contacta.webp');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 560px;
	color: var(--lb-color-primary-contrast);
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2rem;
}

footer {
	background-color: var(--lb-color-primary);
	color: var(--lb-color-primary-contrast);
}

footer a,
footer a:hover,
footer a:focus {
	color: var(--lb-color-primary-contrast);
	text-decoration: none;
}

footer .nav-item {
	--bs-nav-link-font-size: 14pt;
	font-size: 14pt;
}

footer .nav-link {
	--bs-nav-link-color: var(--lb-color-primary-contrast);
	--bs-nav-link-hover-color: var(--lb-color-primary-contrast);
	--bs-nav-link-padding-x: 0;
	--bs-nav-link-padding-y: 0.125rem;
}

footer h5 {
	font-weight: var(--font-bold);
}

.newsletter {
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 0;
	background-color: transparent;
}

.newsletter .form-control {
	background: transparent;
	border-radius: 0;
	padding: 0.5rem 0.75rem;
	color: var(--lb-color-primary-contrast);
}

.newsletter .form-control::placeholder {
	color: var(--lb-color-primary-contrast);
}

.newsletter .form-check-input:checked {
	background-color: var(--lb-color-primary);
	border-color: var(--lb-color-primary-contrast);
}

/*
|--------------------------------------------------------------------------
| Estaticas
|--------------------------------------------------------------------------
*/
.static-page p {
	font-size: 18pt;
}

ul.style-diamond {
	list-style: '◆';
	padding-left: 1rem;
}

ul.style-diamond li {
	padding-left: 1rem;
	margin-bottom: 1rem;
}

ul.style-diamond li::marker {
	color: var(--lb-color-secondary);
}

.bg-lb-color-primary-light {
	background-color: var(--lb-color-primary-light);
}

.bg-lb-color-primary {
	background-color: var(--lb-color-primary-background);
}

.bg-lb-color-backgorund-dark {
	background-color: var(--lb-color-backgorund-dark);
}

.bg-lb-color-backgorund-light {
	background-color: var(--lb-color-backgorund-light);
}

.bg-secondary-color {
	background-color: var(--lb-color-secondary);
}

.bg-secondary-color-lighter {
	background-color: var(--lb-color-secondary-lighter);
}

.lb-border-light {
	border: var(--lb-color-border-light) solid 2px;
}

.static-link:hover,
.static-link:focus,
.static-link {
	color: inherit;
	text-decoration: none;
}

.static-link-gray:hover,
.static-link-gray:focus,
.static-link-gray {
	color: var(--lb-color-gray);
	text-decoration: none;
}

.decoration {
	position: relative;
	z-index: 1;
}

.decoration::after,
.decoration::before {
	content: ' ';
	position: absolute;
	width: 50%;
	height: 80%;
	background-color: var(--lb-color-primary-light);
}

/* .decoration::before {
	left: 0;
	top: calc(var(--bs-gutter-x) * -.5);
}

.decoration::after {
	right: 0;
	bottom: calc(var(--bs-gutter-x) * -.5);
} */
.decoration::before {
	left: -12px;
	top: -22px;
}

.decoration::after {
	right: -12px;
	bottom: -22px;
}

.decoration>* {
	z-index: 2;
	position: relative;
}

.flex-align-center-row {
	display: flex;
	align-items: center;
	flex-direction: row;
}

.input-text-style {
	border: none;
	background-color: var(--lb-color-backgorund-light);
	border-radius: 0%;
}

.input-text-style:focus {
	color: #212529;
	background-color: var(--lb-color-backgorund-light);
	border: var(--lb-color-primary) 0.5px solid;
	outline: 0;
	box-shadow: 0 0 0 1px var(--lb-color-primary-dark);
}

.tasacion-height-arrow-container {
	height: 380px;
}

@media (min-width: 768px) {
	.tasacion-height-arrow-container {
		height: 350px;
	}
}

@media (min-width: 992px) {
	.tasacion-height-arrow-container {
		height: 450px;
	}

	.margin-video {
		margin: 2rem;
	}
}

@media (min-width: 1200px) {
	.tasacion-height-arrow-container {
		height: 550px;
	}
}

/*
|--------------------------------------------------------------------------
| HOME
|--------------------------------------------------------------------------
*/
.newsletter-banner {
	background-image: url('/themes/jesusvico/assets/img/newsletter_bg.webp');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 700px;
	color: var(--lb-color-primary-contrast);
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
	gap: 2rem;
}

.newsletter-banner a,
.newsletter-banner a:focus,
.newsletter-banner a:hover {
	color: var(--lb-color-primary-contrast);
}

/*
|--------------------------------------------------------------------------
| SUBASTAS
|--------------------------------------------------------------------------
*/
.auctions-wrapper .year-border {
	margin-top: 2rem;
	margin-bottom: 1rem;
}

.auctions-wrapper .year-border * {
	margin: 0;
}

.auction-card .card-body {
	padding-left: 0;
	padding-right: 0;
}

.auction-card .auction-card-title {
	min-height: calc(1.2 * 2 * 1rem);
}

/*
|--------------------------------------------------------------------------
| GRID
|--------------------------------------------------------------------------
*/
.filters-types {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.filters-types> :is(div, section) {
	padding: 0;
	border-bottom: 0;
}

.filter-title {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.filter-child-collapse {
	padding: 1rem;
}

.section-badges {
	display: none;
}

.section-badges:has(span) {
	display: block;
}

.input-category {
	padding: 1rem;
	margin-bottom: 0.5rem;
	color: var(--lb-color-gray);
}

.auction__filters-type-list {
	color: var(--lb-color-gray);
}

.section-grid-lots {
	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.bottom-pagination .pagination {
	margin-bottom: 0;
}

/*
|--------------------------------------------------------------------------
| GRID - LOT
|--------------------------------------------------------------------------
*/
.lot-card .card-footer {
	display: flex;
	gap: 0.5rem;
	padding: 0;
	border: 0;
	background: none;
}

.lot-card .lot-btn {
	flex: 1;
}

.lot-actual-bid span:nth-child(2) {
	color: var(--lb-color-secondary);
}

.lot-actual-bid span:nth-child(2).no_winner {
	color: var(--lb-text-color-loser);
}

.lot-actual-bid span:nth-child(2).winner {
	color: var(--lb-color-primary);
}


.lot-card .bidds-counter {
	min-height: 50px;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.lot-card .bidds-counter img {
	margin-bottom: 2px;
}

.lot-card .bidds-counter img:nth-of-type(2) {
	margin-left: 0.5rem;
}

/**
simbolos:: %3e == /> | %3c == < | %23 == #
**/
.with-caret {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%230D5257' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-position: right 0.75rem center;
	background-size: 20px 18px;
}

/*
|--------------------------------------------------------------------------
| FICHA
|--------------------------------------------------------------------------
*/
#img_main {
	height: 420px;
}

.ficha-grid :is(.description, .categories, .ficha-info, .ficha-info-content, .ficha-image) {
	padding: 1rem;
	border: 1px solid #e8eeee;
}

section.ficha-history {
	display: none;
}

section.ficha-description,
section.ficha-pujas {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.ficha-pujas .price {
	font-weight: var(--font-extra-light);
}

.ficha-pujas .price .value {
	font-size: 26pt;
	font-weight: var(--font-light);
}

.ficha-pujas.ficha-pujas-o,
.ficha-pujas.ficha-cerrada {
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.ficha-pujas.ficha-pujas-o> :is(p, h4, h5):not(.hidden) {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin: 0;
}

.ficha-pujas.ficha-pujas-o .price .value {
	font-size: 22pt;
	font-weight: var(--font-light);
}

.ficha-pujas-o .insert-bid-input>p {
	color: var(--lb-color-primary);
	font-size: 18pt;
	font-weight: var(--font-extra-light);
}

.ficha-pujas-o input {
	font-size: 18pt;
	padding: 0.5rem 1rem;
	border-right: 0;
}

.ficha-pujas-o .currency-input {
	font-size: 18pt;
	border-left: 0;
	background: none;
}

.price.sold-price {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.ficha-description .badge-custom-primary {
	background-color: transparent;
	color: var(--lb-color-gray);
	border: 1px solid #E8EEEE;
	font-weight: var(--font-extra-light);
}

.description .long-description {
	--max-lines: 6;
}

.ficha-cerrada .price.sold-price,
.ficha-cerrada .ficha-is-awarded {
	margin-left: -1rem;
	margin-right: -1rem;
	padding: 1rem;
	background-color: var(--lb-color-primary-light);
	color: var(--lb-color-primary)
}

.ficha-cerrada .price.salida-price {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.carrousel-lot-card img {
	border-radius: 0;
}

.lotes_destacados .slick-list {
	margin: 0 -15px 10px -15px;
}

@media (min-width: 992px) {

	section.ficha-pujas .ficha-info-content {
		flex: 1;
	}

	section.ficha-share {
		grid-row: auto;
		grid-row-start: 7;
	}

	section.ficha-previous-next {
		grid-row-start: 6;
		grid-column: 1 / 4;
	}

}

@media (min-width: 1200px) {
	.ficha-grid {
		grid-template-columns: 3fr 5fr 4fr;
	}

	section.ficha-description {
		grid-row-end: 4;
	}

	.description .long-description {
		--max-lines: 12;
	}

	section.ficha-description .categories {
		margin-top: auto;
	}

	section.ficha-pujas {
		grid-row: 2 / 4;
	}

	section.ficha-previous-next {
		grid-column: 1 / 4;
		grid-row: 4 / 5;

		padding-top: 0.75rem;
		padding-bottom: 0.75rem;
	}

	section.ficha-share {
		grid-column: 3 / 4;
		grid-row: 5 / 6;
		padding-top: 0.75rem;
		padding-bottom: 0.75rem;
	}
}

/*
|--------------------------------------------------------------------------
| MUSEUM & EVENTS
|--------------------------------------------------------------------------
*/
.museum-card img {
	height: 300px;
	object-fit: contain;
}

.event-card .img-card-wrapper {
	height: 600px;
	background-position: center;
	background-size: 100% auto;
	background-repeat: no-repeat;
	transition: all 0.5s;
}

.event-card:hover .img-card-wrapper {
	background-size: 110% auto;
	transition: all 0.5s;
}

.event-page .event-images-wrapper {
	height: 300px;
}

.event-page .event-images-wrapper img {
	object-fit: cover;
	height: 100%;
	width: 100%;
}

#eventModal .modal-header {
	position: absolute;
	width: 100%;
	top: 0;
	z-index: 1;
}
