@import url("global.css");

/*
|--------------------------------------------------------------------------
| Navs
|--------------------------------------------------------------------------
*/
.nav {
    --bs-nav-link-font-weight: var(--font-light);
   font-size: 18pt;
}

.nav .nav-user-name {
	font-size: 16px;
}

/* .nav-user .btn {
	padding: 0.25rem;
	font-size: 16px;
} */

/*
|--------------------------------------------------------------------------
| Header
|--------------------------------------------------------------------------
*/
header {
	border-bottom: 1px solid var(--lb-color-secondary);
}

header .navbar {
	padding: 0;
}

.navbar > .navbar-container > * {
	padding-bottom: 0;
	margin-bottom: 0;
}

header .navbar-brand {
	height: 80px;
	/* flex: 1; */
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0;
}

header .navbar-brand img {
	object-fit: contain;
	height: 100%;
}

header .navbar-brand img.logo {
	width: 100%;
}


/*
|--------------------------------------------------------------------------
| tr_user_info
|--------------------------------------------------------------------------
*/
.input-puja input {
	border-right: 0;
	font-size: 18pt;
}

.input-puja .input-group-text {
	background: transparent;
    border-left: 0;
    border-right: 0;
	font-size: 18pt;
}
