/* Large desktops and laptops */
@media (min-width: 1200px) {



    visible-lg-custom{
        display: inline-block;
    }
    div.item_subasta img {
       margin-bottom: 10px;
        min-height: 150px;
    }
    .calendar .content_art {
        height: 345px;
    }
    .news_home{
        height: 400px;
    }

    .lot-count{
        position: relative;
    }

    .timeLeft{
        position: absolute;
        left: 22px;
    }


}
@media (max-width: 1200px) {

	header .logo a img{
		height: 40px;
	}

	.form-top-grid-container{
		-webkit-box-orient: vertical;
    	-webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
	}

	.form-top-grid > .form-group{
		margin-top: 10px;
		text-align: start;
	}
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .capaOculta{
        visibility: hidden;
    }
    div.info_contact div.title_contact {
        font-size: 16px;
    }
    .news_home{
        height: 425px;
    }
    .timeLeft{
        text-align: left;
        padding-left: 8px;
    }
    .slid_bg a:nth-child(3){
        font-size: 12px;
    }

}
@media (min-width: 900px) {

	.form-group-custom {
	    margin-bottom: 15px;
	    float: left;
	    margin-right: 20px;
	    width: 46%;
	}
        header ul.items_top_responsive{
            text-align: right;
        }
        .table-responsive>.table>tbody>tr>td{
            max-width: 200px;
        }
        .calendar .content_art {
            height: 345px;
        }







}
/* Portrait tablets and small desktops */
@media (min-width: 769px) and (max-width: 991px) {

	footer .logo img{
		margin: 10px auto;
	}

    footer .module_wrapper{
        text-align: center;
    }
    .lot-grid{
        margin-bottom: 20px;
    }
    .lot-grid a{
        color: #707B7C;
        -webkit-transition: .2s color linear;
        -o-transition: .2s color linear;
        transition: .2s color linear;
        text-decoration: none;
    }
        .control{
            display: block;
            opacity: 1;
        }

        .info_single div.pre,
        .precio_minimo_no_alcanzado,
        .precio_minimo_alcanzado,
        .ficha_V .info_single_button{
            width: 200px;
        }
        .capaOculta{
            visibility: hidden;
        }
        div.item_subasta img {
            margin-bottom: 10px;
            min-height: 126px;
        }

        ul.list_home {
           margin: 0;
            padding: 40px 15px;
            height: 170px;
        }

        div.info_contact div.title_contact {
            font-size: 13px;

        }
    .calendar .content_art {
        height: 512px;
    }
        .news_home .form-inline .form-control,
    .news_home .form-inline .form-group label{
        display: block;
    }
    .lot-count .timeLeft{
        text-align: left;
        padding-left: 68px;
    }
    .slid_bg{
        text-align: center;

    }
    .slid_bg a{
        width: 50%;

    }
    div.news_home{
       height: 587px;
    }

    #lotes_destacados{
        padding: 0;
    }




}



/* Landscape phones and portrait tablets */
@media (max-width: 768px) {

	footer .logo img{
		margin: 10px auto;
	}
    .name-data-custom{
        min-width: 300px;
    }

    .img-dat.img-data-customs img{
        min-width: 50px;
    }
    .remat-data-custom,.auc-data-custom,.auc-data-custom{
        min-width: 150px;
    }


        #lotes_destacados{
        padding: 0;
    }

    footer .module_wrapper{
        text-align: center;
    }

    .lot-grid{
        margin-bottom: 20px;
    }
    .lot-grid a{
        color: #707B7C;
        -webkit-transition: .2s color linear;
        -o-transition: .2s color linear;
        transition: .2s color linear;
        text-decoration: none;
    }
    .slid_bg{
        text-align: center;
    }
        .calendar p {
           height: auto;
        }
        .capaOculta{
            visibility: hidden;
        }
	.navbar-nav>li:nth-child(1) a {
		border-left: none;
	}
	.mt_re {
		margin-top: 35px;
	}
        #pujar_ordenes_w{
            font-size: 15px;
            min-height: 46px;
        }
	#owl-carousel-responsive {
		margin-bottom: 40px;
	}
	.change_row {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		display: table-header-group;
	}
	.left_row {
	    -webkit-order: 2;
	    -ms-order: 2;
	    order: 2;
	}
	.right_row {
		-webkit-order: 1;
		-ms-order: 1;
		order: 1;
	}
        .item_lot_mini{
            position:relative;

        }
        .item_lot_mini .data_container{
            height: 40px;
        }
        .timeLeft{
            font-size: 14px;
            padding-top: 10px;

        }
        h1.titlePage,
        .title-head-grid .lot-count,
        .title-head-grid .lot-grid,
        .lot-detail h1.titlePage{

            padding-bottom: 10px;
            margin-bottom: 10px;
            margin-top: 10px;
            font-size: 30px;
    }
    #add_fav.btn,
    #del_fav.btn{
        position: absolute;
        font-size: 12px;
        left: 45px;
        z-index: 2;
        height: 36px;
        width: 200px;

    }
    #add_fav.btn p,
    #del_fav.btn p,
    #add_fav.btn i,
    #del_fav.btn i{
        font-size: 13px;
    }
    .it_ro h1.titleSingle{
        font-size:25px;
    }

    .info_single div.pre,
    .precio_minimo_no_alcanzado,
    .precio_minimo_alcanzado,
    .ficha_V .info_single_button{
        width: 200px;
    }


    div.item_subasta img {
        margin-bottom: 10px;
        min-height: 126px;
    }
    div.newsletter input.newsletter-input {
    border-radius: 0;
    border: none;
}
div.news_home {
    padding: 22px 0 22px 10px;
    height: auto;
}

.module_footer img{
    margin: 0 auto;
}
    .calendar .content_art {
        height: 420px;
    }
    .item_lot_large .lot-desc,
    .item_lot_large .img_lot{
        flex:none;
    }
    .item_lot_large .lot-desc,
    .item_lot_large .lot-desc .lot-name{
        width: 200px;
    }
    .item_lot_large .lot-desc .lot-name{
        width: 197px;
    }
    .item_lot_large .img_lot{
        width: 80px;
    }
    .item_lot_large {
        height: 100px;
        margin: 2px 0;
    }

    #large_square i,
    #square i{
        font-size: 20px;
    }

    .desc-lot-large{
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        overflow: hidden;
        line-height: 20px;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        height: 57px;
        margin-bottom: 10px;
    }


}


@media (max-width:600px){
            header ul.items_top_responsive{
            text-align: center;
        }
        div.logo {
		text-align: center;
		width: 100%;
		margin: auto;
		min-height: 90px;
	}
        .tabs-custom ul li{
            margin-bottom: 15px;
            flex-basis: 100%;
        }
        #add_fav.btn,
        #del_fav.btn{
            top: 10px;
            left: 45px;
            z-index: 2;
            font-size: 5px;
            height: 35px;
            width: 44px;
    }
        .button-follow-responsive {
            opacity: 1;
            background: transparent;
            z-index: 100;
            display: flex;
            align-items: center;
            top: -20px;
            left: -3px;


        }
        #add_fav.btn i,
        #del_fav.btn i{
            font-size: 20px;
        }
        div.module_footer{
            text-align: center;
        }

        .save_orders span.text-uppercase {

            font-size: 30px;
        }
        .group-pujar-custom{
            display: block;
        }
        .group-pujar-custom .input-group-btn #pujar_ordenes_w,

        .group-pujar-custom #bid_modal_pujar{
            border-radius: 0;
        }
}
/* Portrait phones and smaller */
@media (max-width: 480px) {

	div.form-group-custom label {
		padding-bottom: 8px;
	}
	div.newsletter {
		min-height: 260px;
	}
	footer {
	 	padding-bottom: 70px;
	}
	#owl-carousel div.owl-prev {
		left: 0;
		position: absolute;
		top: 30px;
	}
	#owl-carousel div.owl-next {
		right: 0;
		position: absolute;
		top: 30px;
	}
	#owl-carousel div.owl-prev, #owl-carousel div.owl-next {
		font-size: 40px;
		border-radius: 0;
		background-color: transparent;
	}
	div.module_footer {
		margin-bottom: 80px;
	}
	.btn-registro {
		width: 100%
	}
        .sub-o{
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
        }
        .content_item_mini a .retired{
            font-size: 10px;
            right: 14px;
        }
        .save_orders{
            width: 100vh;
        }

}
