@media screen and (max-width: 1360px) {
	.banner-home-2{
		padding: 0px 100px;
	}
	.square .data-price p.salida-title, .letter-price-salida{
		padding-left: 0;
		padding-right: 0;
	}
}


@media screen and (max-width: 1205px) {
	.filter-col{
		padding: 0px;
	}

    .footer-title .enterprise {
        padding-top: 40px;
        border-top: #cccccc 1px solid;
    }

    .footer-title .image {
        padding-top: 40px;
        border-top: #cccccc 1px solid;
        text-align: center;
    }
    .logo-header{
        justify-content: start;
    }
    .search-header svg, .search-header-close svg, .user-account svg, .cart-icon svg {
        width: 25px;
        height: 25px;
    }
    .icono-customer{
        width: 23px;
        height: 23px;
    }
    .banner-home{
        padding: 200px 0 200px 0px;
        background: url('../../../themes/duran/assets/img/background-home.png') no-repeat -200px center;
    }
    .banner-home .how-to-buy-title{
        font-size: 26px;
        line-height: 35px;
    }
    .banner-home p{
        font-size: 12px;
    }
    .categories-carousel-home {
        margin: 10px 85px 20px;
    }
	.menu-principal-content li .submenuDuran {
		position: relative;
		border: none;
		background:none;
		padding:0;
		text-transform: uppercase;
		opacity:1;


	}
	.menu-principal-content li .submenuDuran a{
		font-size: 20px !important;
	}
	.submenuDuran .categoryOption{
		margin: 0;
		float:none;
		}


}

@media (min-width: 1200px) {
    .container {
		/*
		width: 1415px;
		*/
		width: var(--container-width);
    }
}

@media (max-width: 1200px) {

	.menu-principal-content li .submenu{
		padding-bottom: 0;
		padding-top: 0;
	}

	.submenu{
		position: relative;
    /* font-size: 15px !important; */
		padding: 0px 15px;
	}

	.submenu .auctions-list-menu h5{
		font-size: 25px !important;
		margin-bottom: 0px;
		margin: 0px;
	}

	.submenu .auctions-list-menu a{
		font-size: 20px !important;
		margin-bottom: 0px;
	}

	.submenu a{
		font-weight: initial;
	}

    .order-views select#order_selected {
        border-radius: 0 !important;
        margin-bottom: 5px;
        width: 200px;
        float: right;
        margin: 10px auto;
    }

    .form-order-by select {
        margin-bottom: 10px;
    }
    .home-slider-control {
        height: auto;
    }
    .large_square {
        min-height: 280px;
        min-width: auto;
    }

    .menu-principal{
        top: 0;
        position: fixed !important;
        height: 100%;
		overflow: scroll;
        left: -100%;
        background: #D2E2F2;
        z-index: 101;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        width: 100%;
        -webkit-transition: .3s ease-in-out all;
        -o-transition: .3s ease-in-out all;
        transition: .3s ease-in-out all;
        -webkit-box-shadow: 0px 0px 20px rgba(0,0,0,.6);
        box-shadow: 0px 0px 20px rgba(0,0,0,.6);
    }

    .menu-principal-content {
        width: 100%;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
    }

    .logo-header {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }
    .close-menu-reponsive {
        font-size: 30px;
        color: #000;
    }

    .menu-principal-content li, .menu-principal-content li a {
        height: auto;
        color: #414145;
      /*  font-size: 40px;*/
    }
    .item-play {
        top: 68px;
    }

    .historic-right_row {
        position: relative;
        top: 0;
        right: 0;
        margin-top: 10px;
    }

}

@media (max-width: 1100px) {

	.banner-home-2{
		padding: 0px 50px;
	}
	.banner-home-2-title{
		line-height: initial;
		font-size: 40px;
	}

	.banner-home-3-title{
		line-height: initial;
		font-size: 40px;
		line-height: initial
	}

}

@media (max-width: 992px) {

	.square .data-price p.salida-title, .letter-price-salida{
		padding-left: 15;
		padding-right: 15;
	}

	.botones-v{
		max-width: 150px;
		margin: auto;
	}

	.info-lot-extra{
		display: none;
	}

	.info-ficha-buy-info-price .precio-puja-container{
		flex-direction: column;
		align-items: start;
		border-bottom: 0 !important;
	}

	.item_content_img_single{
		border: 0;
	}

	.container.ficha-container{
		width: 750px;
		margin-right: auto;
	}

    .blog.blog-home .ml-5, .blog-home div.articulo:first-child{
        margin-left: 0;
    }
    .blog.blog-home .ml-5, .blog-home div.articulo{
        padding: 0;
    }
    .banners-home-4 .boton .carousel-caption{
        left: 0;
    }
    .banners-home-4 .boton .carousel-caption a{
        left: 0;
    }
    .banners-home-3 .card-title{
        position: relative;
    }
    .banners-home-3{
        margin: 45px 0;
    }
    .banner-home{
        padding: 60px 0 200px 0px;
	}

	.banner_home_historias{
		margin-bottom: 20px;
	}

	.banner_home_historias img{
		max-width: 100%;
	}

	.mini-sliders{
		display: block;
		justify-content: initial;
		flex-direction: initial;
		padding: 0;
	}

    .save_address_shipping .form-group {
        width: 100%;
    }

    .content-address {
        overflow: auto;
        height: 676px;
        border: 1px solid #cccccc;
    }

    .delivereaForm form {
        height: 751px;
    }

    .delivereaForm form .tab-container {
        margin-left: 0;
    }

    .delivereaForm form .tab-container, .deliverea-buttons {
        margin-left: 0;
    }

    .deliverea_tit {
        margin-left: 15px;
    }

    .auction-item-links{
        margin-top: 20px;
    }

    .mt-45n{
        margin: 0;
    }
    .border-right-light{
        border: 0;
    }

    .auction-item-links {
        padding-bottom: 20px;
        padding-left: 0;

    }

    .auction-desc-content{
        border: none;
    }

    .border-lot {
        height: auto;
        padding-bottom: 30px;
    }

    .auction-size{
        margin: 0 auto;
    }
    .page-contact-info-absolute{
        width: 50%;
    }

    .item-play {
        top: 68px;
    }

    .auctions-list{
        padding: 0px 0 50px 0;
    }

    .special-title-home:after {
        content: '';
        width: 48px;
        height: 1px;
        position: absolute;
        left: 94px;
        top: 6px;
        background: #707070;
    }
    .special-title-home {
        position: absolute;
        -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
        width: 100px;
        left: -28px;
        font-size: 10px;
        font-weight: bold;
        color: #707070;
        text-transform: uppercase;
        top: 88px;
    }

    .logo-header {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }
    .ficha-historic {
        position: relative;
        top: 0;
        right: 0;
        margin-top: 40px;
    }
    .filters-auction-texts{
        /*height: 60px;*/
    }
    .tabs-custom.filters-auction-content .ul-format{
        display: none;
    }

    .ficha-left .ficha-top, .bloque-izquierda-1 {
        order: 2;
    }
    .ficha-left .slider-thumnail-container{
        order: 1;
    }
    .ficha-left .recomendados-div{
        order: 3;
    }
    .bread-content{
        height: inherit;
    }
    .bloque-izquierda-1{
		margin-top: 15px;
		padding-right: 0;
    }
    .bloque-fijo{
        opacity: 1 !important;
        position: initial !important;
        padding: 55px;
	}
	.bloque-fijo.ficha-info-type-auction{
		padding: 0;
	}

    .content-right-ficha{
        margin-top: 30px;
    }
    .bloque-lotes-recomendados{
        display: none;
    }
    .content-right-ficha{
        background: #fff
    }
    .button-up{
        bottom: 185px;
    }
    html {
        overflow-x: hidden;
        /*padding-bottom: 165px;*/
    }
    .menu-principal-search.active {
        z-index: 999999999;
        padding: 0 30px;
    }
    .ficha-left, .content-right-ficha{
        width: 100% !important;
	}

	.banner-home-5 span > a {
		right: initial;
		left: 0;
	}

	.banner-home-4 {
		padding: 50px 0;
		border-top: 0;
		border-bottom: 0;
		margin-top: initial;
	}

	.banner-4-custom .column_banner:first-child .banner-home-4{
		border-top: 1px solid #ccc;
		margin-top: 5rem;
	}

	.banner-4-custom .column_banner:last-of-type .banner-home-4{
		border-bottom: 1px solid #ccc;
		margin-bottom: 5rem;
	}

	.banner-home-4 img {
		width: 60%;
    	margin: 10px auto;
	}


}
@media (max-width: 768px) {

    .d-flex{
        flex-wrap: wrap;
	}
	.container.ficha-container{
		width: initial;
	}

	a.bid-live.grid-icon-square{
		margin-top: 10px;
	}

	.user-accout-item-auction-container{
		text-align: center;
	}

	.contenido{
		padding: 0px;
	}


    .descripcion-cat{
		padding: 0;
		line-height: 2.5rem;
    }
    .descripcion-cat * {
        /*text-align: center;*/
        float: none !important;
        margin: 0 auto;
	}
	.descripcion-cat img{
		margin-bottom: 10px;
	}
    .descripcion-left{
        /*padding-right: 0 !important;*/
    }
    .descripcion-right{
        /*padding-left: 40px !important;*/
        margin-bottom: 30px;
    }
    .descripcion-left img{
        padding-right: 0 !important;
    }
    .footer-title .image {
        margin-top: 40px;
        padding-top: 40px;
        border-top: #cccccc 1px solid;
        text-align: left;
        justify-content: left;
    }

    .footer-title .enterprise {
        padding-top: 15px;
        border: 0;
        text-align: center;
    }

    .copy {
        text-align: center;
    }

    .social-link {
        text-align: center;
    }

    .social-links {
        margin-bottom: 15px;
        text-align: center;
    }
    .tabs-deliverea .content-tabs {
        margin-bottom: 10px;
    }

    .content-address {
        height: 300px;
    }

    .delivereaForm form {
        height: auto;
    }

    .delivereaForm .content-tabs, .delivereaForm .tab-content {
        padding: 0;
    }

    .content-right-ficha {
        min-height: auto;
    }

    .table-responsive{
        border: none;
    }
    .fech_nac input{
        max-width: 100%;
    }
    .account-user .border-password{
        margin-top: 20px;
    }
	/* Lo comento por que se corta en mobile
    .filters-auction-texts{
        height: 140px;
    }
	*/
    .auction-desc-content {
        height: auto;
        padding-bottom: 20px;
        text-align: center;
    }

    .page-contact-info-absolute{
        width: 100%;
        position: relative;
        max-width: inherit;
        float: left;
        margin-top: 60px;
    }
    .how-to-buy .container .login-content-form{
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }
    .item-play {
        top: calc(50% - 42px);
        left: 20px;

    }
    .lotes-destacados-tittle{
        width: 100%;
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
        height: auto;
        position: relative;
        font-size: 25px;
        top: 0;
        text-align: left;
        left: 0;
        margin-bottom: 20px;
    }

    .lotes-destacados-tittle:after{
        content: '';
        border-bottom: 1px solid #707070;
        position: absolute;
        width: 100%;
        height: 1px;
        left: 0;
        top: 33px;
    }
    .lotes-destacados-principal-title{
        width: auto;
    }
    .footer-module, .footer-link-address, .footer-address-title{
        text-align: center;
    }
    .footer-address-title{
        margin-top: 30px;
    }
    .newsletter-control-input{
        margin-top: 30px;
    }

    a.bid-live {
        font-size: 10px;
        padding-top: 18px;
        padding-bottom: 18px;
    }

    .form-order-by{
        margin: 15px 0;
    }
    .info_single_title.text-right.info-type-auction-title{
        text-align: left;
    }
    .lot-sold .pre{
        margin-top: 0px;
        text-align: left;
    }

    .ficha-historic {
        position: relative;
        top: 0;
        right: 0;
        margin-top: 20px;
    }
    .tabs-custom.filters-auction-content{
        padding: 0;
    }
    .tabs-custom-responsive{
        padding: 10px;
    }

    .user-account-item img{
        margin: 0 auto;
    }

    .account-user-menu{
        margin-bottom: 20px;
    }

    .user-accout-item-wrapper .d-flex {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 10px 0;
    }

    .user-accout-item-wrapper .d-flex {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 10px 0;
    }
    .user-account-item-price {
        font-weight: 600;
        font-size: 14px;
    }
    .user-account-item-date, .user-account-item-price {

        text-align: left;
        display: block;
    }

    .user-accout-item-wrapper {
        border: 0px solid lightgray;
    }

    .user-account-item .checkbox{
        margin: 0;
    }

    .user-account-item .checkbox input {
        text-align: right;
        width: 20px;
        margin: 0;
        position: relative;
    }
    .how-to-buy-row{
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .info-type-auction {
        font-size: 10px;

    }
    .logo-company {
        max-width: 160px;
    }
    .user-accout-item-wrapper{
        border: 1px solid lightgray;
	}

	.banner-home-2-title{
		/*font-size: 28px;*/
		line-height: initial;
	}

	.banner-home-2-text{
		/*top: 100px;
    	left: 230px;
		width: 50%;*/
		text-align: center;
		position: relative;
		top: initial;
		left: initial;
		right: initial;
		bottom: initial;
	}

	.banner-home-2-text > p{
		/*font-size: 15px;*/
		display: none;
	}

	.banner-home-2{
		padding: 0px 0px;
	}

	.banner-home-2 img{
		/*margin-left: -195px;*/
		width: 75%;
		margin: auto;
	}

	.banner-home-2 .boton-pral{
		padding: 12px 100px;
		font-size: 19px;
		border-radius: 30px;
	}


	.banner-home-3 img {
		width: 75%;
		margin: 20px auto;
	}

	.banner-home-3-text{
		text-align: center;
		position: relative;
		top: initial;
		left: initial;
		right: initial;
		bottom: initial;
	}

	.filter-col{
		margin: 45px 0;
		border-top: 1px solid lightgray;
		border-bottom: 1px solid lightgray;
	}

	.banner-home-5 img {
		width: 90%;
		float: initial;
		margin: auto;
	}

	.banner-home-5 span > a {
		right: initial;
		left: 15%;
		top: 370px;
	}

	h1.titlePage, h1.titlePage-custom, .mas-pujados-title{
		font-size: 30px;
		line-height: initial;
	}

}


@media (width: 768px){
    .user-accout-item-wrapper .d-flex {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        padding: 10px 0;
	}
}

@media (max-width: 576px) {

	h1.titlePage, h1.titlePage-custom, .mas-pujados-title{
		font-size: 20px;
		line-height: initial;
		margin-bottom: 10px;
	}

	.contenido td, .contenido th{
		font-size: 11px;
	}


    .pendientes_pago .factura_box, .facturas_pagadas .factura_box{
        justify-content: flex-start;
    }

    .pendientes_pago .producto_resumen_info{
        display: block !important;
    }

    .order-views select#order_selected {
        border-radius: 0 !important;
        margin-top: 5px;
        width: 100%;
        float: initial;
    }


    .lote-destacado-link {
        padding: 0 10px;
    }
    .search-title{
        font-size: 14px;
        text-align: left;
    }
    .menu-principal-content li, .menu-principal-content li a {

        font-size: 20px;
    }

    .logo_footer{
        text-align: center;
    }
    .ficha-historic{
        position: relative;
        top: 0px;
        margin-top: 20px;
        right: 0px;
    }
    .widget.timeLeft{
        height: 50px;
        width: 100%;
    }
    .widgets-auction .widget{
        margin: 0px 0px;
        margin-bottom: 10px;
    }
    .views {

        -webkit-box-pack: center;

        -ms-flex-pack: center;

        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .order-views{
        padding-bottom: 10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .cantidad-res{
        margin: 0 auto;
    }
    .widgets-auction .widget:first-child a{
        width: 100%;
    }
    .img-buy-content{
        margin-top: 20px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .text-rotate{
        width: 100% !important;
        margin-bottom: 10px;
    }
    .special-title-home {
        position: relative;
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
        width: 100%;
        left: 0;
        top: 0;

    }

    .-pujados {
        padding-bottom: 80px ;
    }
    .auction-item-content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .auction-size {
        padding-top: 10px;
    }
    .auction-item-links {
        width: 250px;
        position: relative;
        text-align: center;
        padding: 0;
        margin: 0 auto;
    }

    .auction-item-links-absolute{
        position: relative;
        margin: 10px auto;
        left: 0;
        width: 100%;
        padding: 0;
    }



    .how-to-buy {
        padding: 50px 0;
    }
    .-pujados-title {
        font-size: 20px;
    }
    .lotes_destacados {
        padding: 50px 0;
    }
    a.button-principal {
        padding: 5px 45px;

    }
    .home-slider-btn {
        position: absolute;
        bottom: 20px;
    }
    .home-slide-title{
        font-size: 15px;
    }
    #formsearchResponsive{
        width: 100%;
    }
    .lotes-destacados-tittle:after{
        content: '';
        border-bottom: 1px solid #707070;
        position: absolute;
        width: 80%;
        height: 1px;
    }

    .lotes-destacados-tittle{
        margin-bottom: 40px;
        font-size: 20px;
    }
    .menu-principal-content{
        width: 100%;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .pass-login-content{
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-top: 0;

    }
    .pass_recovery_login{
        margin: 20px auto;

    }
    .login-separator {
        border-bottom: 1px solid lightgrey;
        width: 80%;
        margin: 10px auto;
        margin-top: 0px;
    }
    .btn_login_desktop {
        font-size: 12px;
        text-align: center;
        font-weight: 700;
        height: 100%;
        text-transform: uppercase;
    }

    .login_desktop_content {
        height: auto;
        width: 100%;
    }
    .only-login {
        width: 90%;
        margin: 0 auto;
    }
    .not-logged-text{
        font-size: 18px;
    }


    .lot-sold .pre{
        margin-top: 0px;
        text-align: left;
    }
    .nav.nav-tabs.ficha-info-nav-titles .nav-item {
        width: 100%;
        height: 100%;
    }


    .info_single_title.text-right.info-type-auction-title{
        text-align: left;
    }

    .bread-after, .follow {
        margin-top: 0px;
    }


    .follow .next {
        margin: 0px 0;
    }

    .auction-item-links{
        width: 225px;

    }
    .divider-stepper {

        width: 50%;

    }
    .gener-group {

        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .date-component{
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    .date-component label,
    .date-component input{
        text-align: left;

    }
    .date-component input {
        border: 1px solid lightgray;
    }
    .create-account .container .row .general-container{
        padding: 10px;

    }
    .create-account-container {
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;

    }

    #create-login-content-form.secondary-button{
        display: block;
        margin-bottom: 22px;
    }

    .buttons {

        height: 100px;
    }
    .create-account-accept-condition label{
        padding: 0;
    }

    .inputs-account.personal-data-inputs{
        padding: 0;
    }


    .button-back {

        top: 69%;
        left: 10%;
    }

    .create-account-principal-address input, .create-account-principal-address select {
        font-size: 12px;
        height: 28px;
    }

    .buttons-login-content-form-back{
        margin-top: 61px;
    }
    .date-component input{
        font-size: 15px;
        height: 27px;
        padding: 0;
        width: 100% !important;
    }

    .create-account {
        padding: 0px 0;
    }
    .create-account-title{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    h1.titleSingle_corp{
        font-size: 20px;
    }
    .user-accout-item-wrapper .d-flex{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 10px 0;
    }
    .user-account-item-date, .user-account-item-price {
        color: grey;
        padding: 5px 0;
        height: 100%;
        font-size: 14px;
        text-align: left;
        display: block;
        padding: 2px 10px;
    }


    .user-account-item-price {
        font-weight: 600;
        font-size: 14px;
    }
    .tabs-custom.filters-auction-content{
        padding: 0;
    }
    .tabs-custom-responsive{
        padding: 10px;
    }
    .tabs-custom.filters-auction-content .ul-format{
        display: none;
    }

    .account-user-menu{
        margin-bottom: 20px;
    }

    .account-item-border {
        border-left: 0px solid lightgray;
    }

    .list-features-how{

        -webkit-box-orient: horizontal;

        -webkit-box-direction: normal;

        -ms-flex-direction: row;

        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

    }
    .how-to-buy{
        padding-bottom: 10px;
    }

    .list-features-how li{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .user-accout-item-wrapper{
        border: 1px solid lightgray;
    }
    .logo-company {
        max-width: 115px;
    }

    .user-account img{
        width: 23px;
        height: 23px;
    }
    .logo-header{
        min-width: auto;
	}

	.banner-home-2-text {
		/*top: 50px;
		left: 167px;*/
	}
	.banner-home-2 img {
		/*margin-left: -223px;*/
	}
	.banner-home-2-text > p {
		/*font-size: 13px;*/
	}
	.banner-home-5 img {
		width: 100%;
		float: initial;
		margin: auto;
	}

	.banner-home-5 span > a {
		top: 275px;
	}
	.categories-carousel-home{
		margin: 0px
	}

}

@media (max-width: 460px){
	.banner-home-2-text {
		/*top: 23px;
		left: 100px;
		width: 65%;*/
	}
	.banner-home-2 .boton-pral {
		padding: 7px 50px;
		font-size: 14px;
		border-radius: 30px;
	}
	a.comopujar{
		position: absolute;
		right: 0;
		bottom: -35px;
	}

}


@media (max-width: 368px){
    .delivereaForm form {
        padding: 20px 10px;
    }
    .logo-header{
        padding: 0;
	}
	.banner-home-2 img {
		/*margin-left: -223px;*/
	}
	.banner-home-5 span > a {
		left: 15px;
		padding: 5px 35px;
		font-size: 13px;
		top: 195px;
	}

}

@media screen and (max-width: 360px) {
    .delivereaForm form {
        padding: 20px 10px;
    }
}
