@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

:root {

	--primary-color: #414145;
	--secondary-color: #921f30;
	--complement-color: #414145;
	--complement-primary-color: #d6b553;
	--complement-secondary-color: #d6c285;

	--extra-color: #00a9c7;
	--primary-color-text: #707070;
	--secondary-color-text: #46494f;

	--home-primary-color-title: #d6c285;
	--home-secondary-color-title: #333C4E;
	--home-color-paragraph: #DCDCDC;
	--btn-home-background: #414145;
	--btn-home-text: #d6c285;
	--btn-home-border: #d6c285;
	--btn-home-hover-background: #4c4c4c;

	--btn-register-home-text: var(--secondary-color);
	--btn-register-home-border: var(--secondary-color);
	--btn-register-home-bgcolor: #4c4c4c;

	--breadcrumb-text-color: #434343;

	--link-static-page-color: #4c4c5c;
	--link-static-page-color-hover: #627691;

	--btn-static-page-color: #4c4c4c;
	--btn-static-page-color-hover: var(--secondary-color);
	--btn-static-page-bgcolor-hover: #4c4c4c;
	--btn-static-page-border: #4c4c4c;
	--btn-static-page-border-color-hover: var(--secondary-color);

	--btn-vender-segre-text: white;
	--btn-vender-segre-text-hover: var(--secondary-color);
	--btn-vender-segre-bgcolor-hover: #4c4c4c;
	--btn-vender-segre-border: white;
	--btn-vender-segre-border-hover: var(--secondary-color);


	--btn-background-blue: #3BAFBF;
	--btn-background-blue-hover: #00A8BF;

	--btn-background-segre: #921f30;
	--btn-background-segre-hover: #5a0b17;

	--btn-primary-background: var(--secondary-color);
	--btn-primary-background-hover: #5a0b17;
	--btn-primary-text: white;
	--btn-primary-text-hover: white;

	--btn-secondary-background: white;
	--btn-secondary-background-hover: #2b2b2b;
	--btn-secondary-text: #2b2b2b;
	--btn-secondary-text-hover: white;

	--newsletter-background: #eaeaea;
	--newsletter-title-color: var(--secondary-color);
	--newsletter-text: 2b2b2b;
	--newsletter-input-text: #929292;
	--newsletter-placeholder: var(--newsletter-input-text);
	--btn-primary-background-hover: var(--primary-color);

	--footer-background: #eaeaea;
	--footer-titles-color: var(--secondary-color);
	--footer-links-color: #434343;
	--footer-links-color-hover:var(--secondary-color);

	--footer-sociallinks-background: white;
	--footer-sociallinks-textcolor: #707070;

	--filter-background: #414145;
}

/* cambio color menu, ahora lo quieren blanco */
a.link-header, .menu-especial a, .user-account, .lang-selection {

	font-family: Playfair Display, sans-serif;
	font-weight: normal;

}
a.link-header{
	font-size: 18px;
	font-weight: bold;
}

nav .color-letter,
nav .color-letter:hover,
.lang-selection .color-letter,
.lang-selection .color-letter:hover,
.user-account-login,
.btn_login_desktop {
	color:#5a0b17;
}
/*
header.fixed nav {
	border-bottom: 0px;

}

.header-height {
	height: 170px;

}

header.fixed {
	height: 170px;
	width: 100%;
	z-index: 100;
	top: 0px;
	background: white;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
} */

header {
	position: sticky;
	height: auto;
	width: 100%;
	z-index: 100;
	top: 0px;
	background: white;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

nav.menu-header {
	height: 40px;
	justify-content: space-between;
}

.menu-header .menu-responsive {
	visibility: hidden;
}

/*
	.lang-selection,
	nav.menu-header {
		background-color: #2b2b2b;
	}

	.lang-selection {
		border-bottom: 1px solid #2b2b2b;
	}

	nav .color-letter,
	nav .color-letter:hover,
	.lang-selection .color-letter,
	.lang-selection .color-letter:hover,
	.user-account-login,
	.btn_login_desktop {
		color: #ffffff;
	}
*/
/* fin cambio color */
body,
h1,
h2,
h3,
h4,
h5,
h6,
footer {
	font-family:  sans-serif;
}

p {
	line-height: 2.25;
}

.paragraph-96ch {
	max-width: 96ch;
}

.margin-auto {
	margin: auto;
}

.bg-black {
	background-color: black;
}



.item_lot{
	min-height: 450px;
}

.item_lot .salida-time{
	padding: 2px 0px 10px 0px;
}

.btn-bid-lotlist {
	background: var(--btn-primary-background);
	color: var(--btn-primary-text);
}

.my-account {
	color: #921f30;
	display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 0 2rem;
	position: relative;
}

.my-account .logo-company {
	width: 25px;
	filter: hue-rotate(138deg) saturate(65) brightness(0.45);
}

.mega-menu.menu-especial {
	position: absolute;
	z-index: 100000000;
	background: #EEEEEE;
	width: 199px;
	border-top: var(--secondary-color) 2px solid;
	-webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, .1);
	box-shadow: 0px 0px 6px rgba(0, 0, 0, .1);
	display: none;
	top: 100%;
	right: 10px;
	left: initial;
}

.mega-menu.menu-especial .item {
	padding: 10px;
	margin: 0;
	border-bottom: var(--secondary-color) 1px solid;
	color: #FFF;
	text-decoration: none;
	list-style: none;

}

.mega-menu.menu-especial a {
	text-decoration: none;
	display: block;
	text-transform: capitalize !important;
	color: #921f30;
	border-top: 0;
	padding: 0;
}

.mega-menu.menu-especial a:hover {
	background: none;
	text-decoration: none;
	color: var(--secondary-color);
}

/* .mega-menu a.color-letter {
	color: #46494f;
} */


.clock-text {
	text-align: center;
	margin: 25px auto;
	text-align: center;
	font-size: 22px;
	text-transform: none;
	font-weight: 600;
	color: black;
}


.auctions-list {
	padding: 60px 0px;
}

/* MENÚ DE NAVEGACIÓN */


/* FIN MENÚ DE NAVEGACIÓN */

/* BREADCRUMB */

.titlePage,
.bread-content ul,
.bread-content ul li a {
	color: var(--breadcrumb-text-color);
}

/* FIN BREADCRUMB */


/* HOME */

.bg-primary-color {
	background-color: #eaeaea;
}

.title-color-yellow {
	color: var(--home-primary-color-title);
}

.title-color-dark-gray {
	color: var(--home-secondary-color-title);
}

.paragraph-color-gray {
	color: var(--home-color-paragraph);
}

.btn-home {
	color: var(--btn-home-text);
	padding: 10px 20px;
	margin-top: 5px;
	margin-bottom: 5px;
	border: 1px solid var(--btn-home-border);
	background-color: var(--btn-home-background);
}

.btn-home:hover {
	background-color: var(--btn-home-hover-background);
	color: var(--btn-home-text);
}

.home-text-container {
	padding-top: 2rem;
	padding-bottom: 4rem;
}

.home-text-container h3 {
	font-size: 15pt;
}

.home-text-container p {
	font-size: 10pt;
}

.home-text-container .social-link,
.home-text-container .social-link-icon {
	font-size: 30px;
	text-decoration: none;
}

.home-p-a-j img {
	padding-left: 5px;
	padding-right: 5px;
}

.yt-iframe-container {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.featured-log-bnr .yt-video-title {
	color: var(--secondary-color);
}

.featured-log-bnr iframe {
	display: block;
}

.featured-log-bnr h3 {
	color: #444;
}

.featured-log-bnr .item_texto {
	width: 100% !important;
}

.yt-banner-container .rowBanner {
	align-items: flex-start;
}

.virtual-visit-title {
	color: var(--secondary-color);
}

/* PONER BIEN VARIABLES */

.btn-visita-virtual {
	background-color: transparent;
	border: white 1px solid;
	color: white;
	padding: 10px 20px;
	transition: all 0.3s ease-in-out;
}

.btn-visita-virtual:hover {
	background-color: white;
	border: var(--secondary-color) 1px solid;
	color: var(--secondary-color);
}

.ventajas-segre-imgs .item_imagen img {
	height: 100px;
	width: auto;
	display: block;
	margin: 0 auto;
}

.btn-register-home {
	color: var(--btn-register-home-text);
	border: 1px solid var(--btn-register-home-border);
	background-color: var(--btn-register-home-bgcolor);
	padding: 10px 20px;
	letter-spacing: 2px;
}

.btn-register-home:hover {
	color: var(--btn-register-home-text);
}

/* FIN HOME */

/* TODAS LAS PÁGINAS ESTÁTICAS */

.all-page-banner-container .column_banner {
	padding: 0px;
}

.all-page-banner-container .BANNER_banner-all-page img {
	width: 100%;
	height: auto;
}

.video-resolution-responsive {
	width: 450px;
	height: 253px;
	margin: auto;
	display: block;
}

.btn-static-page-big,
.btn-static-page {
	transition: all 0.2s ease-in-out;
	color: var(--btn-static-page-color);
	padding: 10px 20px;
	letter-spacing: 2px;
	border: 2px solid var(--btn-static-page-border);
	background-color: transparent;
	white-space: normal;
}

.btn-static-page-big:hover,
.btn-static-page:hover {
	background-color: var(--btn-static-page-bgcolor-hover);
	border: 2px solid var(--btn-static-page-border-color-hover);
	color: var(--btn-static-page-color-hover);
}

.btn-static-page-big {
	font-size: 18px;
	font-weight: 500;
}

.btn-blue {
	width: 100%;
	padding: 3px 0px;
	transition: all 0.2s ease-in-out;
	color: white;
	background-color: var(--btn-background-blue);
	letter-spacing: 2px;
}

.btn-blue:hover {
	color: white;
	background-color: var(--btn-background-blue-hover);
}

.btn-segre {
	width: 100%;
	padding: 3px 0px;
	transition: all 0.2s ease-in-out;
	color: white;
	background-color: var(--btn-background-segre);
	letter-spacing: 2px;
	border-radius: 10px;
}

.btn-segre:hover {
	color: white;
	background-color: var(--btn-background-segre-hover);

}

.comprar-info{
border: 1px solid #921f30;
background-color: #f4f1f1;
border-radius: 25px;
padding: 0px 10px 15px 10px;
margin-top: 40px;
text-align: center;
}


.static-page-link {
	color: var(--link-static-page-color);
	text-decoration: none;
	font-size: 16px;
	transition: all 0.3s ease-in-out;
}

.static-page-link:hover {
	color: var(--link-static-page-color-hover);
	text-decoration: none;
}

.sp-container-catalogador {
	min-height: 860px;
}

/* FIN TODAS LAS PÁGINAS ESTÁTICAS */

/* PÁGINA ESTÁTICA DE APP SEGRE */

.app-video-resolution-responsive {
	width: 960px;
	height: 540px;
	margin: auto;
}

.qr-responsive {
	max-width: 750px;
	height: auto;
	margin: auto;
}

/* FIN PÁGINA ESTÁTICA DE APP SEGRE */

/* VALORACIÓN */

#dropzone {
	border: 3px dashed var(--secondary-color) !important;
}

/* FIN VALORACIÓN */

/* NEWSLETTER (CATÁLOGOS) */

.newsletter-title-color {
	color: var(--newsletter-title-color);
}

.cataog-newsletter-text-container {
	background-color: var(--newsletter-background);
}

.cataog-newsletter-text-container .title-catalog {
	color: var(--newsletter-title-color);
}

.cataog-newsletter-text-container .subtitle-catalog {
	margin: auto;
	color: var(--newsletter-text);
	width: 96ch;
}

/* FIN NEWSLETTER (CATÁLOGOS) */
.home-superior{
	margin-top:20px;
}
/* VENDER SEGRE BANNER */

.sell-segre-banner-container .column_banner {
	padding: 0px;
}

.sell-segre-banner .item_imagen>img {
	display: none;
}

.sell-segre-banner .title {
	font-size: 46px;
	line-height: 1.25;
}

.btn-vender-segre {
	transition: all 0.2s ease-in-out;
	color: var(--btn-vender-segre-text);
	padding: 10px 20px;
	letter-spacing: 2px;
	border: 2px solid var(--btn-vender-segre-border);
	background-color: transparent;
}

.btn-vender-segre:hover {
	background-color: var(--btn-vender-segre-bgcolor-hover);
	border: 2px solid var(--btn-vender-segre-border-hover);
	color: var(--btn-vender-segre-text-hover);
}

.bodegon-img {
	display: block;
	border: 1px solid white;
}

/* FIN VENDER SEGRE BANNER */

/* BANNER APP */

.title-app {
	text-align: center;
	font-size: 46px;
	line-height: 1.25;
}

.app-img {
	margin: auto;
	display: block;
}

.video-app-segre {
	width: 100%;
	height: auto;
	display: block;
}

.app-segre-banner-container .column_banner {
	padding: 0px;
}

.app-segre-banner .item_imagen>img {
	display: none;
}

/* FIN BANNER APP */

/* FOOTER */

footer {
	padding: 30px;
}

.footer-title {
	font-size: 20px;
	margin-bottom: 28px;
}

.footer-content {
	line-height: 38.25px;
	font-size: 17px;
}

.footer-list {
	list-style: none;
}

.social-link {
	transition: 0.1s linear all;
	-webkit-transition: 0.1s linear all;
	-o-transition: 0.1s linear all;
}

.social-link-container {
	margin-top: 30px;
	display: flex;
    gap: 10px;
    align-items: center;
}

/* FIN FOOTER */

/* SOCIAL LINKS */

.social-link,
.social-link-icon {
	font-size: 45px;
	text-decoration: none;
}

.social-link:hover,
.social-link-icon:hover {
	text-decoration: none;
}

.facebook-social-link {
	color: #3B5998;
}

.facebook-social-link:hover {
	color: #3D5587;
}

.twitter-social-link {
	display: inline-flex;
    color: #fff;
    background: #000;
    border-radius: 7px;
}

.twitter-social-link:hover {
	color: #fff;
}

.twitter-social-link svg {
	padding: 5px;
}


.youtube-social-link {
	color: #CD201F;
}

.youtube-social-link:hover {
	color: #B12726;
}

.instagram-social-link {
	color: #E1306C;
}

.instagram-social-link:hover {
	color: #C12B5F;
}

.linkedin-social-link {
	color: #0077B5;
}

.linkedin-social-link:hover {
	color: #006699;
}

/* FIN SOCIAL LINKS */

/* catalogos estática  */

.container-iframe-catalogo {
	background-color: #253139;

}

.title_iframe_catalogo {
	margin-top: 40px;
	text-align: center;

}

.div_iframe_catalogo {
	width: 100%;
	height: 425px;
	background-color: #253139;
}

.div_iframe_catalogo h2 {
	margin-top: 40px;
}

.div_iframe_catalogo iframe {
	width: 100%;
	height: 100%;
}

.div_iframe_catalogo iframe #embedTitleField {
	display: none;
}

/* Registro */
#registerForm .datos_newsletter .checkbox-container {
	width: 62%;
}

.success_registered .titlePage {
	color: black;
}

.lot-remates-destacados {
	min-height: 520px;
}


/* Left Filters (Filtros grid lotes) */

/* Imágen catálogo */
.img-catalog-lot-list {
	max-height: 250px;
	display: block;
	margin: auto;
	margin-bottom: 3rem;
}

.content-right-ficha .desc-lot-title {
	margin-bottom: 1rem;
}

.content-right-ficha .desc-lot-profile-title {
	margin: 0;
}

.content-right-ficha .desc-lot-profile-content {
	font-size: 14px;
}

.lot-sold .pre {
	margin: 0;
}

.lot-sold .lot-sold_impsal p {
	line-height: 1.5;
	margin: 0;
}
