:root {

	--primary-color: #414145;
	--secondary-color: #D6B964;
	--complement-color: #414145;
	--complement-primary-color: #d6b553;
	--complement-secondary-color: #d6c285;

	--extra-color: #00a9c7;
	--primary-color-text: #707070;
	--secondary-color-text: #46494f;

	--home-primary-color-title: #d6c285;
	--home-secondary-color-title: #333C4E;
	--home-color-paragraph: #DCDCDC;
	--btn-home-background: #414145;
	--btn-home-text: #d6c285;
	--btn-home-border: #d6c285;
	--btn-home-hover-background: #4c4c4c;

	--btn-primary-background: #D6B964;
	--btn-primary-background-hover: #00a9c7;
	--btn-primary-text: #2b2b2b;
	--btn-primary-text-hover: white;

	--btn-secondary-background: white;
	--btn-secondary-background-hover: #2b2b2b;
	--btn-secondary-text: #2b2b2b;
	--btn-secondary-text-hover: white;

	--footer-background: #434343;
	--footer-titles-color: #d6c285;
	--footer-links-color: #eaeaea;
	--footer-links-color-hover: var(--complement-primary-color);

	--footer-sociallinks-background: white;
	--footer-sociallinks-textcolor: #707070;

	--filter-background: #414145;
}

.lang-selection,
nav.menu-header {
	background-color: #2b2b2b;
}

.lang-selection {
	border-bottom: 1px solid #2b2b2b;
}

nav .color-letter,
nav .color-letter:hover,
.lang-selection .color-letter,
.lang-selection .color-letter:hover,
.user-account-login,
.btn_login_desktop {
	color: #ffffff;
}


.btn-bid-lotlist {
	background: var(--btn-primary-background);
	color: var(--btn-primary-text);
}

.my-account {
	color: #fff;
}

.mega-menu a.color-letter {
	color: #46494f;
}

.clock-text {
	text-align: center;
	margin: 25px auto;
	text-align: center;
	font-size: 22px;
	text-transform: none;
	font-weight: 600;
	color: black;
}


.auctions-list {
	padding: 60px 0px;
}

/* MENÚ DE NAVEGACIÓN */


/* FIN MENÚ DE NAVEGACIÓN */


/* HOME */

.bg-primary-color {
	background-color: var(--primary-color);
}

.title-color-yellow {
	color: var(--home-primary-color-title);
}

.title-color-dark-gray {
	color: var(--home-secondary-color-title);
}

.paragraph-color-gray {
	color: var(--home-color-paragraph);
}

.btn-home {
	color: var(--btn-home-text);
	padding: 10px 20px;
	margin-top: 5px;
	margin-bottom: 5px;
	border: 1px solid var(--btn-home-border);
	background-color: var(--btn-home-background);
}

.btn-home:hover {
	background-color: var(--btn-home-hover-background);
	color: var(--btn-home-text);
}

.home-text-container {
	padding-top: 2rem;
	padding-bottom: 4rem;
}

.home-text-container h3 {
	font-size: 15pt;
}

.home-text-container p {
	font-size: 10pt;
}

.home-text-container .social-link,
.home-text-container .social-link-icon {
	font-size: 30px;
	text-decoration: none;
}

.home-p-a-j img {
	padding-left: 5px;
	padding-right: 5px;
}

.home-p-a-j .item_imagen {
	width: 100% !important;
}

/* FIN HOME */

/* PÁGINA ESTÁTICA DE APP SEGRE *

.app-video-resolution-responsive {
	width: 960px;
	height: 540px;
	margin: auto;
}

.qr-responsive {
	max-width: 750px;
	height: auto;
	margin: auto;
}

/* FIN PÁGINA ESTÁTICA DE APP SEGRE */

/* FOOTER */

footer {
	padding-left: 20px;
	padding-right: 20px;
}

.footer-title {
	font-size: 20px;
	margin-bottom: 28px;
}

.footer-content {
	line-height: 38.25px;
	font-size: 17px;
}

.footer-list {
	list-style: none;
}

.social-link {
	transition: 0.1s linear all;
	-webkit-transition: 0.1s linear all;
	-o-transition: 0.1s linear all;
}

.social-link-container {
	margin-top: 30px;
}

/* FIN FOOTER */

/* SOCIAL LINKS */

.social-link,
.social-link-icon {
	font-size: 45px;
	text-decoration: none;
}

.social-link:hover,
.social-link-icon:hover {
	text-decoration: none;
}

.facebook-social-link {
	color: #3B5998;
}

.facebook-social-link:hover {
	color: #3D5587;
}

.twitter-social-link {
	color: #55ACEE;
}

.twitter-social-link:hover {
	color: #5197CC;
}

.youtube-social-link {
	color: #CD201F;
}

.youtube-social-link:hover {
	color: #B12726;
}

.instagram-social-link {
	color: #E1306C;
}

.instagram-social-link:hover {
	color: #C12B5F;
}

.linkedin-social-link {
	color: #0077B5;
}

.linkedin-social-link:hover {
	color: #006699;
}

/* FIN SOCIAL LINKS */
