:root {

    --primary-color: #414145;
    --secondary-color: #BF9814;
    --complement-color: #414145;
    --extra-color: #00a9c7;
    --primary-color-text: #707070;
	--secondary-color-text: #46494f;

	--btn-primary-background: #d8ad2b;
	--btn-primary-background-hover:  #00a9c7;
	--btn-primary-text: #2b2b2b;
	--btn-primary-text-hover: white;

	--btn-secondary-background: white;
	--btn-secondary-background-hover: #2b2b2b;
	--btn-secondary-text: #2b2b2b;
	--btn-secondary-text-hover: white;

	--footer-background: #2b2b2b;
	--footer-titles-color: #ffffff;
	--footer-links-color: #ffffff;
	--footer-links-color-hover: #b4b4b4;

	--footer-sociallinks-background: white;
	--footer-sociallinks-textcolor: #707070;

	--filter-background: #414145;
}

.lang-selection, nav.menu-header{
	background-color: #2b2b2b;
}

.lang-selection {
    border-bottom: 1px solid #2b2b2b;
}

nav .color-letter,nav .color-letter:hover, .lang-selection .color-letter, .lang-selection .color-letter:hover, .user-account-login, .btn_login_desktop {
    color: #ffffff;
}


.btn-bid-lotlist{
	background: var(--btn-primary-background);
	color: var(--btn-primary-text);
}

.my-account{
	color: #fff;
}

.mega-menu a.color-letter{
	color: #46494f;
}

.clock-text{
	text-align: center;
    margin: 25px auto;
    text-align: center;
    font-size: 22px;
    text-transform: none;
    font-weight: 600;
    color: black;
}


.auctions-list{
	padding: 60px 0px;
}
