@media screen and (max-width: 1205px) {

	.footer-title .image {
        border-top: none;
	}

}


@media (max-width: 1200px) {
	.logo-header{
		justify-content: space-between;
		align-items: center;
	}

	.header-height {
		height: 120px !important;
	}

	.menu-principal-content{
		align-items: flex-start;
		justify-content: flex-start !important;
	}

	.menu-principal-content li, .menu-principal-content li a{
		width: 100%;
	}

	.menu-principal-content li{
		border-top: 1px solid #bebebe;
	}
	.menu-principal-content li a{
		margin: 10px 0px;
		font-size: 20px;
		color: #7d7d7d;
		justify-content: flex-start !important;
	}

	.close-menu-reponsive {
		font-size: initial;
	}
}


@media (max-width: 992px) {

	.well {
		width: 80%;
	}

	footer .img-container{
		text-align: center;
	}

	.footer-ul li{
		float: initial;
		text-align: center;
		margin-top: 5px;
		margin-bottom: 5px;
	}

	.signature-container{
		display: flex;
    	flex-direction: column-reverse;
    	text-align: center;
    	gap: 10px;
	}

}
