/node_modules
/public/hot
/public/storage

storage/app/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
/storage/*.key

/vendor

.env
.env.backup
.env.example
.phpunit.result.cache

Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/.idea
/.vscode

config/app.php
public/.htaccess
public/articulos/
public/blog/
public/img/
public/files/
public/reports/
public/bills/
public/uploads/
public/nft/
public/sitemap.xml

/dni

