:root {
	--articlePrimarycolor: #7d9396;
}

/* FICHA DEL ARTICULO */
.titleArticlePage {
	font-size: 16px;
	font-weight: bold;
	color: var(--articlePrimarycolor);

}

.priceArticlePage span {
	font-size: 20px;
}

.nextArrowBtn {
	position: absolute;
	z-index: 1000;
	top: 0;
	right: -20px;
	color: #D2E2F2;
	cursor: pointer;
	font-size: 18px;
	padding: 30px 0px 30px 0px;
}

.prevArrowBtn {
	position: absolute;
	z-index: 1000;
	top: 0;
	left: -20px;
	color: #D2E2F2;
	cursor: pointer;
	font-size: 18px;
	padding: 30px 0px 30px 0px;
}

.addCartButton {
	width: 100%;

}


.sliderThumbsArticulos {
	padding-right: 10px;
}

.sliderThumbsArticulos img {

	max-height: 100px;
	max-width: 100%;
}

.slick-list>div {
	margin-left: 0;
}

/* FIN DE FICHA DEL ARTICULO */

.grid-articles-lots {
	position: relative;
}

.top-filters-wrapper {
	padding-inline-start: 0.5rem;
	padding-bottom: 2rem;
}

.grid-articles-lots .filters-auction-texts {
	position: relative;
	margin-bottom: 1rem;
}

.grid-articles-lots .sections {
	margin-left: 1rem;
    margin-bottom: 0.5rem;
    font-size: 0.9em;
}

.delete-text-button {
	cursor: pointer;
	position: absolute;
    right: 170px;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 90%;
}


















.articles-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(21em, 1fr));
	gap: 10px;
}

.article-element {
	min-height: 290px;
	position: relative;
	text-align: center;

	border: 1px solid lightgray;
	box-shadow: 0 3px 18px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 3px 18px rgba(0, 0, 0, 0.2);
}

.article-element:hover,
.article-element:focus {
	text-decoration: none;
	color: #7d9396;
}

.article-foto {

	aspect-ratio: 4/3;
	background-size: auto 100%;
	background-position: center;
	background-repeat: no-repeat;
}

.article .artTitle {
	font-weight: bold;

	-webkit-line-clamp: 2;
	text-overflow: ellipsis;
	overflow: hidden;
	display: block;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
	-o-text-overflow: ellipsis;
}

.article .artPrice {
	font-weight: bold;
	font-size: 18px;
}
/* FIN GRID ARTICULOS */



/* CARRITO DE ARTICULOS */
#articleCartForm input[type=number] {
	width: 100%;
}

.img-articleCart {
	text-align: center;
}

.img-articleCart img {
	max-width: 100%;
	max-height: 40px;
}

.labelGrabasdo {
	margin-top: 10px;
}

.inputGrabado {
	border: 1px solid #AAA !important;
	margin-top: 5px;
	width: 100%;
	color: #333;
}
/* FIN CARRITO DE ARTICULOS */
