

:root{
	--secondary-color: #888!important;
}
.user_info_items{
	font-size: 20px;
}

.pactual, .precioSalida, .siguientePujaClass{
	padding: 5px;
}

.precioSalida p, .pactual p{
	min-width: initial;
}

.precioSalida > span:nth-child(2), .pactual > span:nth-child(2){
	margin-left: auto;
}

.tr_user_streaming > div{
	overflow: hidden;
}

.button, .btn-primary {
    background-color: #888 !important;
    border-color: #888 !important;
}

.button:hover, .btn-primary:hover {
    background-color: #686868 !important;
    color: #fff !important;
    border-color: #686868 !important;
}

.bid_amount_gestor{
	padding-right: 55px;
}

.user_info_items{
    height: 85%;
    display: grid;
    grid-template-rows: 1fr 2fr 2fr 2.5fr 2fr 2fr 1fr;
}

.siguientePujaClass{
	border: 1px solid #DBDBDB;
display: flex;
align-items: center;
	margin-bottom: 20px;
}
.siguientePujaClass p {
	margin-left: 10px;
	margin-bottom: 0;

  }

.siguientePujaClass > span:nth-child(2) {
	margin-left: auto;
  }

