:root {
    --primary-color: #BA9E00;
    --secondary-color: #012931;
    --complement-color: #414145;
    --extra-color: #BF9814;
    --newsletter-background: lightgray;
}

.button-principal:hover {
    color: white;
}

footer{
	background-color: var(--secondary-color);
}

.footer-title {
		color: var(--primary-color);
}

.footer-link{
	color: white;
}

.logo-company {
    max-width: 100px;
}

header.fixed nav .logo-company {
    max-width: 90px;
}

.logo-header{
	padding: 0;
	min-width: 125px;
}

.search-header-container{
	width: 50px;
}

.btn_login_desktop{
	padding: 0 15px;
}

.contenido {
	color: var(--primary-color-text);
	text-align: justify;
}

.contenido ul{
	padding: 20px;
}

.contenido ul li{
	margin-bottom: 15px;
}

.contenido ol{
	padding: 20px;
}

.contenido ol li{
	margin-bottom: 15px;
}

.contenido .a-color-red{
	color:red;
	text-decoration: none;
}

.contenido .p-block-red{
	border: 1px solid red;
	padding: 1px;
}

.p-block-red a{
	color: red;
	text-decoration: none;
}


.titulos-home {
	color: var(--primary-color-text);
    font-size: 20px;
    font-weight: bold;
    position: relative;
    margin-bottom: 20px;
}

.titulos-home p {
	color: var(--primary-color-text);
    font-size: 20px;
    font-weight: bold;
    position: relative;
    margin-left: 20px;
    font-size: 20px;

}

.titulos-home:before {
	content: '';
    width: 3px;
    height: 100%;
    background: #d9534f;
    position: absolute;
    top: 0px;
}

#menu_desp {
	position: absolute;
    z-index: 3;
    top: 60px;
    display: none;
    width: 185px;
    padding: 10px 0 10px 0;
    border: #cccccc 1px solid;
    background: white;
}

.link-header-second{
	margin: 5px 0px;
}


.home-top-banner span {
    position: initial;
    top: 0;
}


.banner-texto > .container > .row{
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
	flex-direction: row-reverse;
	-webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
}

.banner-texto img{
	/*width: 50% !important;
	height: auto !important;*/
}

.banner-texto > .container > .row > div:first-child{
	width: 60%;
}

.banner-texto > .container > .row > div:last-of-type{
	width: 40%;
}

.banner-texto > .container > .row > div:last-of-type img{
	width: 40% !important;
	height: auto !important;
	margin: auto;
}

.baner-texto-nologin > .container > .row > div:last-of-type img{
	width: 30% !important;
}

.baner-texto-nologin > .container > .row > div:first-child{
	width: 50%;
	padding-left: 5px;
	padding-right: 5px;
}

.baner-texto-nologin > .container > .row > div:last-of-type{
	width: 50%;
	padding-left: 5px;
	padding-right: 5px;
}

.btn-bid-lotlist {
    padding: 9px 0;
    border-radius: 0;
	background: var(--extra-color);
    color: white;
	text-align: center;
	max-width: 220px;
}

.item_lot .salida-time {
    display: block;
    height: 38px;
    padding: 10px 15px;
    background: var(--primary-color);
    color: white;
    font-size: 12px;
}

.item_lot{
	min-height: 516px;
}

.item_lot .data-container .data-price{
	height: 110px;
    margin-top: 20px;
    text-align: left;
}

#modalMensaje .inf_value{
	color: red;
}



