/* Large desktops and laptops */
@media (min-width: 1200px) {
    visible-lg-custom{
        display: inline-block;
    }
    div.item_subasta img {
       margin-bottom: 10px;
        min-height: 150px;
    }
    .lot-count{
        position: relative;
    }

    .timeLeft{
        position: absolute;
        right: -25px;
    }


}
/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
        .capaOculta{
            visibility: hidden;
        }

            .info .dropdown-menu{
                min-width: 100%;
                background: white;

                padding: 10px;

            }
            .box,
            .box ul li{
                border-top: 0 !important;
            }
            .box{
                margin-bottom: 10px;
                margin-top: 5px;
            }

			.tienda-banner img{
				max-height: 164px;
			}

}

@media (max-width: 992px) {
	.tienda-banner img{
		max-height: none;
	}

	.content-page-banner > .container > .row {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.content-page-banner .col-md-4 {
		width: 80%;
    	margin-top: 2rem;
    	flex: initial;
	}

}


@media (min-width: 900px) {
    .col-solidarity{
        display: flex;
        align-items: center;
    }
	.form-group-custom {
	    margin-bottom: 15px;
	    float: left;
	    margin-right: 20px;
	    width: 46%;
	}
        header ul.items_top_responsive{
            text-align: right;
        }
        .table-responsive>.table>tbody>tr>td{
            max-width: 200px;
        }

        .timeLeft{
            padding-left: 10px;
        }



}
/* Portrait tablets and small desktops */
@media (min-width: 769px) and (max-width: 991px) {
                .info .dropdown-menu{
                min-width: 100%;
                background: white;

                padding: 10px;

            }
            .box,
            .box ul li{
                border-top: 0 !important;
            }
            .box{
                margin-bottom: 10px;
                margin-top: 5px;
            }


    .timeLeft{
            padding-left: 10px;
        }
        .control{
            display: block;
            opacity: 1;
        }
        .item_lot_large .img_lot{
            height: 160px;
        }
        .info_single div.pre,
        .precio_minimo_no_alcanzado,
        .precio_minimo_alcanzado,
        .ficha_V .info_single_button{
            width: 200px;
        }
        .capaOculta{
            visibility: hidden;
        }
        div.item_subasta img {
            margin-bottom: 10px;
            min-height: 126px;
        }
        .lot-grid{
            margin-bottom: 20px;
        }
        .lot-grid a{
            color: #707B7C;
            -webkit-transition: .2s color linear;
            -o-transition: .2s color linear;
            transition: .2s color linear;
            text-decoration: none;
        }

}



/* Landscape phones and portrait tablets */
@media (max-width: 768px) {
    .no_dispo-band p {
    font-size: 36px;

}
                .info .dropdown-menu{
                min-width: 100%;
                background: white;

                padding: 10px;

            }
            .box,
            .box ul li{
                border-top: 0 !important;
            }
            .box{
                margin-bottom: 10px;
                margin-top: 5px;
            }
    footer {
        padding-bottom: 30px;
   }
    div.module_footer{
        text-align: center;
    }
    .lot-grid{
        margin-bottom: 20px;
    }
    .lot-grid a{
        color: #707B7C;
        -webkit-transition: .2s color linear;
        -o-transition: .2s color linear;
        transition: .2s color linear;
        text-decoration: none;
    }
        .capaOculta{
            visibility: hidden;
        }
	.navbar-nav>li:nth-child(1) a {
		border-left: none;
	}
	.mt_re {
		margin-top: 35px;
	}
        #pujar_ordenes_w{
            font-size: 15px;
            min-height: 46px;
        }
	#owl-carousel-responsive {
		margin-bottom: 40px;
	}
	.change_row {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		display: table-header-group;
	}
	.left_row {
	    -webkit-order: 2;
	    -ms-order: 2;
	    order: 2;
	}
	.right_row {
		-webkit-order: 1;
		-ms-order: 1;
		order: 1;
	}
        .item_lot_mini{
            position:relative;

        }
        .item_lot_mini .data_container{
            height: 40px;
        }
        .timeLeft{
            font-size: 14px;
            padding-top: 10px;
            text-align: right;

        }
        h1.titlePage,
        .title-head-grid .lot-count,
        .title-head-grid .lot-grid,
        .lot-detail h1.titlePage{

            padding-bottom: 10px;
            margin-bottom: 10px;
            margin-top: 10px;
            font-size: 30px;
    }
    #add_fav.btn,
    #del_fav.btn{
        position: absolute;
        font-size: 12px;
        left: 45px;
        z-index: 2;
        height: 36px;
        width: 200px;

    }
    #add_fav.btn p,
    #del_fav.btn p,
    #add_fav.btn i,
    #del_fav.btn i{
        font-size: 13px;
    }
    .it_ro h1.titleSingle{
        font-size:25px;
    }

    .info_single div.pre,
    .precio_minimo_no_alcanzado,
    .precio_minimo_alcanzado,
    .ficha_V .info_single_button{
        width: 200px;
    }

    .item_lot_large .img_lot{
        min-height: 160px;
        }
    div.item_subasta img {
        margin-bottom: 10px;
        min-height: 126px;
    }

	.packengers-button-adjudicaciones {
		padding-right: 0;
		padding-bottom: 1rem;
	}

}


@media (max-width:600px){
    .newsletter-wrapper {
        margin: 0 50px;
        padding: 10px 30px;
    }



    .newsletter-wrapper .tit_newsletter{
        font-size: 20px;
    }



    .languaje #selectorIdioma{
        width: 73px !important;
        height: 27px !important;
        font-size: 11px !important;
        padding: 0;
    }
    .menu-access{
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 30px;
    }
    .search-component form .form-group input{
        width: 185px;
        font-size: 9px;
    }
    header ul.items_top_responsive{
        margin-bottom: 10px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
        .tabs-custom ul li{
            margin-bottom: 15px;
            flex-basis: 100%;
        }
        #add_fav.btn,
        #del_fav.btn{
            top: 10px;
            left: 10px;
            z-index: 2;
            font-size: 5px;
            height: 35px;
            width: 44px;
    }
        .button-follow-responsive {
            opacity: 1;
            background: transparent;
            z-index: 100;
            display: flex;
            align-items: center;
            top: -20px;
            left: -3px;


        }
        #add_fav.btn i,
        #del_fav.btn i{
            font-size: 20px;
        }


        .save_orders span.text-uppercase {

            font-size: 30px;
        }
        .group-pujar-custom{
            display: block;
        }
        .group-pujar-custom .input-group-btn #pujar_ordenes_w,

        .group-pujar-custom #bid_modal_pujar{
            border-radius: 0;
        }
}
/* Portrait phones and smaller */
@media (max-width: 480px) {

    .logo a img{
        max-width: 70px;
    }


    .search-component{
        margin-left: 0;
    }
    .search-component form .form-group input {
        width: 160px;

    }
    .header-content {

        justify-content: space-around;
    }
    .newsletter-wrapper #newsletter-btn {

        font-size: 10px;


    }
    .newsletter-icon-title {
        flex-direction: column;
    }

    .newsletter-input .form-control.input-lg{
        width: 100%;
    }

    .newsletter-wrapper .tit_newsletter{
        text-align: center;
        font-size: 18px;
        margin-left: 0;
    }

    .newsletter-wrapper {
        justify-content: center;
        margin: 0 10px;
        padding: 10px;
        height: auto;
    }

	div.form-group-custom label {
		padding-top: 24px;
		padding-bottom: 8px;
    }


	#owl-carousel div.owl-prev {
		left: 0;
		position: absolute;
		top: 30px;
	}
	#owl-carousel div.owl-next {
		right: 0;
		position: absolute;
		top: 30px;
	}
	#owl-carousel div.owl-prev, #owl-carousel div.owl-next {
		font-size: 40px;
		border-radius: 0;
		background-color: transparent;
	}
	div.module_footer {
		margin-bottom: 80px;
	}
	.btn-registro {
		width: 100%
	}
        .sub-o{
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
        }
        .content_item_mini a .retired{
            font-size: 10px;
            right: 14px;
        }

}
