:root {

    --primary-color: #001638;
    --secondary-color: #001638;
    --complement-color: #001638;
    --extra-color: #001638;
    --primary-color-text: #707070;
	--secondary-color-text: #001638;

	--btn-primary-background: #001638;
	--btn-primary-background-hover: #001638;
	--btn-primary-text: white;
	--btn-primary-text-hover: white;

	--btn-secondary-background: white;
	--btn-secondary-background-hover: #001638;
	--btn-secondary-text: #001638;
	--btn-secondary-text-hover: white;

	--header-links-color-hover: #9a9a9a;

	--newsletter-background: #D2E2F2;
	--newsletter-text: #001638;
	--newsletter-placeholder: #001638;
	--newsletter-input-border: #001638;
	--newsletter-input-text: #001638;

	--footer-background: white;
	--footer-titles-color: #707070;
	--footer-links-color: #707070;
	--footer-links-color-hover: #b4b4b4;

	--footer-sociallinks-background: white;
	--footer-sociallinks-textcolor: #707070;

	--filter-background: #001638;

	--error-background-color: #D2E2F2;
	--error-text-color: #001638;
}

nav.menu-header, .footer {
	background-color: #001638;
}

a.link-header, .btn_login_desktop, .footer .color-letter, .menu-header{
	color: #FFFFFF;
}
.link-header span::before {
background: #FFFFFF;
}

a.link-header:hover, a.link-header:focus, .btn_login_desktop{
	color: #EEEEEE;
}
