:root {

	/** su web
	header: #2b2b2b
	body: #212121
	boton principal: #30adf9
	boton principal hover: #036291
	texto-sobreoscuro: #fff

	textos resaltados: #30adf9
	textos links: #30adf9
	textos link hover: #cccccc

	fuente: 16px
	links header: 14px
	h2: 38px
	h2 subtitulo resaltado: 18px

	h3 como titulo? 30px
	*/

	/* color original #0083c3*/
	/* segundo color original #00abff*/
	/* var(--blue-color) */
	--blue-color: #00abff;
	--gray-color: #414145;
	--orange-color: #fb8404;
	--fucsia-color: #d60e7a;
	--turquoise-color: #5cdbd2;

	--auction-color: #ffff6bff;
	--direct-sale-color: #00abff;

    --primary-color: var(--blue-color);
    --secondary-color: var(--blue-color);
    --complement-color: var(--blue-color);
    --extra-color: var(--blue-color);
    --primary-color-text: #fff;
	--secondary-color-text: #000;

	--btn-primary-background: var(--blue-color);
	--btn-primary-background-hover: var(--blue-color);
	--btn-primary-text: #fff;
	--btn-primary-text-hover: #fff;

	--btn-secondary-background: var(--blue-color);
	--btn-secondary-background-hover: var(--blue-color);
	--btn-secondary-text: #fff;
	--btn-secondary-text-hover: #fff;

	--btn-height: 36px;

	--header-links-color-hover: white;
	--header-background: #000;

	--newsletter-background: #1b1b1b;
	--newsletter-text: #fff;
	--newsletter-placeholder: #b8b5b5;
	--newsletter-input-border: var(--blue-color);
	--newsletter-input-text: #fff;

	--footer-background: transparent;
	/* --footer-titles-color: #fff;
	--footer-links-color: #fff;
	--footer-links-color-hover: #fff; */
	--footer-titles-color: #000;
	--footer-links-color: #000;
	--footer-links-color-hover: #000;

	--footer-sociallinks-background: transparent;
	--footer-sociallinks-textcolor: #000;

	--filter-background: #414145;

	/*--font-family-titles: 'Sabon';*/
	--font-family-titles: 'Gillsans';
	--font-family-text: 'Gillsans';

	--font-size-text: 17px;
	--font-size-text-header: 19px;
	--font-size-text-big: 22px;
	--font-size-titles-small: 25px;
	--font-size-titles-big: 30px;
	--font-size-titles-panel: 24px;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

@-moz-keyframes parpadeo{
	0% { opacity: 0.0; }
	25% {opacity: 1.0;}
	75% { opacity: 1.0; }
	100% { opacity: 1.0; }
  }

  @-webkit-keyframes parpadeo {
	0% { opacity: 0.0; }
	25% {opacity: 1.0;}
	75% { opacity: 1.0; }
	100% { opacity: 1.0; }
  }

  @keyframes parpadeo {
	0% { opacity: 0.0; }
	25% {opacity: 1.0;}
	75% { opacity: 1.0; }
	100% { opacity: 1.0; }
  }

@font-face {
    font-family: 'Gillsans';
    src: url('fonts/gill-sans-light-webfont.woff2') format('woff2'),
         url('fonts/gill-sans-light-webfont.woff') format('woff');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Gillsans';
    src: url('fonts/gill-sans-light-italic-webfont.woff2') format('woff2'),
         url('fonts/gill-sans-light-italic-webfont.woff') format('woff');
    font-weight: lighter;
    font-style: italic;
}

@font-face {
    font-family: 'Gillsans';
    src: url('fonts/gill-sans-normal-webfont.woff2') format('woff2'),
         url('fonts/gill-sans-normal-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gillsans';
    src: url('fonts/gill-sans-normal-italic-webfont.woff2') format('woff2'),
         url('fonts/gill-sans-normal-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Gillsans';
    src: url('fonts/Gill\ Sans\ SemiBold.woff2') format('woff2'),
         url('fonts/GillSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gillsans';
    src: url('fonts/GillSansC-Bold.woff2') format('woff2'),
         url('fonts/GillSansC-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gillsans';
    src: url('fonts/gill-sans-bold-italic-webfont.woff2') format('woff2'),
         url('fonts/gill-sans-bold-italic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}



@font-face {
    font-family: 'Sabon';
    src: url('fonts/sabon-normal-webfont.woff2') format('woff2'),
         url('fonts/sabon-normal-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Sabon';
    src: url('fonts/sabon-normal-italic-webfont.woff2') format('woff2'),
         url('fonts/sabon-normal-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Sabon';
    src: url('fonts/sabon-bold-webfont.woff2') format('woff2'),
         url('fonts/sabon-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Sabon';
    src: url('fonts/Sabon\ W04\ Bold\ Italic.woff2') format('woff2'),
         url('fonts/Sabon\ W04\ Bold\ Italic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

body{
	font-family: "Gillsans";

	/*
	background: rgb(33,33,33);
	background: linear-gradient(150deg, rgba(33,33,33,1) 70%, rgba(38,75,98,1) 85%, rgba(48,173,249,1) 100%);
	*/

	background: #E2F4FF;

	--primary-color-text:black;

	font-size: var(--font-size-text);
	color: var(--primary-color-text);
	min-height: 100vh;
}

.closedd_fichalogin {
	position: absolute;
    top: 20px;
    left: 5px;
    padding: 10px;
}

.ficha_login_desktop, .login_without_register {
	position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -ms-flex-align: center;
    -ms-flex-pack: center;
}

.ficha_login_desktop .login-content-form {
	border: 0;
	background: transparent;
}

.ficha_login_desktop .login_desktop_title, .ficha_login_desktop form {
	border: 1px solid lightgray;
	background: #E6F0FE;
	color: #000;
	font-size: 18px;
	padding: 20px 0;
}

.ficha_login_desktop .create-account-link a {
	background: var(--btn-primary-background);
}

.ficha_login_desktop .login-call {
	width: 70%;
    margin: 1rem auto;
    padding: 5px 0;
}

.ficha_login_desktop .phone-icon {
	color: #00e676;
}

.ficha_login_desktop .form-group {
	margin-bottom: 0;
	background: #fff;
	padding: 7px 10px;
}

.ficha_login_desktop input {
	background: #E6F0FE;
}

.ficha_login_desktop .forgotten-password {
	color: #000;
	background: #fff;
    padding: 5px;
}

.ficha_login_desktop .forgotten-password:hover, .ficha_login_desktop .forgotten-password:focus {
	color: #000;
	text-decoration: none;
}


#cookie_law {
	background: #fff;
	padding: 18px;
}

.btn-cookies {
	font-size: 17px;
}

.text-default {
	color: black;
}

.bread-content {
	min-height: initial;
	padding-top: initial;
	line-height: initial;
}

.page, .page *{
	font-family: "Gillsans"!important;
}

a, a:focus, a:hover{
	color: var(--primary-color);
}

a.button-principal, button.button-principal{
	z-index: 9;
	/* padding: 0; */
	padding: 6px 12px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	color: white;
	font-weight: bold;
}

.button-principal {
	min-width: 132px;
	width: auto;
}

a.button-principal.with-auto{
	padding: inherit;
	margin: auto;
	width: auto;
}

.h1, h1{
	font-size: var(--font-size-titles-small);
	color: var(--extra-color);
	font-weight: bold;
	/* font-size: clamp(var(--font-size-titles-small), var(--font-size-titles-big), var(--font-size-titles-big)); */
	/* font-size: max(var(--font-size-titles-big), var(--font-size-titles-small)); */
}

 .h1-seo{
	font-size: 20px;
	color: #000;
	/* padding-left: 14px; */
	margin:0px;
	font-weight: normal;
}

.contact-page h1{
	font-size: var(--font-size-titles-panel);
}

#contactForm label:not(.not-required):after {
    content: " *";
    color: red;
}
.bread{
	/* display: none; */
	margin: 0;
}

.form-control{
	font-size: var(--font-size-text);
	color: #333;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{
	background-color: #e9ecef52;
    opacity: 0.8;
    color: #212529;
}

form#password_recovery input{
	color: #000;
}

.panel-recovery .btn-step-reg {
	color: var(--btn-primary-text);
	background: var(--btn-primary-background);
}

.follow {
	margin: 0;
}

.follow .next {
	margin: 0;
	margin-top: 1rem;
}

.ficha-content .form-control, #lots .form-control, .login-content-form .form-control{
	color: initial;
}

.menu-header,
.newsletter-tittle,
footer, .copy,
.filters-auction-title,
.title_item,
.titleficha,
.desc-lot-profile-title,
.mas-pujados-title{
	font-family: var(--font-family-titles);
}

.link-header span{
	white-space: nowrap;
}

.link-header span:before{
	top: 22px;
	height: 3px;
}

.call-icons {
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: flex-end;
	gap: 20px;
	padding: 0 30px;
	font-size: 30px;
}

.icons-modal {
	display: inline-flex;
	align-items: center;
	font-size: 25px;
	gap: 20px;
	min-width: 151px;
	justify-content: space-between;
}

.call-icons a, .icons-modal a {
	display: flex;
	padding: 1px 3px;
	text-decoration: none;
}

.call-icons a:hover, .call-icons a:focus {
	text-decoration: none;
}

.call-icons .phone-icon, .icons-modal .phone-icon {
	color: #00e676;

}

.call-icons .whatsapp-icon, .icons-modal .whatsapp-icon {
	background: #25d366;
	color: #fff;
	border-radius: 5px;
}

.icons-modal .mail-icon {
	background: #25d366;
	color: #fff;
	border-radius: 50%;
	font-size: 19px;
    padding: 1px 5px;
    display: block;
}



.footer-ul li{
	margin-bottom: 0;
}

.footer-link{
display: flex;
}

.footer-link span{
	position: relative;
	overflow: hidden;
}

.footer-link:hover span:before {
    left: 0;
}

.footer-link span:before {
    position: absolute;
    z-index: 1;
    top: 20px;
    left: -100%;
	width: 100%;
    height: 3px;
    opacity: 0.5;
    background: var(--extra-color);
    content: "";
    transition: 0.2s ease-in-out all;
    -webkit-transition: 0.2s ease-in-out all;
    -o-transition: 0.2s ease-in-out all;
}



header, header.fixed, .lang-selection{
	background: var(--header-background);
}

header{
	position: sticky;
	top: 0px;
	z-index: 10;
}

.button-principal, .btn-bid-lotlist, .btn-info-auction, .btn-bid-life, .create-account-link a{
	text-transform: uppercase;
	max-height: var(--btn-height);
	font-weight: bold;
}

.secondary-button{
	border: 0;
}

.favoritos .secondary-button {
	min-width: 171px;
}

.create-account-link a{
	background: #3e3e3e;
	transition: 0.5s;
}

.create-account-link a:hover{
	background: var(--btn-primary-background-hover);
	color: white;
}

.newsletter-tittle{
	font-size: var(--font-size-titles-small);
}

a.link-header{
	font-size: var(--font-size-text-header);
	font-weight: lighter;
	padding: 0px 7px;
	text-transform: uppercase;
}

a.link-header.active {
	color: var(--primary-color);
}

.newsletter-subtittle{
	font-size: var(--font-size-text);
}

.newsletter-placeholder{
	font-size: var(--font-size-text-big);
	font-weight: normal;
	color: #fff;
	opacity: 1;
	top: 5px;
}

.newsletter .form-check{
	gap: 20px;
}

.newsletter .form-control{
	font-weight: normal;
}

.newsletter .form-check label, .check_term label{
	font-weight: normal;
}

.newsletter .form-check label a, .check_term label a{
	font-weight: 700;
}

.lote-destacado-link:hover, a.lote-destacado-link:focus{
	color: var(--secondary-color-text);
}

.pre-actualbid i{
	display: none;
}

.pre-actualbid.mine i.info-highest-bid{
	display: inline;
}

.pre-actualbid.other i.info-lost-bid{
	display: inline;
}

.pre-actualbid.mine, #actual_max_bid.mine {
	color: black !important;
}

.pre-actualbid.other {
	color: white !important;
	background: var(--fucsia-color);
}

#actual_max_bid.other{
	color: white !important;
}

.ficha-info-clock{
	font-weight: normal;
}

.ficha-info-clock, .titleficha, .desc-lot-profile-title{
	/*color: var(--extra-color);*/
	color: var(--primary-color-text);
}

.desc-lot-profile-content{
	color: var(--primary-color-text);
}

.desc-lot-profile-content .img-wrapper{

	display: inline-block;
	padding: 5px;
	margin-right: 5px;
	border: 1px solid gray;
	border-radius: 50%;
}

.desc-lot-profile-content .img-wrapper img{
	filter: invert(0);
	width: 35px;
	height: 35px;
    display: inline-block;
}

.desc-lot-profile-content ul{
	margin-left: 25px;
	margin-top: 2rem;
}

.desc-lot-profile-content ul ul{
	margin-left: initial;
	list-style: disc;
}





.group-pujar-custom input{
	background: #fff;
}

footer{
	padding: 20px 0px;
	border-bottom: 0px;
}

.footer-ul{
	justify-content: space-between;
	text-transform: uppercase;
}

.footer2{
	background-color: var(--newsletter-background);
	padding: 10px 0;
	font-size: 19px;
}

.footer-second-ul{
	justify-content: space-around;
}

.footer-second-ul .footer-link span{
	/* color: var(--extra-color); */
	color: white;
}


.footer-link{
	padding: 10px 15px;
}

.copy{
	padding: 20px 0px;
}

.login_desktop p, a.pass_recovery_login, a.pass_recovery_login:hover, .login_desktop i, .login_desktop .login_desktop_title, .modal-content, .mfp-wrap{
	color: #3e3e3e;
}

.hist, .hist_content{
	background: #f3f3f3;
	color: #000;
}

.mega-menu {
	left: initial;
}

.mega-menu a, .mega-menu a:hover{
	color: #000;
}

.mega-menu a:hover{
	color: #fff;
	background: var(--extra-color);
}

.logo-header{
	padding: 0px;
	width: 262.5px;
	min-width: 262.5px;
}

.logo-header .subtitle-logo{
	position: absolute;
	bottom: -1px;
	left: 0px;
	white-space: nowrap;
	letter-spacing: -0.1px;
}

.parpadea {
	opacity: 0.0;
    animation-name: parpadeo;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    -webkit-animation-name: parpadeo;
    -webkit-animation-duration: 6s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
	animation-fill-mode: forwards
}

.logo-header .logo-company{
	max-width: 100%;
}

.menu-principal-search{
	top: 90px;
	background: transparent;
}

.menu-header .menu-principal-content {
	gap: 10px;
}

#formsearchResponsive{
	height: 36px;
	background-color: #fff;
}

#formsearchResponsive .btn-custom-search{
	border-radius: 0;
    color: var(--btn-primary-text);
    background: var(--btn-primary-background);
	font-weight: 400;
}

#formsearchResponsive .form-group .input-custom, #formsearchResponsive .form-group .input-custom:focus{
	border-bottom: 1px solid var(--extra-color);
	color: var(--primary-color-text);
}

header.fixed nav .logo-company{
	max-width: 100%;
}

header.fixed .my-account{
	padding: 5px 30px;
}
header.fixed .logo-user-header{
	padding: 10px 0px;
}

.account-user-menu .filters-auction-content :is(i, img){
	margin-right: 5px;
}

.my-account .my-panel {
	white-space: nowrap;
}

.user-account .logo-company{
	/*filter: invert(1);*/
	filter: brightness(4);
}

.user-account-title-content {
	padding-left: 15px;
	padding-right: 15px;
}

.user-account-item-lot {
	color: var(--primary-color-text);
}

.user-account-heading {
	font-size: 15px;
	background: var(--gray-color);
}

.user-account-item-title {
	font-size: 14px;
	color: var(--primary-color-text);
}

.user-account-item-date, .user-account-item-price, .user-account-item-text, .account-user .panel .panel-heading a{
	color: var(--primary-color-text);
}

li:first-of-type a.link-header{
	padding-left: 30px;
}

.search-header-container{
	/* width: 40px; */
}

.my-account{
	/* padding: 26px 15px;
	white-space: nowrap; */

	padding: 0;
}

.btn_login_desktop{
	font-size: 19px;
	color: #fff;
	font-weight: lighter;
	text-transform: uppercase;
	padding: 0 20px 0 10px;
}

.name-login{
	font-size: var(--font-size-text);
}

.btn_login_desktop:hover{
	color: #fff;
}

.pass-login-content button.button-principal {
	margin: auto;
}

.item_lot {
	padding: 10px 15px;
	min-height: 400px;
}

.square .title_item{
	text-align: left;
	font-size: var(--font-size-text);
}

.menu-text{
	letter-spacing: 3px;
}

.info-auction-tab-contet{
	margin-top: 20px;
}

.info-type-auction{
	display: flex;
	align-items: center;
	font-size: var(--font-size-text);
	margin-left: 0;
	padding: 5px 20px;
	min-width: fit-content;
	border: 0;
	text-transform: uppercase;
}

.title-ficha-wrapper {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.info-type-auction-title a, .info-type-auction-title .info-type-auction, .info-type-auction-title a:hover, .info-type-auction-title .info-type-auction:hover {
	padding: 5px 5px;
}

/* .info_single_title.info-type-auction-title{
	padding-bottom: 0px;
	padding-left: 15px;
} */

.info_single_title.info-type-auction-title a, .info-type-auction-title .info-type-auction {
	font-weight: 600;
}

.info_single_title i.fa {
	color: #000;
}

.titleficha{
	font-size: var(--font-size-text);
}

.ficha-content .pre .pre-title{
	font-size: var(--font-size-text);
}

.ficha-content .pre .pre-title.price_starting{
	color: var(--turquoise-color);
	text-transform: initial;
}

.insert-max-bid{
	font-size: var(--font-size-text);
}

.ficha-info-items .input-group .form-control:first-child {
	border: 1px solid lightgrey;
    border-radius: 5px 0 0 5px;
    border-right: 0px;
}

.ficha-btn-bid{
	font-size: var(--font-size-text);
	min-width: 174px;
}

.shared {
	color: var(--primary-color-text);
}

.i-container {
	box-sizing: content-box;
	/* width: 32px;
	height: 32px; */
	border: 1px solid gray;
    padding: 10px;
    border-radius: 50%;
	font-size: 32px;
	width: 100%;
	aspect-ratio: 1 / 1;
}

.i-container i{
	margin-right: 3px;
}

.feature-box {
	box-sizing: content-box;
}

.features-icons-wrapper p{
	white-space: nowrap;
}

.features-wrapper .fa-info-circle{
	margin-left: 5px;
}

.features-wrapper img{
	filter: invert(0);
    margin: auto;
    border: 1px solid gray;
    padding: 10px;
    border-radius: 50%;
	max-width: 47px;
}

.features-wrapper p, .features-wrapper p * {
	overflow-wrap: break-word;
}

.desc-lot-profile-title{
	font-size: var(--font-size-titles-small);
}

.desc-lot-profile-content{
	font-size: var(--font-size-text);
}

.modal-block.info-modal {
	max-width: 800px;
}

.info-modal .table-responsive {
	text-align: center;
}

.info-modal .table-responsive tr td:first-child{
	text-align: left;
}

.lotes_destacados{
	padding: 40px 15px;
	margin-bottom: 3rem;
}

.lotes_destacados .color-letter, .lotes_destacados .color-letter:hover {
	color: var(--primary-color-text);
}

.mas-pujados-title{
	font-size: var(--font-size-titles-big);
	border-top: 1px solid var(--extra-color);
}

.mas-pujados-title span:before{
	content: none;
}

.owl-theme .owl-nav {
	position: relative;
	text-align: right;
	margin-top: 5px;
	right: 0;
}

.contenido-web, .faq-page {
	width: 99ch;
	max-width: calc(100% - 3cm);
	margin-left: auto;
	margin-right: auto;
}

.contenido.contenido-web *{
	font-size: 18px !important;
	font-family: "Gillsans" !important;
}

.bread-faq {
	width: 99ch;
	max-width: calc(100% - 3cm);
	margin-left: auto;
	margin-right: auto;
}

.contenido.contenido-web .container, .bread-faq .container {
	width: 100%;
	padding: 0;
}

.contenido.contenido-web :is(p, span, div){
	font-size: 18px !important;
	text-align: justify !important;
	word-break: break-word;
}

.contenido.contenido-web :is(h1), .contenido.contenido-web :is(h1) *{
	font-size: 24px !important;
	font-weight: bold;
	color: var(--primary-color) !important;
}

.contenido.contenido-web :is(h2), .contenido.contenido-web :is(h2) *{
	font-size: 24px !important;
	font-weight: bold;
	color: var(--primary-color) !important;
}

.contenido.contenido-web :is(h3), .contenido.contenido-web :is(h3) *{
	color: var(--primary-color) !important;
}


.contenido-web .btn-contenido{
	padding: 9px 20px;
    border-radius: 0;
    background: var(--extra-color);
    color: white;
    text-align: center;
	text-decoration: none;
	font-size: 18px;
}

.contenido-web .btn-contenido:hover{
	background: var(--extra-color);
    color: white;
}


.tabs-custom ul li a{
	padding: 10px 0px;
}

.user-account-menu-title{
	font-size: var(--font-size-titles-big);
}

.pass_recovery_login{
	font-size: var(--font-size-text);
}

.create-account-link a{
	font-size: var(--font-size-text);
	background: var(--gray-color);
	padding: 0;
	height: var(--btn-height);
	display: flex;
	align-items: center;
	justify-content: center;
}

.login_desktop_title{
	font-size: var(--font-size-titles-big);
}

.effect-16 ~ label{
	color: var(--primary-color-text);
	width: auto;
	z-index: 0;
}

form .input-effect label {
	left: 15px;
}

form textarea.effect-16 ~ label {
	left: 25px;
}

form .input-effect input {
	z-index: 1;
	padding: 0;
}

.effect-16:focus ~ label, .has-content.effect-16 ~ label{
	position: absolute;
	top: -15px;
	left: 15px;
    font-size: 13px;
    bottom: auto;
	height: fit-content;
	color: var(--primary-color-text);
}

.input-buy-online[readonly]{
	background-color: white;
}
.input-buy-online[disabled]::placeholder{
	color: #000;
	font-size: 15px;
}

i.js-info-modal, i.js-modal, i.js-grid-modal{
	cursor: pointer;
}

.table.modal-table>tbody>tr>td, .table.modal-table>tbody>tr>th, .table.modal-table>tfoot>tr>td, .table.modal-table>tfoot>tr>th, .table.modal-table>thead>tr>td, .table.modal-table>thead>tr>th{
	border-top: initial;
}


.content-right-ficha{
	position: sticky;
	margin-top: 0px;
	top: 80px;
	padding-bottom: 10px;
	max-height: 95vh;
	min-height: 564px;
}

.content-right-ficha .content-ficha {
	overflow-y: auto;
	overflow-x: hidden;
	scrollbar-width: thin;
	scrollbar-color: var(--extra-color) gray;
	border: 1px solid gray;
}


.contenido.contenido-web {
	margin-bottom: 3rem;
}

.contenido-web h2 {
	margin-top: 2rem;
}

.contenido.contenido-web h1:first-child,
.contenido.contenido-web h2:first-child,
.contenido.contenido-web h3:first-child {
	margin-top: 1rem;
}

.content-right-ficha .content-ficha::-webkit-scrollbar{
    width: 5px;
}
.content-right-ficha .content-ficha::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 56px whitesmoke;
	box-shadow: inset 0 0 56px whitesmoke;
}
.content-right-ficha .content-ficha::-webkit-scrollbar-thumb{
    background-color: var(--extra-color);
    outline: 1px solid var(--extra-color);
}

.content-right-ficha::after{
	content: ' ';
	clear: both;
}

.header-info-ficha-prices{
	border-bottom: 1px solid gray;
	background: var(--btn-primary-background);
}

.header-info-ficha-prices > .pre{
	flex: 1;
	text-align: center;
}

.header-info-ficha-prices > .pre.pre-impsal{
	border-right: 1px solid white;
}

.info-next-bid .pre-title{
	text-transform: initial;
}

.info-ficha-buy-info-price.info-next-bid{
	padding: 15px;
}

.info-ficha-buy-info-price .pre{
	margin-right: initial;
	padding-top: 7px;
	transition: 0.5s;
}

.insert-bid-input{
	margin-top: 0;
}

.btn-buy-ficha-o{
	padding-bottom: 15px;
}

.btn-buy-ficha-o > button{
	width: 200px;
    height: 40px;
}

form#infoLotForm .input-effect{
	margin: 5px 0px;
}

form#infoLotForm .form-control{
	color: #fff;
}

form#infoLotForm textarea.form-control{
	color: #000;
}

.square .title_item, .large_square .title_item {
	height: 48px;
}

.group-pujar-custom .input-group-btn{
	width: initial;
}

.contraoferta-block {
	margin-top: 50px;
	font-weight: bold;
}

.contraoferta-block p {
	font-size: 15px;
	font-style: italic;
}

.btn-contraofertar{
	width: auto;
	padding-left: 15px;
	padding-right: 15px;
}

.zone-share-social{
	align-items: center;
}

.zone-share-social > p{
	margin: 0;
}

#faq a{
	font-weight: bold;
	/* font-size: var(--font-size-text-big); */
}

#faq a.link {
	text-decoration: underline;
}

.faq-page .titlePage{
	color: var(--extra-color);
	font-size: var(--font-size-titles-small);
}

.faq-page .question{
	font-size: 18px;
}

.faq-page .response{
	font-size: 18px;
	text-align: justify;
	margin-bottom: 2rem;
}

.faq-page .response ul{
	margin-left: 20px;
	margin-bottom: 0px;
}

.parentFaq, .subfamily{
	display: initial;
}

.contact-image-wrapper{
	display: flex;
	height: 500px;
}

.contact-image-wrapper img{
	margin: 0 auto auto;
}

.button-principal.btn-ficha-default{
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 200px;
    max-height: var(--btn-height);
	padding: 0px 10px;
	gap: 5px;
}

.logo-whatsapp-mobile{
	position: fixed;
    z-index: 99999;
    right: 20px;
    bottom: 53px;
}

.estatic-titlePage{
	color: var(--primary-color);
	font-size: var(--font-size-titles-small);
	font-weight: bold;
}

.down-static-banner .column_banner{
	padding: 0;
}

.down-static-banner > .container{
	padding: 0;
	overflow: hidden;
}

.down-static-banner img{
	max-height: 400px;
	object-fit: cover;
	object-position: center;
}

.column_banner .item_texto p {
	font-size: 18px;
	line-height: 25.7px;
}

:is(.contact-banner, .page-static-banner, .grid-banner, .register-landing-banner, .faq-banner-container) > .container {
	padding: 0;
	overflow: hidden;
}

:is(.contact-banner, .page-static-banner, .grid-banner, .register-landing-banner, .faq-banner-container) img {
	max-height: 250px;
	object-fit: cover;
	object-position: top;
}

.register-landing-banner-img img {
	max-height: 300px;
	height: 300px;
}

/* .contact-banner > .container, .page-static-banner > .container, .grid-banner > .container, .register-landing-banner > .container{

} */

/* .contact-banner img, .page-static-banner img, .grid-banner img, .register-landing-banner-img img{
	max-height: 250px;
	object-fit: cover;
	object-position: top;
} */

.contact-page-form .check_term{
	display: flex;
	gap: 15px;
	align-items: flex-start;
}

.contact-page-form form input[type="checkbox"] {
	top: initial;
	margin-right: initial;
}

.contact-page * {
	font-size: 18px;
}

.contact-page h1{
	color: var(--primary-color);
	font-size: var(--font-size-titles-panel);
	font-weight: bold;
}

.hist_title{
	font-size: 18px;
}

.hist_item, .tres_item, .hist_title{
	font-size: var(--font-size-text);
}

.panel-user .filters-auction-content{
	margin-bottom: 0;
	padding: 0;
}

#user-account-ul li.tab-active a{
	background: initial;
	color: white;
}

#user-account-ul li a:hover, #user-account-ul li a:focus{
	text-decoration: none;
}

#user-account-ul li:not(.tab-active) a:hover, #user-account-ul li:not(.tab-active) a:focus{
	color: var(--extra-color);
}

#user-account-ul li.tab-active{
	padding: 0 20px;
	background: var(--primary-color);
	color: var(--primary-color-text);
}

#user-account-ul li:not(.tab-active){
	padding: 0 20px;
}

#user-account-ul li.tab-active a img{
	filter: brightness(2);
}

#collapse_adj a:hover, #collapse_adj a:focus, #collapse_myorders a:hover, #collapse_myorders a:focus{
	text-decoration: none;
}

#collapse_adj a.active {
	color: var(--extra-color);
}

#collapse_myorders a.active:before {
    position: absolute;
    top: 17px;
    left: 28px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: white;
    content: "";
}

#collapse_adj a.active:before, #collapse_myorders a.active:before{
	top: 21px;
	background: var(--extra-color);
	left: -2px;
}

.row-position-end{
	margin-top: auto;
}

.item_lot .salida-time{
	position: initial;
	left: initial;
	right: initial;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 17px;
	font-weight: bold;
	height: 50px;
	color: #000;
	line-height: 1.25;
}

.item_lot .salida-time > p{
	margin: 0;
}

.item_lot .item_img img{
	padding-top: 0;
}

.salida-time.online, .info-type-auction.online{
	background: var(--auction-color);
	color: #000;
	line-height: 1.25;
}

.info-type-auction.venta{
	background: var(--direct-sale-color);
	color: #000;
}

.ficha-content .pre .pre-price{
	font-size: var(--font-size-text-big);
}

.ficha-content .info-ficha-price-wrapper {
	text-transform: uppercase;
}

.ficha-content .info-ficha-price-wrapper .pre-price{
	font-size: 20px;
}

.account-user .panel-group .panel{
	background-color: transparent;
}

.panel-user *{
	/* color: white !important; */
}

.account-user-menu .tabs-custom ul li a{
	color: white;
}

.sub_menu_adj a{
	padding: 12px 7px;
}



.more-historic-bids a, .more-historic-bids a:focus, .more-historic-bids a:hover{
	color: var(--extra-color);
}

.uppercase-text{
	text-transform: uppercase;
}

#gif-container{
	position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 1001;
    background: black;
	display: none;
}

.gif-wrapper{
	display: flex;
    align-items: center;
    justify-content: center;
	height: 100%;
	width: 100%;
}

.button-up{
	z-index: 1000;
}


#nav-positions{
	position: sticky;
	top: 80px;
	z-index: 10;
	background: transparent;
}

#nav-positions .nav-tabs{
	border-bottom: 0;
	display: flex;
	justify-content: space-between;
}

#nav-positions .nav-tabs::before, #nav-positions .nav-tabs::after{
	content: none;
}

#nav-positions .nav-tabs>li {
	flex: auto;
}

#nav-positions .nav-tabs>li>a{
	border: 0;
	border-radius: 0;
    padding: 8px 15px;
	transition: 0.5s;
	border: 1px solid;
	color: white;
	margin-right: 0;
	background: black;
}

#nav-positions .nav-tabs>li.active>a{
	color: white;
	background-color: var(--extra-color);
	font-weight: bold;
	transition: 0.5s;
}

#nav-positions .nav>li>a:focus, #nav-positions .nav>li>a:hover{
	background-color: var(--extra-color);
}

#informe-carfax .button-principal {
	padding: 0 15px;
}


/***************************
*****  INFORME CARFAX  *****
****  NO SE ESTA USANDO ****
****************************/
/* ul{list-style:none;} */

.informe-carfax h2{
	color:#f2661f;
	font-size:18px;
	margin:0 0 10px;
	text-transform:uppercase;
	text-align:left;
}

@media only screen and (min-width:768px){

	.informe-carfax h2{
		font-size:25px;
	}

	.informe-carfax ul li{
		width:50%;
	}
}

.informe-carfax{
	background:#eaeeed;
	padding:14px 20px;
	margin:50px 0;
}

.informe-carfax p{
	color:#000;
	font-size:18px;
	margin:20px 0;
	text-transform:none;
	text-align:left;
}

.informe-carfax p .carfax-link{background-color:#fff;box-shadow:0 0 4px #999;display:flex;max-width:270px;padding:10px;margin:40px auto;align-items:center;justify-content:space-between;border:1px solid #000;}
.informe-carfax p .carfax-link img{height:auto;width:110px;}
.informe-carfax ul{display:flex;flex-flow:row wrap;margin:20px 0 40px;}
.informe-carfax ul li{display:flex;flex-flow:row wrap;margin:4px 0;width:100%;}
.informe-carfax ul li i{height:20px;width:20px;}
.informe-carfax ul li i svg{fill:#f2661f;height:20px;width:20px;}
.informe-carfax ul li span{color:#000;font-size:18px;font-size:17px;margin:0 0 0 10px;text-transform:none;text-align:left;width:calc(98% - 30px);}


.num-lots-view label, .order-lots-grid label{
	font-weight: normal;
	text-transform: uppercase;
}

.order-lots-grid label {
	font-size: 16px;
}




/***************************
****  LANDING REGISTRO *****
****************************/

.container-register-landig{
	padding-top: 150px;
	padding-bottom: 150px;
}

.card-register-wrapper{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 80px;
	align-items: center;
}

.btn.btn-client, .btn.btn-client:focus{
	background: #0c0060;
	border-color: #0c0060;
	color: white;
}

.btn.btn-vendor, .btn.btn-vendor:focus{
	background: #26ecc7;
	border-color: #26ecc7;
	color: white;
}

.btn.btn-vendor, .btn.btn-client {
	color: #fff;
	width: 200px;
	height: 200px;
	border-radius: 100%;
	padding-top: 2rem;
	padding-bottom: 2rem;
	white-space: unset;
	margin: auto;
	display: block;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.login-landing-button-text {
	display: block;
	font-size: 20px;
}

.btn.btn-vendor>div, .btn.btn-client>div {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.btn.btn-vendor>div>i, .btn.btn-client>div>i {
	width: 50px;
	height: 50px;
}

/************************************************
****  NUEVOS COLORES Y CAMBIOS EN CARLANDIA *****
*************************************************/

/* Para poner menú de navegación con textos blancos */
.color-letter, .color-letter:hover {
	color: white;
}

/* Coloca fondos blancos donde es necesario */
.faq-page-container,
.contact-page,
.container-register-landig,
div.container.register,
.info-auction-tab-contet>div.container,
.static-page-container,
.ficha-content>div.container,
.next-last-ficha,
.success_registered,
.not-logged-container,
.panel-recovery,
.account-user>div.container,
.custom-container,
.cookies-page .container {
	background-color: white;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.ficha-content {
	margin-top: 0px;
}

/* Pone las fuentes en negro donde es necesario */
.nextLeft, .nextRight,
.nextLeft:hover, .nextRight:hover,
.info-next-bid,
.not-logged-text, .not-logged-text:hover,
.info-ficha-buy-inside, .insert-bid-input,
.footer-text-black, .footer-text-black p a,
.faq-desc-color-black,
.user-account-title-content,
.user-account-menu-title,
.frmLogin *, .user-accounte-titles-link *,
div.container.register,
.create-account .form-control,
.date-color-black  {
	color: black;
}

.card-register>div>p {
	color: white;
}

.ficha-btn-bid {
	border-radius: 5px;
}

.contact-page-form {
	background: #F3F3F3;
	border-radius: 3px;
	border: #E1E1E1 1px solid;
	margin: 0 15px;
}

.panel-user {
    padding: 0px 0 75px 0;
}

.titlePage-container {
	background: white;
}

.inputs-custom-group .form-group {
	padding: 0;
}

.inputs-custom-group .form-group label{
	font-size: var(--font-size-text);
	color: var(--primary-color-text);
}

.contact-page-form form {
	margin-top: 0;
}

/************************************************
****  ESTILOS DE LA NUEVA HOME DE CARLANDIA *****
*************************************************/

.home-banner > .container {
	overflow: hidden;
	padding: 0;
}

.home-banner img {
	height: auto;
	object-fit: cover;
	object-position: center;
}


.home-top-banner .slick-dots{
	bottom: 15px;
}

.home-top-banner .slick-dots li.slick-active button::before{
	color: var(--primary-color);
	font-size: 15px;
}

.home-top-banner .slick-dots li button::before{
	color: #fff;
	font-size: 10px;
	opacity: 0.75;
}

.home-top-banner .slick-dots li:hover button::before{
	opacity: 1;
}

.search-container {
	background-color: #3B3B3B;
}

.white-container {
	background-color: #fff;
}

.home-container-row {
	margin-top: 3rem;
	margin-bottom: 3rem;
}

.home-title-text-first-line {
	color: #393939;
	font-weight: 600;
	margin-top: 0 ;
	margin-bottom: 0 ;
	font-size: 30px;
}

.home-title-text-last-line {
	color: #393939;
	font-weight: 600;
	margin: 0;
	display: inline-block;
}

.home-title-text-border {
	border-bottom: 3px var(--primary-color) solid;
	line-height: 42px;
}

.home-title-text-last-line.text-white {
	color: #fff;
}

.home-content-text {
	color: #373737;
	padding-top: 10px;
	padding-bottom: 10px;
}

.home-content-image-pr-0 {
	padding-right: 0;
}

.home-content-image-pl-0 {
	padding-left: 0;
}

.home-container-content {
	padding: 0;
}

.padding-left-15px {
	padding-left: 15px;
}

.padding-right-15px {
	padding-right: 15px;
}

/* .home-banner-venta-directa .item_imagen {
	margin-left: 15px;
	margin-right: 15px;
} */


.home-grid-design {
	padding-top: 5px;
	padding-bottom: 5px;
	border-top: 4px var(--blue-color) solid;
	border-bottom: 4px var(--blue-color) solid;
	margin-top: 10px;
	margin-bottom: 10px;
}

.home-grid-item {
	padding-top: 5px;
	text-align: center;
	margin-bottom: 0;
}

.home-grid-car .item_imagen{
	/* border-right: 2px var(--blue-color) solid; */
	margin-top: 10px;
	margin-bottom: 10px;
}

.home-text-and-image-1,
.home-text-and-image-2 {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.home-text-and-image-1 div.column_banner:nth-child(1),
.home-text-and-image-2 div.column_banner:nth-child(1) {
	padding-left: 0;
	padding-right: 0;
}

.home-text-and-image-2 .rowBanner {
	display: flex;
}

.home-text-and-image-2 .rowBanner > *{
	order: 0;
}

.home-text-and-image-2 div.column_banner:nth-child(1) {
	order: 1;
}

.home-text-and-image-1 div.column_banner,
.home-text-and-image-2 div.column_banner {
	align-self: flex-start;
}

.home-textimage-text-container {
	text-align: left;
}

.home-banner-marcas .slick-slide > div {
	display: flex;
	align-items: center;
}

.home-banner-marcas .slick-track {
	display: flex;
	align-items: center;
}

.home-banner-marcas div.item_imagen{
		padding-left: 60px;
		padding-right: 60px;
		margin-bottom: 3rem;
	}

.home-grid-car a {
	text-decoration: none;
	color: black;
}

.home-grid-item:nth-child(8n+8) {
	border-right: none;
}

.home-ventaja-image, .home-marca-image {
	display: block;
	margin: auto;
	padding-top: 10px;
	padding-bottom: 10px;
}

.home-ventaja-padding {
	padding-top: 20px;
	padding-bottom: 10px;
}

.banner-ventajas {
	background-image: url("/themes/carlandia/assets/img/background-ventajas.jpg");
	background-size: contain;
}

.home-ventaja-image {
	max-width: 50%;
}

.home-marca-image {
	width: 50%;
}

.color-text-white * {
	color: white;
}

.home-grid-car div.item_imagen.pos_item_6,
.home-grid-car div.item_imagen.pos_item_13 {
	border-right: none;
}

.home-button-padding, .home-marca-button {
	width: 200px;
}

.home-marca-button {
	display: block;
	margin: auto;
}

.home-button-padding.btn-block {
	width: 100%;
}

.search-container select.form-control {
	background: transparent;
	color: #fff;
	text-transform: uppercase;
	border-bottom: 1px solid #fff;
	padding-left: 0;
	font-weight: 600;
}

.search-container select option {
	background: #fff;
	color: #000;
	text-transform: uppercase;
	/* padding-left: 15px; */
}

.search-container button.home-button-padding {
	width: 100%;
}

/* Estilos del texto del banner */

/* .home-banner-content-text {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: #fff;
} */

.home-banner-content-text .title-banner {
	font-size: 54px;
	color: #fff;
}

.home-banner-content-text .subtitle-banner {
	font-size: 50px;
	height: 100px;
	color: #fff;
}

.home-banner-content-text .text-banner {
	font-size: 28px;
	color: #fff;
	font-weight: normal;
}

.home-top-banner #slick-slide00 {
	position: relative;
}

.home-top-banner span {
	top: initial;
	position: absolute;
	width: 100%;
	bottom: 135px;
}

.copy .color-letter, .copy .color-letter:hover{
	color: var(--footer-sociallinks-textcolor);
}

form#password_recovery label {
	font-size: 17px;
}

.contact-page {
	padding-bottom: 4rem;
}

.bread-content .btn-return {
	margin-top: 2rem;
	font-size: 18px;
}

.similar-button {
	background: var(--auction-color);
	color: #000;
	display: flex;
	align-items: center;
	text-transform: uppercase;
}

.similar-button:hover, .similar-button:focus {
	background: var(--auction-color);
	color: #000;
}

.contact-return-button .bread {
	padding-left: 3rem;
}

/************************************************
**************** PANEL VENDEDOR *****************
*************************************************/
.user-sale-title {
	font-size: 24px;
	text-transform: uppercase;
	align-items: center;

	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.user-sale-title a {
	margin-left: auto;
}


.lot-sale {
	color: #000;
	border-radius: 10px;
  	box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}

.label-direct-sale, .label-auction {
	color: #000;
	font-size: 100%;
	padding: 6px 7px 5px;
	width: 130px;
}

.label-direct-sale{
	background-color: var(--primary-color);
}

.label-auction {
	background-color: #ffff6bff;
}

.lot-sale-content {
	display: flex;
}

.lot-sale-image {
	flex: 1;
	/* align-self: center; */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 10px;
	padding-top: 10px;
}

.lot-sale-image a.btn {
	margin-bottom: 10px;
}

.lot-sale-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.lot-sale-dates {
	padding-bottom: 0;
}

.lot-sale-data {
	flex: 4;
}

.lot-sale-values span, .lot-sale-offers-values span{
	float: right
}

.link-sale-active {
	color: var(--primary-color);

}
.link-sale-noactive, .link-sale-noactive:hover, .link-sale-noactive:focus {
	color: #000;
}

.home-banner-pers > div {
	flex: 1;
}

.home-banner-pers .banner-img img{
	width: 100%;
}

.home-banner-pers .banner-title {
	line-height: 0.8;
}

.home-banner-pers h2 {
	color: #393939;
	font-weight: 600;
}

.home-banner-pers p {
	color: #373737;
	text-align: justify;
	font-size: 18px;
	line-height: 1.5;
}

.home-banner-pers .banner-subtitle span {
	border-bottom: 3px var(--primary-color) solid;
}

.banner-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.banner-content > *{
	margin: 0;
	padding-left: 15px;
	padding-right: 15px;
}

.ficha_V {
	padding: 0;
}

.lot-sale-values {
	padding: 1rem;
	padding-bottom: 0;
}

.lot-sale-offers-values {
	padding-left: 1rem;
	padding-right: 1rem;
}

.table-sales {
	width: 100%;
}

.table-sales td, .table-sales img{
	vertical-align: top;
}

.table-sales td:not(.title) {
	text-align: center;
}

.custom-modal-block {
	max-width: 800px;
}

.well-buyer {
    border: 1px solid lightgray;
    background: #E6F0FE;
    padding: 10px;
	text-align: justify;
}

.well-buyer * {
	margin: 0;
}

.custom-modal-block .button-principal {
	width: auto;
	min-width: 132px;
	padding-left: 15px;
	padding-right: 15px;
}

.custom-modal-block .modal-buttons-list {
	flex-wrap: wrap;
	gap: 20px;
}

.custom-modal-block .modal-buttons-list * {
	margin-top: 1rem;
	padding-left: 10px;
	padding-right: 10px;
}

.custom-modal-block .modal-buttons-list :nth-child(1) {
	background-color: #12B04F;
}

.custom-modal-block .modal-buttons-list :nth-child(3) {
	background-color: var(--auction-color);
	color: #000;
}

.header-info-ficha-prices.ficha_V {
	flex-direction: column;
	border-bottom: 0;
}

.ficha_V p {
	margin: 0;
	font-size: 18px;
	font-weight: bold;
}

.ficha_V > div {
	padding: 10px 15px;
	border-bottom: 1px solid #fff;
}

.ficha_V .ficha_v_title p{
	font-size: 20px;
	font-weight: bold;
	color: black;
}

.ficha_V .prices_block p{
	font-size: 19px;
}

.ficha_v_price_financiado .financiado_title, .ficha_v_price_financiado .monthly-fee-title {
	position: relative;
	display: inline-block;
}

.financiado_title i {
	position: absolute;
	color: #000;
	top: 15px;
	right: -40px;
}

.monthly-fee-title i {
	position: absolute;
	color: #000;
	display: none;
}


a[data-customtitle] {
	position: relative;
}

a[data-customtitle]:hover:after {
	background: rgba(0, 0, 0, 1);
	border-radius: 5px;
	bottom: -35px;
	color: #fff;
	font-size: 15px;
	font-weight: bold;
	content: attr(data-customtitle);
	left: -33px;
	padding: 5px 15px;
	position: absolute;
	z-index: 98;
	width: max-content;
  }

a[data-customtitle]:hover:before {
	border: solid;
	border-color: #333 transparent;
	border-width: 0 6px 6px 6px;
	bottom: -4px;
	content: "";
	left: 50%;
	position: absolute;
	z-index: 99;
  }

.modal-text {
	font-size: 18px;
}

.btn-primary, .modal-dismiss {
	font-size: 17px;
	font-weight: 500;
}

a.button-principal.loadbtn, button.button-principal.loadbtn {
	min-width: initial !important;
    max-height: initial !important;
}
