/**
* tamaños
* none: < 576
* sm: >= 576
* md: >= 768
* lg: >= 992
* xl: >=  1200
* xxl: >=  1400
*/

/*
|--------------------------------------------------------------------------
| General
|--------------------------------------------------------------------------
 */
html {
	scroll-behavior: smooth;
}

.grid-2 {
	grid-template-columns: repeat(2, 1fr);
}

.tk-ivypresto-headline {
	text-transform: none;
}

@media (min-width: 1600px) {
	.container {
		max-width: 1574px;
	}
}

p {
	margin: 0;
}

img {
	max-width: 100%;
	display: block;
}

.fs-16 {
	font-size: 16px;
}

.fs-20 {
	font-size: 20px;
}

.fs-24 {
	font-size: 24px;
}

.fs-24-32 {
	font-size: clamp(1.5rem, 1.3846rem + 0.5128vw, 2rem);
}

.fs-24-40 {
	font-size: clamp(1.5rem, 1.2692rem + 1.0256vw, 2.5rem);
}

.fs-24-48 {
	font-size: clamp(1.5rem, 1.1538rem + 1.5385vw, 3rem);
}

.fs-32-40 {
	font-size: clamp(2rem, 1.8846rem + 0.5128vw, 2.5rem);
}

.fs-32-48 {
	font-size: clamp(2rem, 1.7692rem + 1.0256vw, 3rem);
}

.ls-1 {
	letter-spacing: 0.03em;
}

.ls-2 {
	letter-spacing: 0.1em;
}

.lb-link-destination {
	scroll-margin-top: 180px;
}

@media (min-width: 992px) {
	.fs-64 {
		font-size: 64px;
	}

	.fs-24 {
		font-size: 24px;
	}

	.fs-18 {
		font-size: 18px;
	}
}

input {
	accent-color: var(--lb-color-primary);
}

.card {
	--bs-card-border-radius: var(--lb-border-radius, 0.375rem);
}

.badge {
	--bs-badge-padding-x: 0.75rem;
	--bs-badge-padding-y: 0.375rem;
	--bs-badge-font-size: 14px;
	--bs-badge-font-weight: 500;
	--bs-badge-color: var(--lb-color-primary-contrast);
	--bs-badge-border-radius: 4px;
	background-color: var(--lb-color-primary);
	display: inline-flex;
	align-items: center;
	gap: 0.5rem;
	cursor: pointer;
}

.slick-slide img {
	width: 100%;
	height: auto;
}

.dropdown-menu {
	z-index: 1021;
}

.dropdown-item:focus,
.dropdown-item:hover {
	color: var(--lb-color-primary-contrast);
	background-color: var(--lb-color-primary-light);
}

.dropdown-item.active,
.dropdown-item:active {
	color: var(--lb-color-primary-contrast);
	background-color: var(--lb-color-primary);
}

.text-muted {
	color: rgb(var(--lb-text-color-rgb) / 0.54) !important;
}

.text-justify {
	text-align: justify;
}

.lb-text-capitalize {
	text-transform: lowercase;
}

.lb-text-capitalize::first-letter {
	text-transform: uppercase;
}

.hidden,
.hide {
	display: none !important;
}

.border {
	border-radius: var(--lb-border-radius, 0.375rem);
}

:is(.winner, .mine):not(.none) {
	color: var(--lb-text-color-winner);
}

:is(.lose, .other, .no-winner):not(.none) {
	color: var(--lb-text-color-loser);
}

.form-check> :is(input, label) {
	cursor: pointer;
}

.form-check-input:checked[type=radio] {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23000'/%3e%3c/svg%3e");
	background-size: 19px;
	background-color: #fff;
	border-color: var(--lb-color-primary-dark);
}

.form-control.has-error {
	border-color: #dc3545;
	padding-right: calc(1.5em + .75rem);
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-position: right calc(.375em + .1875rem) center;
	background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

.max-lines {
	-webkit-line-clamp: var(--max-lines, 1);
	text-overflow: ellipsis;
	overflow: hidden;
	display: block;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-o-text-overflow: ellipsis;
	height: calc(var(--line-height, 1.5) * var(--max-lines, 1) * 1rem);
	/* max-height: calc(var(--line-height, 1.5) * var(--max-lines, 1) * 1rem); */
	transition: max-height 1s;
	padding-bottom: 0;
}

.max-lines>* {
	padding-bottom: 0;
	line-height: var(--line-height, 1.5);
}

.max-lines.with-scroll {
	overflow: auto;
	-o-text-overflow: initial;
}

.max-lines.show-all {
	--max-lines: 0 !important;
	max-height: auto;
	transition: max-height 1s;
}

.max-line-1,
.max-line-2,
.max-line-3,
.max-line-4 {
	-webkit-line-clamp: var(--max-lines, 1);
	text-overflow: ellipsis;
	overflow: hidden;
	display: block;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
	-o-text-overflow: ellipsis;
}

.max-line-2 {
	--max-lines: 2;
}

.max-line-3 {
	--max-lines: 3;
}

.max-line-4 {
	--max-lines: 4;
}

.lb-sticky-header {
	position: sticky;
	top: var(--top-sticky-sections, 0);
}

.optimal-text-lenght {
	max-width: 99ch;
}

.max-index {
	z-index: 999 !important;
}

.no-decoration {
	text-decoration: none;
}

.background-primary {
	background-color: var(--lb-color-primary);
	color: var(--lb-color-primary-contrast);
}

.lb-blockquote {
	max-width: 500px;
	padding-left: 1rem;
	position: relative;
}

.lb-blockquote-100 {
	width: 100%;
	padding-left: 1rem;
	position: relative;
}

.lb-blockquote::before,
.lb-blockquote-100::before {
	content: ' ';
	position: absolute;
	width: 2px;
	background-color: var(--lb-color-secondary);
	left: 0;
	top: 5px;
	bottom: 5px;
}

.btn-lb-primary,
.button_modal_confirm {
	--bs-btn-color: var(--lb-color-primary-contrast);
	--bs-btn-border-color: var(--lb-color-primary);
	--bs-btn-bg: var(--lb-color-primary);
	--bs-btn-active-color: var(--lb-color-primary-contrast);
	--bs-btn-active-border-color: var(--lb-color-primary-dark);
	--bs-btn-active-bg: var(--lb-color-primary-dark);
	--bs-btn-hover-color: var(--lb-color-primary-contrast);
	--bs-btn-hover-border-color: var(--lb-color-primary-dark);
	--bs-btn-hover-bg: var(--lb-color-primary-dark);

	--bs-btn-disabled-color: var(--lb-color-primary-contrast);
	--bs-btn-disabled-bg: var(--lb-color-primary);
	--bs-btn-disabled-border-color: var(--lb-color-primary);
}

.btn-lb-secondary {
	--bs-btn-color: var(--lb-color-secondary-contrast);
	--bs-btn-border-color: var(--lb-color-secondary);
	--bs-btn-bg: var(--lb-color-secondary);
	--bs-btn-active-color: var(--lb-color-primary-contrast);
	--bs-btn-active-border-color: var(--lb-color-secondary-dark);
	--bs-btn-active-bg: var(--lb-color-secondary-dark);
	--bs-btn-hover-color: var(--lb-color-primary-contrast);
	--bs-btn-hover-border-color: var(--lb-color-secondary-dark);
	--bs-btn-hover-bg: var(--lb-color-secondary-dark);

}

.btn-outline-lb-primary {
	--bs-btn-color: var(--lb-color-primary);
	--bs-btn-border-color: var(--lb-color-primary);
	--bs-btn-active-color: var(--lb-color-primary-contrast);
	--bs-btn-active-border-color: var(--lb-color-primary);
	--bs-btn-active-bg: var(--lb-color-primary);
	--bs-btn-hover-color: var(--lb-color-primary-contrast);
	--bs-btn-hover-border-color: var(--lb-color-primary);
	--bs-btn-hover-bg: var(--lb-color-primary);
}

.btn-outline-border-lb-primary {
	--bs-btn-active-color: var(--lb-color-primary);
	--bs-btn-active-border-color: var(--lb-color-primary);
	--bs-btn-hover-color: var(--lb-color-primary);
	--bs-btn-hover-border-color: var(--lb-color-primary);
}

.btn-outline-lb-secondary {
	--bs-btn-color: var(--lb-color-secondary);
	--bs-btn-border-color: var(--lb-color-secondary);
	--bs-btn-active-color: var(--lb-color-secondary-contrast);
	--bs-btn-active-bg: var(--lb-color-secondary);
	--bs-btn-active-border-color: var(--lb-color-secondary);
	--bs-btn-hover-color: var(--lb-color-secondary-contrast);
	--bs-btn-hover-bg: var(--lb-color-secondary);
	--bs-btn-hover-border-color: var(--lb-color-secondary);
}

.lb-text-primary {
	color: var(--lb-color-primary);
}

a.lb-text-primary:hover {
	color: var(--lb-color-primary-dark);
}

.img-contain {
	object-fit: contain;
	width: 100%;
	height: 100%;
}

.img-cover {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.cursor-pointer {
	cursor: pointer;
}

.lb-scroll {
	/*Firefox*/
	scrollbar-color: var(--lb-color-primary) var(--lb-color-primary-light);
	scrollbar-width: thin;
}

.lb-scroll::-webkit-scrollbar {
	width: 10px;
}

.lb-scroll::-webkit-scrollbar-track {
	background: var(--lb-color-primary-light);
}

.lb-scroll::-webkit-scrollbar-thumb {
	background: var(--lb-color-primary);
}

.slick-prev:before,
.slick-next:before {
	color: var(--lb-color-primary);
}


/*
|--------------------------------------------------------------------------
| Modales
|--------------------------------------------------------------------------
 */
.panel {
	--bs-modal-zindex: 1055;
	--bs-modal-padding: 1rem;
	--bs-modal-margin: 0.5rem;
	--bs-modal-border-color: var(--bs-border-color-translucent);
	--bs-modal-border-width: 1px;
	--bs-modal-border-radius: var(--lb-border-radius);
	--bs-modal-box-shadow: var(--lb-box-shadow);
	--bs-modal-inner-border-radius: calc(0.5rem - 1px);
	--bs-modal-header-padding-x: 1rem;
	--bs-modal-header-padding-y: 1rem;
	--bs-modal-header-padding: 1rem 1rem;
	--bs-modal-header-border-color: var(--bs-border-color);
	--bs-modal-header-border-width: 0;
	--bs-modal-title-line-height: 1.5;
	--bs-modal-footer-gap: 0.5rem;
	--bs-modal-footer-bg: ;
	--bs-modal-footer-border-color: var(--bs-border-color);
	--bs-modal-footer-border-width: 1px;
	overflow-x: hidden;
	overflow-y: auto;
	outline: 0;
	background-color: var(--bs-modal-bg, #fff);
	color: var(--bs-modal-color, currentColor);
}

.modal-wrapper {
	padding: 25px 0 0 0;
}

.modal-wrapper>div {
	text-align: center;
	justify-content: center;
}

.mfp-close,
.mfp-close-btn-in .mfp-close {
	background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
	color: transparent;
}

.modal-block.container {
	max-width: 500px;
}

/*
|--------------------------------------------------------------------------
| Paginador
|--------------------------------------------------------------------------
 */
.pagination {
	--bs-pagination-padding-x: 1.5rem;
	--bs-pagination-padding-y: 1.5rem;
	--bs-pagination-font-size: 18px;
	--bs-pagination-color: var(--lb-text-color-primary);
	--bs-pagination-bg: #fff;
	--bs-pagination-border-width: 1px;
	--bs-pagination-border-color: var(--lb-border-color);
	--bs-pagination-border-radius: 0;
	--bs-pagination-hover-color: var(--lb-text-color-primary);
	--bs-pagination-hover-bg: #F0EEE6;
	--bs-pagination-hover-border-color: #dee2e6;
	--bs-pagination-focus-color: var(--lb-text-color-primary);
	--bs-pagination-focus-bg: #dee2e6;
	--bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
	--bs-pagination-active-color: #fff;
	--bs-pagination-active-bg: var(--lb-color-primary);
	--bs-pagination-active-border-color: var(--lb-color-primary);
	;
	--bs-pagination-disabled-color: #6c757d;
	--bs-pagination-disabled-bg: #fff;
	--bs-pagination-disabled-border-color: var(--lb-border-color);
	display: inline-flex;
	padding-left: 0;
	list-style: none;
}

.pagination :not(:first-child, :last-child, .active, .is-sibling) {
	display: none;
}

@media(min-width: 992px) {
	.pagination :not(:first-child, :last-child, .active, .is-sibling) {
		display: block;
	}
}
