:root {
	--color-gold: #b79d81;
	--color-blue: #283747;

	--btn-gold: #AF9C81;
	--btn-gold-hover: #9B8A72;
	--btn-red: #DF4140;
	--btn-green: #4CAF50;
}

.btn-lb {
	--btn-bg: var(--color-gold);
	--btn-bc: var(--color-gold);
	--btn-color: #fff;
	--btn-radius: 0;

	font-weight: 700;
	padding: 6px 12px;
	font-size: inherit;
	text-transform: uppercase;

	background-color: var(--btn-bg);
	color: var(--btn-color);
	border-radius: var(--btn-radius);
	border: 1px solid var(--btn-bc, var(--color-gold));

	transition: background-color .3s, color .3s, border-color .3s;
}

.btn-lb:is(:hover, :focus) {
	background-color: var(--btn-bg-hover, var(--color-blue));
	color: var(--btn-color-hover, #fff);
	border: 1px solid var(--btn-bc-hover, var(--color-blue));
}

.btn-lb-primary {
	--btn-bg: var(--color-gold);
	--btn-bc: var(--color-gold);
	--btn-color: #fff;
	--btn-bg-hover: var(--color-blue);
	--btn-bc-hover: var(--color-blue);
	--btn-color-hover: #fff;
}

.btn-lb-outline {
	--btn-bg: transparent;
	--btn-bc: var(--color-gold);
	--btn-color: var(--color-blue);
	--btn-bg-hover: var(--color-gold);
	--btn-bc-hover: var(--color-gold);
	--btn-color-hover: #fff;
}

.btn-large {
	padding: 6px 20px;
}

header {
	background-color: #fff;
	box-shadow: 0 0 7px 0 rgba(0, 0, 0, .5);
	position: sticky;
	top: 0;
	z-index: 1;
}

.navbar-default {
	background-color: inherit;
}

.panel-container {
	display: flex;
	justify-content: space-between;
	padding: 1rem;
}

.navbar-brand {
	padding: 10px 15px;
}

.navbar-brand>img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

aside {
	display: none;
}

aside a {
	color: inherit
}

aside li.active {
	color: red;
}

main {
	grid-area: main;
}

@media(min-width: 992px) {
	.body-main {
		min-height: calc(100vh - 70px);
		display: grid;
		grid-template-columns: 1fr 6fr;
		grid-template-areas: "aside main";
	}

	aside {
		display: block;
		grid-area: aside;
		background-color: #303a47;
		color: #fff;
	}
}

.panel-title {
	display: flex;
	align-items: center;
	gap: 2rem;
	margin-top: 20px;
	margin-bottom: 10px;
}

.panel-title h1 {
	margin: 0;
}

.orders-page {
	padding: 15px;
}

.orders-auction {
	margin-bottom: 2rem;
}

.orders-auction_header,
.orders-auction_lot {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	align-items: center;
}

.orders-auction_header {
	font-size: 13px;
	font-weight: 500;
	color: #000;
	padding-top: .5rem;
	padding-bottom: .5rem;
	margin-bottom: 1rem;
	border-bottom: 1px solid #AF9C81A1;
}

.orders-auction_header > *:not(.orders-auction_title) {
	display: none;
}

.orders-auction_lot {
	color: #283747;
	font-weight: 500;
	gap: 5px;
	padding-bottom: 1rem;
	border-bottom: 1px solid #AF9C81A1;
	margin-bottom: 1rem;
	grid-template-areas: "lot icons buttons buttons buttons"
		"desc desc desc desc desc"
		"image image image label-salida price-salida"
		"image image image label-actual price-actual"
		"image image image label-bid price-bid";
}

.orders-auction_title {
	border: 1px solid #9b8a72;
	padding: 5px;
}

.orders-auction p {
	margin: 0;
}

.js-divisa {
	color: inherit;
	font-weight: inherit;
}

.lot-image {
	grid-area: image;
}

.lot-image img {
	width: 100%;
	height: 100%;
	max-height: 150px;
	object-fit: contain;
	object-position: center;
	margin: auto;
}

.lot-ref {
	grid-area: lot;
}

.lot-desc {
	font-weight: 200;
	-webkit-line-clamp: 3;
	text-overflow: ellipsis;
	overflow: hidden;
	display: block;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	grid-area: desc;
}

.lot-actions {
	display: flex;
	flex-direction: row;
	gap: 5px;
	align-items: flex-start;
	font-size: 12px;
	grid-area: buttons;
}

.lot-price-salida {
	grid-area: price-salida;
}

.lot-price-actual {
	grid-area: price-actual;
}

.lot-price-bid {
	grid-area: price-bid;
}

.label-price-salida {
	grid-area: label-salida;
}

.label-price-actual {
	grid-area: label-actual;
}

.label-price-bid {
	grid-area: label-bid;
}

.lot-actions .btn-puja-panel {
	height: auto;
	text-wrap: wrap;
	width: 100%;
	font-size: inherit;
	background-color: #283747;
	max-width: none;
}

.lot-actions .btn-puja-panel.btn-live {
	background-color: var(--btn-red);
}

.lot-actions .btn-puja-panel.bid-mine {
	background-color: var(--btn-green);
}

.lot-icons {
	grid-area: icons;
	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: 10px;
	padding: 0;
}

.lot-icons .lot-icons-see {
	display: inline-block;
	align-items: center;
	justify-content: center;
	font-size: 25px;
	line-height: 1;
}

.btn-del {
	background-color: #DF4140;
	color: #fff;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	border: 0;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 12px;
	aspect-ratio: 1;
}

@media (min-width: 992px) {

	.orders-auction {
		--grid-columns-desktop: 12% 5% 32% repeat(3, 1fr) 10% 8%;
	}

	.orders-auction_header {
		grid-template-columns: var(--grid-columns-desktop);
		align-items: center;
	}

	.orders-auction_header > *:not(.orders-auction_title) {
		display: block;
	}

	.orders-auction_lot {
		grid-template-columns: var(--grid-columns-desktop);
		align-items: center;
		gap: 0;
		padding-top: 1rem;
		padding-bottom: 1rem;
		margin-bottom: 0;
		border: 0;
	}

	:is(.orders-auction_header, .orders-auction_lot)>*:not(:first-child) {
		padding-left: 10px;
		padding-right: 10px;
	}

	.orders-auction_lot:nth-child(odd) {
		background-color: #9B9B9B1F;
	}

	.orders-auction_lot>* {
		grid-area: auto;
	}

	.order-label {
		display: none;
	}

	.lot-image img {
		max-height: 90px;
	}

	.lot-actions {
		flex-direction: column;
	}
}

.sales-page {
	/* padding: 15px;
	padding-top: 0; */
	color: var(--color-blue);
	padding-bottom: 15px;

}

.sales-page .sticky-section {
	position: sticky;
	background-color: #fff;
	top: 70px;
	padding: 15px;
}

.sales-menu {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 2rem;
}

.sales-summary {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 25px;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.sales-summary_detail {
	min-width: 150px;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 12px;
}

.sales-summary_detail > :first-child {
	font-size: 30px;
	font-weight: 500;
	font-variant-numeric: tabular-nums;
}


.sales-auctions {
	--grid-columns-desktop: 8% 16% 8% repeat(3, 16%) 1fr;
	--max-width: 1200px;
	--line-height: 1.2;
	--min-height: calc(2 * var(--line-height) * 1em);
	--gap: 1rem;
	line-height: var(--line-height);
}

.sales-auctions p {
	margin: 0;
}

.sales-auctions .separator-line {
	margin-left: -15px;
	margin-right: -15px;
	border-bottom: 1px solid var(--color-gold);
}

.sales-header-wrapper {
	border-bottom: 1px solid var(--color-gold);
}

.sales-auction-wrapper {
	cursor: pointer;
}

.sales-auction-wrapper:nth-child(odd) {
	background-color: #9B9B9B1F;
}

.sales-auction-wrapper:last-child {
	border-bottom: 1px solid var(--color-gold);
}

.sales-auction-wrapper.active {
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
	font-weight: 500;
}

.sales-auctions_header {
	box-sizing: content-box;
	max-width: var(--max-width);
	min-height: var(--min-height);
	margin: auto;
	font-weight: 500;
	display: grid;
	grid-template-columns: var(--grid-columns-desktop);
	align-items: center;
	padding-left: 1rem;
	padding-right: 1rem;
	gap: var(--gap);
}

.sales-auction {
	box-sizing: content-box;
	max-width: var(--max-width);
	min-height: var(--min-height);
	margin: auto;
	display: grid;
	grid-template-columns: var(--grid-columns-desktop);
	align-items: center;
	padding-top: 2rem;
	padding-bottom: 2rem;
	padding-left: 1rem;
	padding-right: 1rem;
	gap: var(--gap);
}

.sales-auction .btn {
	text-transform: inherit;
	font-weight: inherit;
}

#auction-details {
	padding-top: 3rem;
	scroll-margin-top: 150px;
}

#auction-details.tab-content {
    margin-top: initial;
    max-height: initial;
}
