/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 17-feb-2020, 16:56:56
    Author     : enadal
*/
:root {
    --primary-color: #43778c;
    --secondary-color: #43778c;
}

.header_logo img {
    max-height: 50px;
}

.clock-text{
    max-width: 75%;
    margin: 25px auto;
    text-align: center;
	font-size: 22px;
	text-transform: none;
}
