#registerForm .datos_left{
    margin: 0px 5px;
}

#registerForm .datos_right{
	margin: 0px 5px;
	float: left;
}

.checkbox-container {
	display: flex;
	align-items: flex-start;
}

form input[type="checkbox"] {
	top: 0;
}

@media (max-width: 576px) {
	#registerForm .datos_left, #registerForm .datos_right{
		width: 100%;
	}
}
