html {
	font-size: 16px;
}

@media (min-width: 1200px) {
	html {
		font-size: 18px;
	}
}

:root {
	--lb-color-primary-hsl: 18.53deg 43.05%;
	--lb-color-primary-rgb: 210 163 142;
	--lb-color-primary: #D2A38E;
	--lb-color-primary-light: #dfbeaf;
	--lb-color-primary-dark: #937263;
	--lb-color-primary-contrast: #fff;
	--bs-font-sans-serif: 'Montserrat', sans-serif;
}

.btn {
	--bs-btn-font-weight: 700;
	text-transform: uppercase;
}

.btn-outline-border-lb-primary {
	--bs-btn-color: var(--lb-color-primary-dark);
	--bs-btn-active-color: var(--lb-color-primary-dark);
	--bs-btn-active-border-color: var(--lb-color-primary-dark);
	--bs-btn-hover-color: var(--lb-color-primary-dark);
	--bs-btn-hover-border-color: var(--lb-color-primary-dark);
}

.btn[data-escalado-position] {
	--bs-btn-padding-x: 0.5rem;
	font-size: .9em;
}

.modal.auction-modal {
	--bs-modal-padding: .25rem;
}

.modal.auction-modal img {
	border-radius: var(--bs-modal-border-radius) var(--bs-modal-border-radius) 0 0;
}

body> :is(header, footer, .subnav) {
	background-color: #000;
	color: var(--lb-color-primary-contrast);
}

body> :is(header, .subnav) {
	background-color: #fff;
	color: rgba(0, 0, 0, 0.9);
}

body>header {
	position: sticky;
	top: 0;
	z-index: 1021;
	/* height: 96px; */
}

body>footer {
	--lb-text-color-rgb: 255 255 255;
}

main {
	padding-bottom: 2rem;
}

h1,
.h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

.breadcrumb {
	--bs-breadcrumb-margin-bottom: 0;
}

.dropdown-item {
	font-size: .8em;
}

header .navbar {
	--bs-navbar-color: rgba(0, 0, 0, 0.9);
	--bs-navbar-hover-color: var(--lb-color-primary);
	--bs-navbar-disabled-color: rgba(0, 0, 0, 0.3);
	--bs-navbar-active-color: rgba(0, 0, 0, 0.9);
	background-color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 2px;
}

header .navbar .navbar-nav {
	gap: .5rem;
}

header .navbar-toggler {
	background-color: var(--lb-color-primary);
}

header .nav-link {
	color: currentColor;
	transition: color .4s ease-in-out;
}

header .nav-link.lb-text-primary {
	color: var(--lb-color-primary);
}

header .nav-link:hover {
	text-decoration: none;
}

header .navbar-nav .dropdown-menu {
	--bs-dropdown-border-radius: 0;
    --bs-dropdown-color: currentColor;
    --bs-dropdown-bg: transparent;
    --bs-dropdown-link-color: currentColor;
    --bs-dropdown-link-hover-bg: transparent;
	--bs-dropdown-link-active-bg: transparent;
}

@media(min-width: 1200px) {
	header .navbar-nav .dropdown-menu {
		--bs-dropdown-border-radius: 0;
		--bs-dropdown-min-width: 15rem;
		--bs-dropdown-color: #fff;
		--bs-dropdown-bg: var(--lb-color-primary);
		--bs-dropdown-link-color: #fff;
		--bs-dropdown-item-padding-y: .5rem;
		--bs-dropdown-link-hover-bg: var(--lb-color-primary-dark);
		--bs-dropdown-link-active-bg: var(--lb-color-primary-dark);
		--bs-dropdown-padding-y: 0;
	}

	header .navbar-nav .dropdown-menu :not(li:last-of-type) .dropdown-item {
		border-bottom: 4px double #000;
	}
}

.dropdown-item:focus, .dropdown-item:hover {
	text-decoration: none;
}

@media(min-width: 1400px) {

	header .nav-link span {
		position: relative;
	}

	header .nav-link span::after {
		content: '';
		left: -10px;
		top: 0;
		position: absolute;
		border-right: 2px solid;
		height: 100%;
		color: #fff;
	}
}

.header-brand {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	gap: 1rem;
}

.logo-brand {
	padding-bottom: 1rem;
}

footer .nav-link {
	--bs-nav-link-hover-color: var(--lb-color-primary);
	overflow-wrap: break-word;
}
/* con sticky y scroll */

/* .section-grid-filters::-webkit-scrollbar-thumb {
	border-radius: 10px;
}

.section-grid-filters::-webkit-scrollbar-track {
	border-radius: 10px;
}

.section-grid-filters {
	border: 1px solid var(--lb-color-primary-light);
	border-radius: 10px;
	padding: .5rem;
	scrollbar-gutter: stable;
}

@media(min-width: 992px) {
	.section-grid-filters {
		top: calc(96px + 1rem);
		height: auto;
		max-height: 85vh;
		padding-right: .5rem;
	}
} */

main.grid .column_banner {
	padding: 0;
}

/* sin sticky ni scroll */
.section-grid-filters {
	height: auto;
	box-shadow: var(--lb-color-primary-light) 0px 1px 4px, var(--lb-color-primary-light) 0px 3px 4px;
	padding: 0.5rem;
	border-radius: 10px;
	position: relative;
	top: 0;
}

.section-grid-filters .input-type-auction--disabled {
	display: none;
}

.label-grid.label-auction {
	--bg-auction: var(--lb-color-primary);
	rotate: none;
    transform: rotate(0);
    -webkit-transform: rotate(0);
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    top: 0;
    left: 0;
    right: initial;
    height: auto;
    padding: 4px;
    width: auto;
    font-size: .9em;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
	background-color: var(--bg-auction);
}

.label-grid.label-auction[data-auction="REPRE"] {
	--bg-auction: #0a4579;
}

.label-grid.label-auction[data-auction="CEREMATE"] {
	--bg-auction: #0d6efd;
}

.label-grid.label-auction[data-auction="REOS"] {
	--bg-auction: #198754;
}

.label-grid.label-auction[data-auction="COMDEUDA"] {
	--bg-auction: #f76800;
}

#modalFormularioFicha .modal-wrapper>div {
	text-align: start;
}

main.ficha h5 {
	font-weight: 700;
}

.ficha-grid {
	gap: 2rem;
}

.ficha-grid .ficha-files:not(:has(a)) {
	display: none;
}

.ficha-grid .ficha-history:not(:has(.hist_item)) {
	display: none;
}

.ficha-grid > section:not(.ficha-title, .ficha-share, .ficha-previous-next) {
	box-shadow: var(--lb-color-primary-light) 0px 1px 4px, var(--lb-color-primary-light) 0px 3px 4px;
    padding: 0.5rem;
    border-radius: 10px;
}

.ficha-description {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.ficha-description .categories {
	margin-top: auto;
}

.ficha-grid section:is(.ficha-login, .ficha-contact) {
	box-shadow: none;
	padding: 0;
}

section.ficha-contact {
	grid-row: 3 / 4;
}

section.ficha-contact a {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	gap: 10px;
}

section.ficha-features {
	grid-row-start: 6;
}

section.ficha-share {
	display: flex;
    flex-direction: column;
    align-self: stretch;
    justify-content: space-between;
    gap: 1rem;
}

@media (min-width: 992px) {

	section.ficha-contact {
		grid-column: 3 / 4;
		grid-row: 2 / 3;
	}

	section.ficha-features {
		grid-column: 1 / 2;
	}
}

@media (min-width: 1200px) {

	.ficha-grid {
		grid-auto-rows: auto 50px auto auto auto auto auto;
	}

	section.ficha-description {
		grid-row: 2 / 4;
	}

	section.ficha-pujas {
		grid-row: 3 / 4;
	}

	section.ficha-history {
		grid-row: 4 / 5;
	}

	section.ficha-share {
		grid-column: 2 / 3;
		grid-row: 4 / 7;
	}

	section.ficha-files {
		grid-column: 3 / 4;
		grid-row: 5 / 6;
	}

	section.ficha-features {
		grid-row: 4 / 7;
	}

	.ficha-grid[data-tipe-sub="V"] section.ficha-pujas {
		grid-row: 3 / 7;
	}

}

.list-group.ficha-files-list {
	--bs-list-group-item-padding-x: .25rem;
	--bs-list-group-border-color: rgb(211 162 144 / 40%);
	--bs-list-group-action-active-bg: #dfbeaf54;
}

.ficha-date-closing {
	font-size: .9em;
	opacity: .8;
}

.hist_content .bidder-identifier {
	--hue-color-increment: 42;
}

.section-grid-filters .category_level_01 {
	margin-right: auto;
}

.section-grid-filters .filters-types>div:last-child {
	border-bottom: none;
}

.section-grid-filters .grid-count {
	display: none;
}

.section-grid-filters .radio-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.section-grid-filters .pills-wrapper {
	display: flex;
	gap: .5rem;
}

.pill-input {
	border: 3px solid var(--lb-color-primary-light);
	border-radius: 50%;
	width: 35px;
	height: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 1;
	font-weight: 600;
	color: var(--lb-color-primary-dark);
	transition: background-color .4s ease-in-out, color .4s ease-in-out;
	cursor: pointer;
}

.pill-input:not(.pill-input--active):hover {
	background-color: var(--lb-color-primary-dark);
	color: var(--lb-color-primary-contrast);
}

.pill-input.pill-input--disabled {
	display: none;
}

.pill-input.pill-input--active {
	background-color: var(--lb-color-primary-light);
}

.map-contact {
	filter: none;
}

.contact-page-info-house-auction {
    background: rgb(223 190 175 / 30%);
    height: auto;
    box-shadow: var(--lb-color-primary-light) 0px 1px 4px, var(--lb-color-primary-light) 0px 3px 4px;
    padding: 4rem 2rem;
    border-radius: 10px;
}

.contact-page-info-house-auction h3 {
	font-weight: 700;
}

.banner_grid {
	padding:0 0 1rem 0;
}

main.static-page * {
	font-family: var(--bs-font-sans-serif) !important;
}

main.static-page img {
	width: 100%;
	height: auto;
}

.lot-card .card-title {
	display: flex;
	gap: 5px;
}

.lot-card .card-title > p {
	background: black;
    color: white;
    padding: 2px 3px;
    align-self: flex-start;
    line-height: 1;
}

.lot-card :is(.lot-salida-price, .lot-actual-bid) {
	padding: 2px 5px;
	margin-bottom: 5px;
}

.lot-card .lot-salida-price {
	font-weight: 700;
	border: 1px solid #198754;
}
