.register-page {
	color: #000;
	font-size: 14px;
	accent-color: var(--gold-header);
	padding-top: 2rem;
	padding-bottom: 4rem;

	--lb-gutter-x: 6px;
}

:is(input, textarea) {
	font-size: inherit;
	font-weight: 400;
}

.register-page .row {
	margin-right: calc(var(--lb-gutter-x) * -1);
	margin-left: calc(var(--lb-gutter-x) * -1);
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
}

div[class^="col-"] {
	padding-right: var(--lb-gutter-x, 15px);
	padding-left: var(--lb-gutter-x, 15px);
}

.form-group {
	margin-bottom: 10px;
}

.register-container {
	max-width: 500px;
	margin: auto;
}

legend {
	font-size: 1.25em;
	color: inherit;
	font-weight: 500;
	margin-bottom: 1rem;
	padding-top: 1rem;
	border-bottom: 0;
}

label {
	width: 100%;
	font-size: 14px;
	display: block;
}

.bootstrap-select button {
	border-radius: 0;
	border-width: 1px;
}

select {
	display: block;
	border: 1px solid #ccc;
	accent-color: #000;
}

.checkbox {
	margin-top: 0;
	margin-bottom: 5px;
}

.checkbox label {
	font-size: 14px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
	width: auto;
}

.checkbox label {
	padding-left: 0;
}

.checkbox+.checkbox {
	margin-top: 0;
}

.register-page .checkbox input[type=checkbox] {
	top: initial;
    width: 1em;
    height: 1em;
    margin-right: initial;
	position: relative;
	margin: 0;
	opacity: 1;
	pointer-events: initial;
}

h1 {
	font-size: 2em;
	text-align: center;
	text-wrap: balance;
}

.register-page .form-control,
input.form-control {
	background-color: #fff;
	background: #fff;
	border: 1px solid #848484BF;
	padding: 10px;
	height: 40px;
	font-size: 14px;
	font-weight: 400;
	color: #000 !important;
}

.register-page .form-control:-webkit-autofill,
input.form-control:-webkit-autofill {
	background-color: #fff !important;
	background: #fff !important;
	color: #000 !important;
}

input[type=date].form-control,
input[type=datetime-local].form-control,
input[type=month].form-control,
input[type=time].form-control {
	line-height: inherit;
	display: block;
	-webkit-min-logical-width: calc(100% - 16px);
}

.login-wrapper .input-group {
	display: block;
}

.input-group {
	display: flex;
}

.input-group .eye-password {
	position: absolute;
	right: 10px;
	align-self: center;
	cursor: pointer;
	z-index: 5;
}


.well {
	border: 0;
	border-top: 1px solid #b79d81;
	width: 100%;
}

.tit {
	color: #283747;
	font-weight: 900;
	margin: 10px 0;
	font-size: 24px;
}

#registerForm .observaciones {
	display: block;
}

.observaciones>textarea.form-control {
	height: 100px;
	max-width: 100%;
	min-width: 100%;
}

.observaciones-text {
	color: #C00;
}

#registerForm .moneda {
	display: block;
}

input[name^='preftel'] {
	text-align: left;
}

input.form-control.has-error, textarea.form-control.has-error {
	border-color: #C00;
	color: #C00 !important;
	outline: #C00 1px solid;
}

.btn-primary {
	color: #FFF;
	background: #b79d81;
	border-radius: 0;
	border: 0;
	padding: 10px 40px;
	font-size: 18px;
}
