@import url("global.css");

.btn-link {
	--bs-btn-padding-x: 0;
	--bs-btn-padding-y: 0;
}

.vertical-separator-line {
	line-height: 0.8em;
	overflow: hidden;
	font-weight: 400;
	user-select: none;
}

.navbar-toggler-icon {
	width: 24px;
	height: 24px;
}

.navbar-toggler:focus {
	box-shadow: none;
}

.navbar-brand img {
	max-width: 75px;
}

header .first-header-wrapper {
	background-color: #f5f5f5;
	border-bottom: 0;
	font-size: 12px;
	font-weight: 500;
	color: black;
}

.first-header-wrapper :is(a, .btn-link) {
	color: inherit;
	font-size: inherit;
	text-decoration: none;
	font-weight: inherit;
}

.first-header-wrapper :is(a, .btn-link):is(:hover, :focus) {
	opacity: 0.7;
}

header .navbar-nav {
	--bs-nav-link-font-weight: 500;
}

.links-header {
	gap: .5rem;
}

.icon-link {
	width: 32px;
	aspect-ratio: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50rem;
	line-height: 1;
}

.icon-link:hover {
	background-color: #e5e5e5;
}

@media (min-width: 992px) {
	header :is(.navbar-brand, .navbar-collapse, .links-header) {
		flex: 1;
	}

	.links-header {
		gap: 1rem;
	}

	header .navbar-nav {
		gap: 10px;
	}

	header .navbar-nav .nav-link {
		text-decoration: none;
	}
	header .navbar-nav .nav-link span {
		position: relative;
	}

	header .navbar-nav .nav-link span::after {
		content: "";
		position: absolute;
		bottom: -7px;
		left: 0;
		width: 100%;
		height: 2px;
		background-color: #000;
		opacity: 0;
		transition: opacity 0.3s;
	}

	header .navbar-nav .nav-link:hover span::after {
		opacity: 1;
	}
}

.grid .auction__filters-type {
	display: none;
}

.ficha-grid {
	gap: 1rem;
}

.description.max-lines {
	--max-lines: none !important;
}

@media(min-width: 1200px) {

	.ficha-grid {
		grid-template-columns: repeat(3, 1fr);
	}

	section.ficha-image {
		grid-column: 1 / 3;
	}

	section.ficha-description {
		grid-column: 1 / 3;
		grid-row-start: 4;
	}

	section.ficha-previous-next {
		grid-column: 1 / 3;
		grid-row: 5 / 6;
	}

	section.ficha-share {
		grid-column: 3 / 4;
		grid-row: 5;
	}
}

.hist_content {
	--logo-size: 1.5em;
}

.hist_content .info {
	background-color: var(--bs-gray-300);
}

.hist_content .bidder-identifier-container {
	display: inline-flex;
	gap: 2px;
}

.hist_item img {
	width: var(--logo-size);
}

.home-slider .column_banner {
	padding: 0;
}

.static-main-page {
	padding-top: 3rem;
}

.static-page .container > * {
	max-width: 90ch;
}

footer .nav-link {
	--bs-nav-link-color: inherit;
	--bs-nav-link-hover-color: inherit;
}
