/* GENERAL */
.rowBanner{
	display: flex;
align-items: center;
flex-wrap: wrap;
}


.column_banner .item_texto p{
	text-align: justify;
}


.column_banner  .title{
	font-family: Gobold;
    font-size: 73px;
    color: #bcbcbc;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 73px;
}

.column_banner .subtitle {
    font-family: Gobold;
    font-size: 40px;
    color: #bcbcbc;
    text-transform: uppercase;
	font-weight: 900;
}



/* IMG_CENTRADA_HOME */
.IMG_CENTRADA_HOME  span > a{
	position: absolute;
	right: 63%;
    top: 75%;
}



.IMG_CENTRADA_HOME img{
	max-width: 850px;
	margin: auto;
	}

/* IMG_TEXTO_DERECHA_HOME */
.IMG_TEXT_HOME img{
	max-width: 655px;
	float: right;
}



/* IMG_TXT_IMG_TXT_HOME */
.IMG_TXT_IMG_TXT_HOME   img {
	width: 250px;
	margin:auto;
}

.IMG_TXT_IMG_TXT_HOME :hover img {
    filter: opacity(70%);
    -webkit-filter: opacity(70%);
    transition: all 0.5s linear;
}

/* IMG_IMG_IMG_IMG_HOME */
.IMG_IMG_IMG_IMG_HOME {
	padding: 50px 0;
	/*
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	*/
}

.IMG_IMG_IMG_IMG_HOME  .item{
	text-align:center;
	padding: 0px 40px 0 40px;
}

.IMG_IMG_IMG_IMG_HOME  a span{
	color: #333;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 900;
	white-space: nowrap;
}

.IMG_IMG_IMG_IMG_HOME  img {
	width: 100%;
	max-width: 246px;
	max-height: 246px;
	margin: auto;
}

.IMG_IMG_IMG_IMG_HOME :hover img {
    filter: opacity(70%);
    -webkit-filter: opacity(70%);
    transition: all 0.5s linear;
}
/* IMG_IMG_IMG_HOME */
.IMG_IMG_IMG_HOME {
	padding: 50px 0;
}
.IMG_IMG_IMG_HOME img {
    width: 100%;

    margin: auto;
}
.IMG_IMG_IMG_HOME  .item{
	text-align:center;
	padding: 0px 40px 0 40px;
}

/* IMG_IMG2_HOME */
.IMG_IMG2_HOME   {
	margin:25px
}

.IMG_IMG2_HOME .item_imgSingle {
	float:right;
	margin-bottom: 15px;
}
.IMG_IMG2_HOME   img {
	max-width: 525px; /*   525 x 650 y 525 x 285 */

}
.IMG_IMG2_HOME   .pos_item_1  {
	margin-top: 60px;

}





/* IMG2_IMG_HOME */

.IMG2_IMG_HOME   {
	margin:25px
}

.IMG2_IMG_HOME .item_imgBlock  {
	float:right;

}

.IMG2_IMG_HOME .item_imgSingle  {

	margin-top: 40px;
}

.IMG2_IMG_HOME   .pos_item_1  {
	margin-top: 50px;

}

.IMG2_IMG_HOME   img {
	max-width: 525px; /*   525 x 650 y 525 x 285 */

}
.banner_video {
padding-bottom: 56.25%;
}

.banner_video iframe {
	/*
	width: 560px;
	height: 315px;
	*/

	width: 90%;
	height:90%;
	position: absolute;
	top: 0px;
	left: 5%;
}

@media (max-width: 1100px) {

	.column_banner .item_texto{
		text-align: center;
	}

	.column_banner  .title{
		font-size: 40px;

	}

	.IMG_IMG2_HOME   .pos_item_1  {
		margin-top: 45px;

	}


.IMG2_IMG_HOME .item_imgSingle  {

	margin-top: 40px;
}

.IMG2_IMG_HOME   .pos_item_1  {
	margin-top: 36px;

}


}
@media (max-width: 990px) {
	.column_banner .item_texto{
		margin: 15px;

	}

	.IMG_TEXT_HOME img{
		width: 75%;
		margin:auto;
		float:none
	}

	.IMG_CENTRADA_HOME  span > a{
		right: 52%;
	}



	.IMG_IMG2_HOME .item_imgSingle  {
		float:none;
	}


	.IMG2_IMG_HOME .item_imgBlock  {
		float:none;
	}




}
