:root {

	/**
	* tamaños
	* none: < 576
	* sm: >= 576
	* md: >= 768
	* lg: >= 992
	* xl: >=  1200
	* xxl: >=  1400
	*/

	--color-1-hsl: 200deg 15% 73%;
  	--color-1: hsl(var(--color-1-hsl));
	--lb-color-primary-rgb: 205, 33, 34;
	--lb-color-primary: #cd2122;
	--lb-color-primary-light: #D74D4E;
	--lb-color-primary-dark: #8F1717;
	--lb-color-primary-contrast: #ffffffea;

	--lb-color-secondary: #000000bf;
	--lb-color-secondary-dark: #000000d4;
	--lb-color-secondary-contrast: #ffffffea;

	--lb-color-backgorund: #cd212212;

	--lb-text-color-rgb: 0, 0, 0;
	--lb-text-color-primary: rgba(var(--lb-text-color-rgb), 0.75);
	--lb-text-color-secondary: rgba(var(--lb-text-color-rgb), 0.54);
	--lb-text-color-disabled: rgba(var(--lb-text-color-rgb), 0.38);
	--lb-text-color-winner: #00870d;
	--lb-text-color-loser: #ff4040;

	--lb-box-shadow-color-rgb: 0, 0, 0;
	--lb-box-shadow: 0 1px 2px 0 rgba(var(--lb-box-shadow-color-rgb), 0.1);
	--lb-box-shadow-lot: rgba(50, 50, 105, 0.15) 0 2px 5px 0, rgba(0, 0, 0, 0.05) 0 1px 1px 0;

	--lb-border-radius: 0;
	--lb-test: 1rem;
	/*
	|--------------------------------------------------------------------------
	| Overwritte Boostrap
	|--------------------------------------------------------------------------
	*/
	--bs-font-sans-serif: 'Rubik', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--bs-border-radius: var(--lb-border-radius, 0.375rem);
	--bs-accordion-transition: color 1s ease-in-out, background-color 1s ease-in-out, border-color 1s ease-in-out, box-shadow 1s ease-in-out, border-radius 1s ease;
}

/*
|--------------------------------------------------------------------------
| General
|--------------------------------------------------------------------------
 */

@media (min-width: 1600px) {
	.container {
		max-width: 1500px;
	}
}

body {
	--bs-body-color-rgb: var(--lb-text-color-rgb);
	--bs-body-color: var(--lb-text-color-primary);
	color: var(--lb-text-color-primary);
	/* background-image: linear-gradient(to top, #fff 0%, var(--lb-color-backgorund) 100%); */
	/* background-image: linear-gradient(to top, #e6e9f0 0%, #fffafa 100%); */
}

p {
	margin: 0;
}

h1,
.h1 {
	font-family: 'Playfair Display', serif;
	font-weight: 700;
}

@media (min-width: 992px) {
	.fs-64 {
		font-size: 64px;
	}
}

input {
	accent-color: var(--lb-color-primary);
}

.btn {
	transition: all 0.3s;
	--bs-btn-color: var(--lb-text-color-primary);
	--bs-btn-border-radius: var(--lb-border-radius, 0.375rem);
}

.card {
	--bs-card-border-radius: var(--lb-border-radius, 0.375rem);
}

.dropdown-menu {
	z-index: 1021;
}

.dropdown-item:focus,
.dropdown-item:hover {
	color: var(--lb-color-primary-contrast);
	background-color: var(--lb-color-primary-light);
}

.dropdown-item.active,
.dropdown-item:active {
	color: var(--lb-color-primary-contrast);
	background-color: var(--lb-color-primary);
}

.text-muted {
	color: var(--lb-text-color-secondary) !important;
}

.hidden,
.hide {
	display: none !important;
}

.border {
	border-radius: var(--lb-border-radius, 0.375rem);
}

:is(.winner, .mine):not(.none) {
	color: var(--lb-text-color-winner);
}

:is(.lose, .other, .no-winner):not(.none) {
	color: var(--lb-text-color-loser);
}

.panel {
	background-color: #fff;
	border-radius: var(--lb-border-radius);
	box-shadow: var(--lb-box-shadow);
	padding: 1rem 2rem;
}

.form-check-input:checked {
	background-color: var(--lb-color-primary);
	border-color: var(--lb-color-primary);
}

.max-lines {
	-webkit-line-clamp: var(--max-lines, 1);
	text-overflow: ellipsis;
	overflow: hidden;
	display: block;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-o-text-overflow: ellipsis;
	height: calc(var(--line-height, 1.5) * var(--max-lines, 1) * 1rem);
	/* max-height: calc(var(--line-height, 1.5) * var(--max-lines, 1) * 1rem); */
	transition: max-height 1s;
	padding-bottom: 0;
}

.max-lines>* {
	padding-bottom: 0;
	line-height: var(--line-height, 1.5);
}

.max-lines.with-scroll {
	overflow: auto;
	-o-text-overflow: initial;
}

.max-lines.show-all {
	--max-lines: 0 !important;
	max-height: auto;
	transition: max-height 1s;
}

.max-line-1,
.max-line-2,
.max-line-3,
.max-line-4 {
	-webkit-line-clamp: var(--max-lines, 1);
	text-overflow: ellipsis;
	overflow: hidden;
	display: block;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
	-o-text-overflow: ellipsis;
}

.max-line-2 {
	--max-lines: 2;
}

.max-line-3 {
	--max-lines: 3;
}

.max-line-4 {
	--max-lines: 4;
}

.optimal-text-lenght {
	max-width: 99ch;
}

.max-index {
	z-index: 999!important;
}

.no-decoration {
	text-decoration: none;
}

.background-primary {
	background-color: var(--lb-color-primary);
	color: var(--lb-color-primary-contrast);
}

.lb-blockquote {
	max-width: 500px;
	padding-left: 1rem;
	position: relative;
}

.lb-blockquote::before {
	content: ' ';
	position: absolute;
	width: 2px;
	background-color: var(--lb-color-secondary);
	left: 0;
	top: 5px;
	bottom: 5px;
}

.btn-lb-primary {
	--bs-btn-color: var(--lb-color-primary-contrast);
	--bs-btn-border-color: var(--lb-color-primary);
	--bs-btn-bg: var(--lb-color-primary);
	--bs-btn-active-color: var(--lb-color-primary-contrast);
	--bs-btn-active-border-color: var(--lb-color-primary-dark);
	--bs-btn-active-bg: var(--lb-color-primary-dark);
	--bs-btn-hover-color: var(--lb-color-primary-contrast);
	--bs-btn-hover-border-color: var(--lb-color-primary-dark);
	--bs-btn-hover-bg: var(--lb-color-primary-dark);
}

.btn-lb-secondary {
	--bs-btn-color: var(--lb-color-secondary-contrast);
	--bs-btn-border-color: var(--lb-color-secondary);
	--bs-btn-bg: var(--lb-color-secondary);
	--bs-btn-active-color: var(--lb-color-primary-contrast);
	--bs-btn-active-border-color: var(--lb-color-secondary-dark);
	--bs-btn-active-bg: var(--lb-color-secondary-dark);
	--bs-btn-hover-color: var(--lb-color-primary-contrast);
	--bs-btn-hover-border-color: var(--lb-color-secondary-dark);
	--bs-btn-hover-bg: var(--lb-color-secondary-dark);
}

.btn-outline-lb-primary {
	--bs-btn-color: var(--lb-color-primary);
	--bs-btn-border-color: var(--lb-color-primary);
	--bs-btn-active-color: var(--lb-color-primary-contrast);
	--bs-btn-active-border-color: var(--lb-color-primary);
	--bs-btn-active-bg: var(--lb-color-primary);
	--bs-btn-hover-color: var(--lb-color-primary-contrast);
	--bs-btn-hover-border-color: var(--lb-color-primary);
	--bs-btn-hover-bg: var(--lb-color-primary);
}

.btn-outline-border-lb-primary {
	--bs-btn-active-color: var(--lb-color-primary);
	--bs-btn-active-border-color: var(--lb-color-primary);
	--bs-btn-hover-color: var(--lb-color-primary);
	--bs-btn-hover-border-color: var(--lb-color-primary);
}

.btn-outline-lb-secondary {
	--bs-btn-color: var(--lb-color-secondary);
	--bs-btn-border-color: var(--lb-color-secondary);
	--bs-btn-active-color: var(--lb-color-secondary-contrast);
	--bs-btn-active-bg: var(--lb-color-secondary);
	--bs-btn-active-border-color: var(--lb-color-secondary);
	--bs-btn-hover-color: var(--lb-color-secondary-contrast);
	--bs-btn-hover-bg: var(--lb-color-secondary);
	--bs-btn-hover-border-color: var(--lb-color-secondary);
}

.lb-text-primary {
	color: var(--lb-color-primary);
}

a.lb-text-primary:hover {
	color: var(--lb-color-primary-dark);
}

.img-contain {
	object-fit: contain;
	width: 100%;
	height: 100%;
}

.cursor-pointer {
	cursor: pointer;
}

.lb-scroll {
	/*Firefox*/
	scrollbar-color: var(--lb-color-primary) var(--lb-color-primary-light);
	scrollbar-width: thin;
}

.lb-scroll::-webkit-scrollbar {
	width: 10px;
}

.lb-scroll::-webkit-scrollbar-track {
	background: var(--lb-color-primary-light);
}

.lb-scroll::-webkit-scrollbar-thumb {
	background: var(--lb-color-primary);
}

.slick-prev:before,
.slick-next:before {
	color: var(--lb-color-primary);
}
