@media (max-width: 1600px) {
	.menu-item ul li.item-phone{
		display: none;
	}
}

/*------------------------------
----- ARREGLO CORTE HEADER -----
------------------------------*/

@media (max-width: 1558px) {
	.menu-item ul li {
		font-size: 13px;
	}
}

@media (max-width: 1466px) {
	.menu-item ul li {
		font-size: 12px;
	}
}

@media (max-width: 1368px) {
	.menu-item ul li {
		font-size: 11px;
	}
}

@media (max-width: 1280px) {
	.menu-item ul li {
		font-size: 10px;
	}
}

/*------------------------------
------- FIN CORTE HEADER -------
------------------------------*/

/* Large desktops and laptops */
@media (min-width: 1200px) {
    visible-lg-custom{
        display: inline-block;
    }



    div.item_subasta img {
       margin-bottom: 10px;
        min-height: 150px;
    }
    .lot-count{
        position: relative;
    }

    .timeLeft{
        position: absolute;
        right: -25px;
    }

    header {
    padding: 0 1%;
}

.lang-item {
    border-right: 1px solid #DADADA;
}

.hei{
    margin: 0 90px;
}

.controls-carousel,
.carousel-fijo{

    /*height: 423px;*/
    height: 317px;

}

.controls_slider {
    height: auto;
    height: 138.75px;
}

}

@media (max-width: 1200px) {
	.margin-auto-lg {
		margin: auto;
	}

	.d-block-lg {
		display: block !important;
	}

	.text-center-lg {
		text-align: center;
	}

	/* Margin top */
	.mt-lg-1 {
		margin-top: 1rem;
	}
	.mt-lg-2 {
		margin-top: 2rem;
	}
	.mt-lg-3 {
		margin-top: 3rem;
	}
	.mt-lg-4 {
		margin-top: 4rem;
	}
	.mt-lg-5 {
		margin-top: 5rem;
	}

	/* Margin bottom */
	.mb-lg-1 {
		margin-bottom: 1rem;
	}
	.mb-lg-2 {
		margin-bottom: 2rem;
	}
	.mb-lg-3 {
		margin-bottom: 3rem;
	}
	.mb-lg-4 {
		margin-bottom: 4rem;
	}
	.mb-lg-5 {
		margin-bottom: 5rem;
	}

	/* Margin left */
	.ml-lg-1 {
		margin-left: 1rem;
	}
	.ml-lg-2 {
		margin-left: 2rem;
	}
	.ml-lg-3 {
		margin-left: 3rem;
	}
	.ml-lg-4 {
		margin-left: 4rem;
	}
	.ml-lg-5 {
		margin-left: 5rem;
	}

	/* Margin right */
	.mr-lg-1 {
		margin-right: 1rem;
	}
	.mr-lg-2 {
		margin-right: 2rem;
	}
	.mr-lg-3 {
		margin-right: 3rem;
	}
	.mr-lg-4 {
		margin-right: 4rem;
	}
	.mr-lg-5 {
		margin-right: 5rem;
	}
}




/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
        .capaOculta{
            visibility: hidden;
        }
}

@media (max-width: 992px) {
	.margin-auto-md {
		margin: auto;
	}

	.d-block-md {
		display: block !important;
	}

	.text-center-md {
		text-align: center;
	}

	.frmLogin {
		margin-bottom: 4rem;
	}

	.hammer-icon {
		top: 67px;
	}

	/* Margin top */
	.mt-md-1 {
		margin-top: 1rem;
	}
	.mt-md-2 {
		margin-top: 2rem;
	}
	.mt-md-3 {
		margin-top: 3rem;
	}
	.mt-md-4 {
		margin-top: 4rem;
	}
	.mt-md-5 {
		margin-top: 5rem;
	}

	/* Margin bottom */
	.mb-md-1 {
		margin-bottom: 1rem;
	}
	.mb-md-2 {
		margin-bottom: 2rem;
	}
	.mb-md-3 {
		margin-bottom: 3rem;
	}
	.mb-md-4 {
		margin-bottom: 4rem;
	}
	.mb-md-5 {
		margin-bottom: 5rem;
	}

	/* Margin left */
	.ml-md-1 {
		margin-left: 1rem;
	}
	.ml-md-2 {
		margin-left: 2rem;
	}
	.ml-md-3 {
		margin-left: 3rem;
	}
	.ml-md-4 {
		margin-left: 4rem;
	}
	.ml-md-5 {
		margin-left: 5rem;
	}

	/* Margin right */
	.mr-md-1 {
		margin-right: 1rem;
	}
	.mr-md-2 {
		margin-right: 2rem;
	}
	.mr-md-3 {
		margin-right: 3rem;
	}
	.mr-md-4 {
		margin-right: 4rem;
	}
	.mr-md-5 {
		margin-right: 5rem;
	}
}

@media (min-width: 900px) {
	.form-group-custom {
	    margin-bottom: 15px;
	    float: left;
	    margin-right: 20px;
	    width: 46%;
	}
        header ul.items_top_responsive{
            text-align: right;
        }
        .table-responsive>.table>tbody>tr>td{
            max-width: 200px;
        }

        .timeLeft{
            padding-left: 10px;
        }



}
/* Portrait tablets and small desktops */
@media (min-width: 769px) and (max-width: 991px) {
    .sobre-nosotros-home-bg {
        display: none;
}
.box-contact-title{
    font-size: 16px;
}
box-contact-subtitle{
    font-size: 14px;
}

.sobre-nosotros-home-content-title,
.sobre-nosotros-home-content-text,
.sobre-nosotros-home-content-link{
       color: #171717;
}

.circle-services{
    height: 200px;
    width: 200px;
}
    .timeLeft{
            padding-left: 10px;
        }
        .control{
            display: block;
            opacity: 1;
        }
        .item_lot_large .img_lot{
            height: 160px;
        }
        .info_single div.pre,
        .precio_minimo_no_alcanzado,
        .precio_minimo_alcanzado,
        .ficha_V .info_single_button{
            width: 200px;
        }
        .capaOculta{
            visibility: hidden;
        }
        div.item_subasta img {
            margin-bottom: 10px;
            min-height: 126px;
        }
        .lot-grid{
            margin-bottom: 20px;
        }
        .lot-grid a{
            color: #707B7C;
            -webkit-transition: .2s color linear;
            -o-transition: .2s color linear;
            transition: .2s color linear;
            text-decoration: none;
        }

}



/* Landscape phones and portrait tablets */
@media (max-width: 768px) {


    .register-alert{
        flex-direction:column;
        padding: 10px;
        padding-left: 0;
        bottom: 0;
        left: 0;
    }
    .register-alert-register-title{
        font-size: 16px;
    }
    .header-gutinvest {
    height: 60px;
}

header {
    height: 93px;

    box-shadow: none;


}

.search-item {
    border-left: 0;
    border-right: 0;

}

.menu-responsive-btn {

    border-right: 0;
}

.search-item img {
    padding-top: 5px;

}
    .adj_archivos{
     border-right: 0;
    }
        .sobre-nosotros-home-bg {
        display: none;
}
.box-contact-info{
       min-height: 294px;
    margin-top: 20px;
}
.service-container:nth-child(even) .services-desc {
    padding-left: 15px;
}
.service-container:nth-child(odd) .services-desc {
    padding-right: 15px;
}
.service-container .services-desc {
    margin-top: 20px;
}
.service-container:nth-child(odd) .row{
   display: block;
}

.box-contact-title{
    font-size: 16px;
}
box-contact-subtitle{
    font-size: 14px;
}
    .item-subasta-data-title{
        text-align: left;
        margin: 5px 0;
    }

    .serivicios-content{
        background: #171717;
    }
    .sobre-nosotros-home-img img{
    max-width: 60% !important;
    margin: 0 auto;
    margin-top: -22px;
    }
    .sobre-nosotros-home-img{
    text-align: center;
    }
    .item-subasta-data-location{
        margin-bottom: 10px;
    }
.row.hei{
    margin-right: 0;
     margin-left: 0;
}
    .lot-grid{
        margin-bottom: 20px;
    }
    .lot-grid a{
        color: #707B7C;
        -webkit-transition: .2s color linear;
        -o-transition: .2s color linear;
        transition: .2s color linear;
        text-decoration: none;
    }
        .capaOculta{
            visibility: hidden;
        }
	.navbar-nav>li:nth-child(1) a {
		border-left: none;
	}
	.mt_re {
		margin-top: 35px;
	}
        #pujar_ordenes_w{
            font-size: 15px;
            min-height: 46px;
        }
	#owl-carousel-responsive {
		margin-bottom: 40px;
	}
	.change_row {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		display: table-header-group;
	}
	.left_row {
	    -webkit-order: 2;
	    -ms-order: 2;
	    order: 2;
	}
	.right_row {
		-webkit-order: 1;
		-ms-order: 1;
		order: 1;
	}
        .item_lot_mini{
            position:relative;

        }
        .item_lot_mini .data_container{
            height: 40px;
        }
        .timeLeft{
            font-size: 14px;
            padding-top: 10px;
            text-align: right;

        }
        h1.titlePage,
        .title-head-grid .lot-count,
        .title-head-grid .lot-grid,
        .lot-detail h1.titlePage{

            padding-bottom: 10px;
            margin-bottom: 10px;
            margin-top: 10px;
            font-size: 30px;
    }

    #add_fav.btn p,
    #del_fav.btn p,
    #add_fav.btn i,
    #del_fav.btn i{
        font-size: 13px;
    }
    .it_ro h1.titleSingle{
        font-size:25px;
    }

    .info_single div.pre,
    .precio_minimo_no_alcanzado,
    .precio_minimo_alcanzado,
    .ficha_V .info_single_button{
        width: 200px;
    }

    .item_lot_large .img_lot{
        min-height: 160px;
        }
    div.item_subasta img {
        margin-bottom: 10px;
        min-height: 126px;
    }
    .title2 {
    margin-top: 80px;
}
.contacto-home-title{
    text-align: center;
    margin-top: 54px;
}
.contacto-home-title a{
    position: relative;
    text-decoration: underline;
}
.slogan-big{
    padding-right: 0px;
}
.item-subasta-img{
 margin-bottom: 10px;
}
    .item-subasta-data-location .col-xs-12.text-right{
text-align: left;

}
.img-contacto-home{
    height: auto;
}

	.auction-type {
		padding-left: 0px;
		padding-right: 0px
	}

	.close-date {
		padding-left: 15px;
		padding-right: 15px;
	}

	.account-item-border {
		border: none;
	}

	.margin-auto-sm {
		margin: auto;
	}

	.d-block-sm {
		display: block !important;
	}

	.text-center-sm {
		text-align: center;
	}

	/* Margin top */
	.mt-sm-1 {
		margin-top: 1rem;
	}
	.mt-sm-2 {
		margin-top: 2rem;
	}
	.mt-sm-3 {
		margin-top: 3rem;
	}
	.mt-sm-4 {
		margin-top: 4rem;
	}
	.mt-sm-5 {
		margin-top: 5rem;
	}

	/* Margin bottom */
	.mb-sm-1 {
		margin-bottom: 1rem;
	}
	.mb-sm-2 {
		margin-bottom: 2rem;
	}
	.mb-sm-3 {
		margin-bottom: 3rem;
	}
	.mb-sm-4 {
		margin-bottom: 4rem;
	}
	.mb-sm-5 {
		margin-bottom: 5rem;
	}

	/* Margin left */
	.ml-sm-1 {
		margin-left: 1rem;
	}
	.ml-sm-2 {
		margin-left: 2rem;
	}
	.ml-sm-3 {
		margin-left: 3rem;
	}
	.ml-sm-4 {
		margin-left: 4rem;
	}
	.ml-sm-5 {
		margin-left: 5rem;
	}

	/* Margin right */
	.mr-sm-1 {
		margin-right: 1rem;
	}
	.mr-sm-2 {
		margin-right: 2rem;
	}
	.mr-sm-3 {
		margin-right: 3rem;
	}
	.mr-sm-4 {
		margin-right: 4rem;
	}
	.mr-sm-5 {
		margin-right: 5rem;
	}

}

@media (max-width: 700px) {
    .modals-desgloce{
    padding: 10px 3%;
}
.view-subastas-lista {
    overflow-x: scroll;
    height: 50px;
}

.search-input {
    right: inherit;
    left: -13px;
    top: 50px;

}

}

@media (max-width:600px){
.list_cat_home_container{
    display: block;
}
    .list_cat_home_block{
        width: 100%;
    }
    .logo-footer{
        text-align: center;
    }

   .desc_container {
    DISPLAY: block;

}



.titulos-home p ,
.title_single_adj{

    font-size: 16px;

}

.titleLot{
      font-size: 18px;
}
.bread-new .titlePage {
    font-size: 14px;

}


       .desc_container .tab-pane {
    margin-top: 10px;

}
    .item-subasta-data-location{

    display: block;
}
    .item-subasta-data-location .col-xs-12.text-right{
 margin-top: 10px;

}
            header ul.items_top_responsive{
            text-align: center;
        }
        div.logo {
		text-align: center;
		width: 100%;
		margin: auto;
		min-height: 90px;
	}
        .tabs-custom ul li{
            margin-bottom: 15px;
            flex-basis: 100%;
        }

        .button-follow-responsive {
            opacity: 1;
            background: transparent;
            z-index: 100;
            display: flex;
            align-items: center;
            top: -20px;
            left: -3px;


        }
        #add_fav.btn i,
        #del_fav.btn i{
            font-size: 20px;
        }
        div.module_footer{
            text-align: center;
        }

        .save_orders span.text-uppercase {

            font-size: 30px;
        }
        .group-pujar-custom{
            display: block;
        }
        .group-pujar-custom .input-group-btn #pujar_ordenes_w,

        .group-pujar-custom #bid_modal_pujar{
            border-radius: 0;
        }
}
/* Portrait phones and smaller */
@media (max-width: 480px) {
    .vendemos-home-desc a {

    padding: 5px 7px;

    font-size: 9px;

}
div.newsletter div.input-group {

    display: block;
}

.newsletter-button {

    margin-left: 0px;
    padding: 6px 40px;

    margin-top: 18px;
}

div.newsletter div.tit_newsletter {
    font-size: 18px;
}

	div.form-group-custom label {
		padding-top: 24px;
		padding-bottom: 8px;
	}
	div.newsletter {
		min-height: 260px;
	}
	footer {
	 	padding-bottom: 70px;
	}
	#owl-carousel div.owl-prev {
		left: 0;
		position: absolute;
		top: 30px;
	}
	#owl-carousel div.owl-next {
		right: 0;
		position: absolute;
		top: 30px;
	}
	#owl-carousel div.owl-prev, #owl-carousel div.owl-next {
		font-size: 40px;
		border-radius: 0;
		background-color: transparent;
	}
	div.module_footer {
		margin-bottom: 80px;
	}
	.btn-registro {
		width: 100%
	}
        .sub-o{
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
        }
        .content_item_mini a .retired{
            font-size: 10px;
            right: 14px;
        }

        .address-email a{
            font-size: 20px;
        }

        .address-phone {

    font-size: 18px;

}

	.account-item-border {
		border: none;
	}

	.margin-auto-xs {
		margin: auto;
	}

	.d-block-xs {
		display: block !important;
	}

	.text-center-xs {
		text-align: center;
	}

	/* Margin top */
	.mt-xs-1 {
		margin-top: 1rem;
	}
	.mt-xs-2 {
		margin-top: 2rem;
	}
	.mt-xs-3 {
		margin-top: 3rem;
	}
	.mt-xs-4 {
		margin-top: 4rem;
	}
	.mt-xs-5 {
		margin-top: 5rem;
	}

	/* Margin bottom */
	.mb-xs-1 {
		margin-bottom: 1rem;
	}
	.mb-xs-2 {
		margin-bottom: 2rem;
	}
	.mb-xs-3 {
		margin-bottom: 3rem;
	}
	.mb-xs-4 {
		margin-bottom: 4rem;
	}
	.mb-xs-5 {
		margin-bottom: 5rem;
	}

	/* Margin left */
	.ml-xs-1 {
		margin-left: 1rem;
	}
	.ml-xs-2 {
		margin-left: 2rem;
	}
	.ml-xs-3 {
		margin-left: 3rem;
	}
	.ml-xs-4 {
		margin-left: 4rem;
	}
	.ml-xs-5 {
		margin-left: 5rem;
	}

	/* Margin right */
	.mr-xs-1 {
		margin-right: 1rem;
	}
	.mr-xs-2 {
		margin-right: 2rem;
	}
	.mr-xs-3 {
		margin-right: 3rem;
	}
	.mr-xs-4 {
		margin-right: 4rem;
	}
	.mr-xs-5 {
		margin-right: 5rem;
	}

}
