/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06-nov-2019, 14:01:00
    Author     : enadal
*/
.loader{
    width: 100px;
    height: 100px;
    position: relative;
    margin: 0 auto;
}

.loaderSpan{
    font-weight: bold;
    font-size: 30px; 
    color: #888;
}

#loader-2 span{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #888;
    margin: 35px 5px;
}

#loader-2 span:nth-child(1){
    animation: bounce 1s ease-in-out infinite;
}

#loader-2 span:nth-child(2){
    animation: bounce 1s ease-in-out 0.33s infinite;
}

#loader-2 span:nth-child(3){
    animation: bounce 1s ease-in-out 0.66s infinite;
}

@keyframes bounce{
    0%, 75%, 100%{
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }

    25%{
        -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        -o-transform: translateY(-20px);
        transform: translateY(-20px);
    }
}

