

form input[type="text"], form input[type="email"], form input[type="password"], form input[type="text"],select.form-control, form input[type="date"], form input[type="hour"] {
	border:#CCC 1px solid;

}

form input[type="checkbox"] {
	top:2px;
}

#registerForm label {margin-top:15px;}
.btn-primary {background:#20B2AA;color:#FFF;padding:12px 45px;border:0;border-radius:0;}
#registerForm .tipo_usuario div.selected {border-top:#20B2AA 5px solid}
#registerForm .tipo_sexo div.selected {border-top:5px solid #20B2AA}
.popover {display:none !important;}
.has-error {border:#C00 1px solid !important;}
.tit {font-weight:bold;font-size:18px;margin-bottom:30px;}

#registerForm .datos_condiciones {padding-top:0;}
#registerForm .datos_newsletter {padding:10px 0 0 0;}
#registerForm .datos_contacto div .form-group {padding:0;margin-bottom:-10px;}
#registerForm .eye-password {top:48px;}