/*
|--------------------------------------------------------------------------
| General
|--------------------------------------------------------------------------
*/

:root {
	--font-prominent: "ivypresto-headline", serif;
	--font-basic: "forma-djr-deck", sans-serif;
}

body {
	font-family: var(--font-basic);
	--font-size-responive: clamp(3.125rem, 0.2841rem + 3.7879vw, 9.375rem);
	height: 100vh;
	font-size: var(--font-size-responive);
	line-height: 1;
	text-transform: uppercase;
	margin-bottom: 0 !important;
}

body > .tiempo_real_content {
	grid-template-rows: min-content auto auto repeat(2, .7fr) 1fr;
}

header.enc > * {
	flex: 1;
}

.enc h1 {
	visibility: hidden;
}

header .brand img {
	max-height: 1.5em;
}

.lot {
	font-weight: 600;
}

.starting-price {
	font-family: var(--font-prominent);
}

.current-bid {
	background-color: rgb(240 238 228);
}

.tiempo_real_content>div:not(#main_lot_box, .lot, .last-bids-container) {
	font-size: .8em;
}


