
:root {

    --primary-color: #414145;
    --secondary-color: #00664F;
    --complement-color: #414145;

    --extra-color: #00664F;
    --primary-color-text: #707070;
	--secondary-color-text: #46494f;

	--btn-primary-background: #888888;
	--btn-primary-background-hover: #686868;
	--btn-primary-text: white;
	--btn-primary-text-hover: white;

	--btn-secondary-background: white;
	--btn-secondary-background-hover: #414145;
	--btn-secondary-text: #46494f;
	--btn-secondary-text-hover: white;

	--newsletter-background: black;
	--newsletter-text: white;
	--newsletter-placeholder: #d4d4d4;
	--newsletter-input-border: #888888;
	--newsletter-input-text: white;

	--footer-background: white;
	--footer-titles-color: #707070;
	--footer-links-color: #707070;
	--footer-links-color-hover: #b4b4b4;

	--footer-sociallinks-background: white;
	--footer-sociallinks-textcolor: #707070;

	--filter-background: #414145;

}


header{
	background:#000;
	box-shadow: 0px 0px 15px #ccc;
}

header.fixed nav {
	background: #000;
  }

header .logo-company {
	filter: invert(1);
}


a.link-header, a.link-header:hover, .btn_login_desktop, .btn_login_desktop:hover{
	color:#FFF;
}

.mega-menu a:hover {
    background: #000;
    color: #ffffff;
}

.link-header span:before {
/* para que no aparezca */
    opacity:0;

}
.menu-principal-search{
	background:#FFF;
}

.my-account {
      color: #FFF;
}

#formsearchResponsive .btn-custom-search{
	background: var(--primary-color);
	color: #FFF;
}

.menu-responsive .color-letter, .menu-responsive  .color-letter:hover {
	color:#FFF;
}

.item_lot {
	min-height: 400px;

}

.item_lot .salida-time {
	background: var(--secondary-color);
}

.titleVendidasHome {
	font-size: 19px;
	color: #54595f;
	font-weight: bold;
	margin: 30px;
}
.vendidosHomeBanner {
	text-align: center;
}

.menu-principal-search.active {

    height: 80px;
}

.links-sections {
	display: block;
    font-size: 12px;
    margin: 10px;
    text-align: center;
}

.column_banner  {
padding:0;
}


.close-menu-reponsive {
color: #DDD;
}




#formsearchResponsive .form-group .input-custom {
	color:black;
}

.menu-principal-content li .submenuDefault {
	border: 5px;
	background-color: black;
}

.submenuDefault a {
	color: white;
}

.cantidad-res {
    margin-left: 10px;
    border: 1px solid #bdbcbc;
    padding: 10px;
}
.gridFilterHistoric {
    color: var(--secondary-color);
    margin-left: 20px;
    cursor: pointer;
    border: 1px solid #bdbcbc;
    padding: 10px;
    background: #DBDBDB;
}

.auction-item-img {
	height: 132px;
}

.auction-item-img img {
	height: 100%;
	width: 100%;
	object-fit: contain;
}

.aution-title {
	text-align: center;
	font-weight: 600;
	line-height: 1.5;
	margin: 0;
	padding: 1rem 0;
}

.auction-content-block {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 1rem 0;
}

.auction-dates {
	display: grid;
	place-content: center;
	text-align: center;
}

.auction-buttons {
	display: flex;
    flex-direction: column;
    justify-content: center;
	padding: 1rem 0;
}

.auction-content-block .snippet_documentacion {
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
	height: auto;
    padding: 20px;
    background-color: #fafafa;
}

.auction-image img {
	margin: auto;
}

.contenido-web img {
	max-width: 100%;
}

.button-newsletter:hover {
	background-color: var(--btn-primary-background-hover);
}

.newsletter-placeholder {
	opacity: 0.8;
}

.lotes-destacados-principal-title, .lotes-destacados-principal-lot {
	padding: 0px;
}

.banner_title {
	font-size: 30px;
    font-weight: 500;
	color: var(--primary-color-text);
}
