.slick-loading .slick-list {
  background: #fff url('./ajax-loader.gif') center center no-repeat
}
@font-face {
  font-family: 'slick';
  font-weight: normal;
  font-style: normal;
  src: url('./fonts/slick.eot');
  src: url('./fonts/slick.eot?#iefix') format("embedded-opentype"), url('./fonts/slick.woff') format("woff"), url('./fonts/slick.ttf') format("truetype"), url('./fonts/slick.svg#slick') format("svg")
}
.slick-prev, .slick-next {
  font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    padding: 0;
    margin-top: -10px\9;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: var(--azul);
    border: none;
    outline: none;
    background: rgba(255,255,255,.4);
    /* border: 2px solid var(--azul); */
    /* border-radius: 15px; */
    z-index: 99;
}
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
  outline: none;
  background: rgba(255,255,255,.6);
}
.slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before {
  opacity: 1
}
.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
  opacity: .25
}
.slick-prev:before, .slick-next:before {
  font-family: 'slick';
  font-size: 30px;
  line-height: 1;
  opacity: 1;
  color: var(--azul);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.slick-prev:before {
	content: '';
    border-top: 2px solid var(--azul);
    border-right: 2px solid var(--azul);
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    border-style: solid;
    border-width: 0.15em 0.15em 0 0;
    content: '';
    display: inline-block;
    height: 0.45em;
    left: 0.05em;
    position: relative;
    top: 0.02em;
    transform: rotate(-135deg);
    vertical-align: top;
    width: 0.45em;
	transition: all .3s ease-out;
}
.slick-next:before {
	content: '';
    border-top: 2px solid var(--azul);
    border-right: 2px solid var(--azul);
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    border-style: solid;
    border-width: 0.15em 0.15em 0 0;
    content: '';
    display: inline-block;
    height: 0.45em;
    right: 0.05em;
    position: relative;
    top: 0.02em;
    transform: rotate(45deg);
    vertical-align: top;
    width: 0.45em;
	transition: all .3s ease-out;
}



.slick-prev {
  left: 25px;
	  transition: all .3s ease-out;
}
[dir='rtl'] .slick-prev {
  right: 25px;
  left: auto
}

[dir='rtl'] .slick-prev:before {
  content: '→'
}
.slick-next {
  right: 25px;
	transition: all .3s ease-out;
}
[dir='rtl'] .slick-next {
  right: auto;
  left: 25px
}

[dir='rtl'] .slick-next:before {
  content: '←'
}
.slick-slider {
}
.slick-dots {
  position: absolute;
   bottom: -3rem;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
  z-index: 3;

}

@media (min-width: 768px) {
  .slick-dots {
    text-align: left;
     bottom: -5rem;
  }
}
@media (min-width: 992px) {
  .slick-dots {
    text-align: center;
    bottom: -5rem;
  }
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 30px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer
}
.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 12px;
  height: 10px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;

}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1
}
.slick-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
  content: '';
  text-align: center;
  opacity: 1;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: block;
  background: transparent;
	border: 2px solid white;
	border-radius: 50%;
 /* box-shadow: 0 0 6px rgba(0,0,0,.6);*/
}
.slick-dots li.slick-active button:before {
  opacity: 1;
	 height: 12px;
	background: white;
}