/*
.sidebar-right{
	top: 110px;
	transition: 0.6s;
}

.sidebar-right.opened{
	margin-right: 0;
}

.sidebar-left, .page-header, .content-body{
	transition: 0.6s;
}
*/
/* Reports */
.row-reports{
	background-color: #DDD;
}
.body-reports{
	background-color: #FFF;
}


.menu-reports{
	padding: 5px;
	list-style: none;

}

.menu-reports ul{
	padding: 0;
}

.menu-reports li{
	position: relative;
	display: block;
}

.menu-reports li a{
	text-decoration: none;
	color: #444;
}


#dtreports .td_text{
	text-align: center;
}

#dtreports  .td_number{
	text-align: right;
	padding-right: 30px;
}

#dtreports thead  th  {
	text-align: center;
	background: #494949;
	color: #FFF;
}
#dtreports tfoot  th  {
	background: #C4C4C4;
	color: #444;
}
#dtreports tbody tr{
	background: #e5e5e5;

}

#dtreports .subtable th {
	text-align: center;
	background: #5D5D5D;
	color: #FFF;
}

#dtreports .subtable tbody tr{
	background: #f2dfd6;

}
