@font-face {
	font-family: "Montserrat";
	src: url("/themes/b2b/assets/fonts/Montserrat-VariableFont_wght.woff2") format("woff2");
	font-weight: 100 900;
	font-display: swap;
}

@font-face {
	font-family: "Montserrat";
	src: url("/themes/b2b/assets/fonts/Montserrat-Italic-VariableFont_wght.woff2") format("woff2");
	font-style: italic;
	font-weight: 100 900;
	font-display: swap;
}

@font-face {
	font-family: "Poppins";
	src: url("/themes/b2b/assets/fonts/Poppins-Light.ttf") format("truetype");
	font-weight: 300;
	font-display: swap;
}

@font-face {
	font-family: "Poppins";
	src: url("/themes/b2b/assets/fonts/Poppins-LightItalic.ttf") format("truetype");
	font-style: italic;
	font-weight: 300;
	font-display: swap;
}

@font-face {
	font-family: "Poppins";
	src: url("/themes/b2b/assets/fonts/Poppins-Regular.ttf") format("truetype");
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: "Poppins";
	src: url("/themes/b2b/assets/fonts/Poppins-Italic.ttf") format("truetype");
	font-style: italic;
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: "Poppins";
	src: url("/themes/b2b/assets/fonts/Poppins-Medium.ttf") format("truetype");
	font-weight: 500;
	font-display: swap;
}

@font-face {
	font-family: "Poppins";
	src: url("/themes/b2b/assets/fonts/Poppins-MediumItalic.ttf") format("truetype");
	font-style: italic;
	font-weight: 500;
	font-display: swap;
}

@font-face {
	font-family: "Poppins";
	src: url("/themes/b2b/assets/fonts/Poppins-SemiBold.ttf") format("truetype");
	font-weight: 600;
	font-display: swap;
}

@font-face {
	font-family: "Poppins";
	src: url("/themes/b2b/assets/fonts/Poppins-SemiBoldItalic.ttf") format("truetype");
	font-style: italic;
	font-weight: 600;
	font-display: swap;
}

@font-face {
	font-family: "Poppins";
	src: url("/themes/b2b/assets/fonts/Poppins-Bold.ttf") format("truetype");
	font-weight: 700;
	font-display: swap;
}

@font-face {
	font-family: "Poppins";
	src: url("/themes/b2b/assets/fonts/Poppins-BoldItalic.ttf") format("truetype");
	font-style: italic;
	font-weight: 700;
	font-display: swap;
}

@font-face {
	font-family: "Poppins";
	src: url("/themes/b2b/assets/fonts/Poppins-ExtraBold.woff2") format("woff2");
	font-weight: 900;
	font-display: swap;
}

@font-face {
	font-family: "Poppins";
	src: url("/themes/b2b/assets/fonts/Poppins-ExtraBoldItalic.woff2") format("woff2");
	font-style: italic;
	font-weight: 900;
	font-display: swap;
}


:root {
	/* h-> color, s-> saturacion, l-> brillo / a-> alpha */
	/*en pruebas*/
	--lb-color-primary-hsl: 211.45deg 72.09%;
	--lb-color-primary-rgb: 107 166 231;
	--lb-color-primary: #6BA6E7;
	--lb-color-primary-light: #7BB6F7;
	--lb-color-primary-dark: #5B96D7;
	--lb-color-primary-contrast: #fff;

	--lb-color-secondary: #333;
	--lb-color-secondary-dark: #000;
	--lb-color-secondary-contrast: #fff;

	--lb-color-backgorund: #cd212212;

	--lb-text-color: #333;
	--lb-text-color-rgb: 51 51 51;
	--lb-text-color-primary: rgb(var(--lb-text-color-rgb));
	--lb-text-color-disabled: rgb(var(--lb-text-color-rgb) / 0.38);

	--lb-border-radius: 0;
	/*
	|--------------------------------------------------------------------------
	| Overwritte Boostrap
	|--------------------------------------------------------------------------
	*/
	--bs-font-sans-serif: 'Poppins', sans-serif;
	--bs-accordion-transition: color 1s ease-in-out, background-color 1s ease-in-out, border-color 1s ease-in-out, box-shadow 1s ease-in-out, border-radius 1s ease;

	--bs-body-font-size: 1rem;
	--bs-body-font-weight: 400;
	--bs-body-line-height: 1.5;

	--bs-border-color: #eee;

	--bs-border-color-translucent: rgb(0 0 0 / 0.175);
	--bs-border-radius: var(--lb-border-radius, 0.375rem);
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

body > main {
	flex: 1;
}

h1 {
	font-family: var(--bs-font-sans-serif);
	font-weight: 900;
	font-style: italic;

}

.btn {
	font-family: 'Montserrat', serif;
	text-transform: uppercase;
	font-weight: 600;
	text-decoration: none;
}

.btn:hover, .btn:focus {
	text-decoration: none;
}


main {
	margin-bottom: 3rem;
	margin-top: 3rem;
}

body>footer {
	background-color: #f8f8f8;
	--border-color: #eee;
}

header {
	position: sticky;
	top: 0;
	z-index: 3;
	background: rgb(255, 255, 255, .9);
}

header .navbar {
	-webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

header .nav-link {
	--bs-nav-link-color: var(--lb-color-primary);
	--bs-nav-link-hover-color: #808080;
	--bs-nav-link-font-weight: 400;
	text-transform: uppercase;
	transition: color 300ms linear;
}

header .nav-link:hover,
header .nav-link:focus {
	text-decoration: none;
}

header .navbar-brand img {
	height: 30px;
	width: auto;
}

footer .nav-link {
	--bs-nav-link-color: var(--lb-color-primary);
	--bs-nav-link-hover-color: #808080;
	transition: color 300ms linear;
}

footer .btn.nav-link {
	text-transform: lowercase;
	font-family: inherit;
	font-weight: inherit;
}

footer .btn.nav-link::first-letter {
	text-transform: uppercase;
}

.auctions-wrapper .card-custom-large {
	min-height: 250px;
}

.auctions-wrapper .card-custom-large footer {
	display: none;
}

.section-grid-lots {
	grid-gap: 4rem 2rem;
}

button[data-grid] {
	display: none !important;
}

.ficha-grid .categories {
	display: none;
}

.ficha-grid section.ficha-share {
	display: none;
}

@media(min-width: 1200px) {
	.ficha-grid {
		grid-template-columns: 2fr 3fr 2fr;
		gap: 4rem 3rem;
	}
}

.static-page {
	max-width: 95ch;
}

.static-page *:not(span, i, b) {
	margin-bottom: 1rem;
}
